:root {
  --hex-font-size: 0.7rem;
  --border-color: #f0f0f0;
  --color-text-white: #fefefe;
  --color-text-gray: var(--accent-dark);
}

.Colors {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--space-small);
}

.Color {
  width: var(--color-width);
  height: var(--color-height);
  display: inline-block;
  margin-right: 20px var(--space-medium);
  border: 1px solid var(--border-color);
}

.Color__bg {
  height: 3rem;
  position: relative;
  border-bottom: solid 1px var(--border-color);
}

.Color__title {
  display: inline-block;
  font-size: var(--text-size-smallest);
  padding-left: var(--space-half);
}

.Color__hex {
  font-size: var(--hex-font-size);
  position: absolute;
  left: var(--space-half);
  bottom: var(--space-half);
}

.Color__hex--gray {
  color: var(--color-text-gray);
}

.Color__hex--white {
  color: var(--color-text-white);
}

@media (max-width: 42rem) {
  .Colors {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 36rem) {
  .Colors {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 24rem) {
  .Colors {
    grid-template-columns: repeat(1, 1fr);
  }
}
