:root {
  --example-border-color: var(--gray-40);
  --example-background-color: #fff;
  --example-code-background-color: var(--gray-20);
}

body.cauldron--theme-dark {
  --example-border-color: var(--stroke-dark);
  --example-background-color: var(--dark-workspace-color);
  --example-code-background-color: var(--accent-dark);
}

.Component__example {
  border-radius: 3px;
  border: 1px solid var(--example-border-color);
  background-color: var(--example-background-color);
  padding: var(--space-medium);
}

.Component__example + .Component__example {
  margin-top: var(--space-medium);
}

.Component__example > :first-child {
  margin: calc(var(--space-medium) * -1);
  padding: var(--space-small);
}

.Component__example pre.Code {
  margin: 0;
  border: none;
  font-size: var(--text-size-smaller);
  flex: 1;
}

.Component__example__code {
  background-color: var(--example-code-background-color);
  padding: var(--space-small);
  margin: calc(var(--space-medium) * -1);
  margin-top: var(--space-medium);
  border-top: 1px solid var(--example-border-color);
  display: flex;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.Component__example > p:last-child {
  margin: 0;
}

.Component__example__react .Notice {
  line-height: 1.618;
}

/* When displaying Scrim within an example, we want it to be constrained inside
 * the boundaries of the component and not the viewport */

.Component__example__react .Scrim {
  position: absolute;
}

.Component__example:has(.Scrim) {
  position: relative;
}

.Component__example__react:has(.Scrim) {
  position: relative;
  width: calc(100% + var(--space-medium) * 2);
}

/* When displaying TopBar within an example, we want it to be constrained inside
 * the boundaries of the component and not the viewport */

.Component__example__react .TopBar {
  position: relative;
}

/* Invert the default colors of MenuItem logo so that it contrasts against the background */

.cauldron--theme-light .Component__example__react .MenuItem__logo img {
  filter: invert(1);
}

/* Prevents duplicate scrollbars in sortable tables with offscreen elements*/

.Component__example__react:has(.Table) {
  position: relative;
}

/* Progress Example for TooltipTabstop */

.Component__example__react .ExampleProgress {
  list-style-type: none;
  display: flex;
  gap: 0.5em;
  margin: 0;
  padding: 0;
  --example-progress-text-color: var(--accent-dark);
  --example-progress-background-color: var(--accent-light);
}

.cauldron--theme-dark .Component__example__react .ExampleProgress {
  --example-progress-text-color: var(--gray-10);
  --example-progress-background-color: var(--accent-dark);
}

.Component__example__react ol.ExampleProgress li button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.4rem;
  width: 1.4rem;
  border-radius: 50%;
  color: var(--example-progress-text-color);
  background-color: var(--example-progress-background-color);
}
