.Navigation {
  --docs-navigation-background-color: #fff;
  --docs-navigation-border-color: var(--stroke-light);
  --docs-navigation-link-active-background-color: var(--accent-primary);
  --docs-navigation-link-active-text-color: #fff;
}

.cauldron--theme-dark .Navigation {
  --docs-navigation-background-color: var(--accent-medium);
  --docs-navigation-border-color: var(--stroke-dark);
  --docs-navigation-link-active-background-color: var(--accent-light);
  --docs-navigation-link-active-text-color: var(--accent-dark);
}

.Navigation {
  width: var(--menu-width);
  background-color: var(--docs-navigation-background-color);
  padding: var(--space-half);
}

.Navigation h2 {
  padding: 0 var(--space-smallest);
  margin: var(--space-smallest) 0;
  font-size: var(--text-small-medium);
  display: flex;
  align-items: center;
  gap: var(--space-half);
}

.Navigation h2:nth-of-type(1n + 2) {
  margin-top: var(--space-small);
  padding-top: var(--space-small);
  border-top: 1px solid var(--docs-navigation-border-color);
}

.Navigation ul + h2 {
  margin-top: var(--space-large);
}

.Navigation li {
  padding: 0 var(--space-smaller);
  font-weight: var(--font-weight-medium);
}

.Navigation a {
  display: block;
  padding: var(--space-smallest);
  font-weight: var(--font-weight-normal);
  border-radius: 3px;
}

.Navigation a[aria-current='page'] {
  color: var(--docs-navigation-link-active-text-color);
  background-color: var(--docs-navigation-link-active-background-color);
  text-decoration: none;
}
