:root {
  --spacing-list-number-color: #cdcdcd;
  --spacing-list-name-color: #0086b3;
  --spacing-list-base-color: #5e5e5e;
  --spacing-list-base-size: 14px;
}

.Spacing ol {
  list-style-type: decimal;
}

.Spacing li {
  padding-left: var(--space-large);
  color: var(--spacing-list-base-color);
  font-size: var(--spacing-list-base-size);
}

.Spacing .Spacing__name {
  color: var(--spacing-list-name-color);
}

.Spacing li::marker {
  color: var(--spacing-list-number-color);
  margin: 5px 0;
}
