a.Button--primary,
a.Button--secondary,
a.Button--thin {
  font-weight: var(--font-weight-medium);
}

a.Button--primary,
a.Button--secondary {
  text-decoration: none;
}

a.Button--thin {
  padding: 0 var(--space-small);
}
