# Reference - https://help.github.com/articles/about-code-owners/

# Request a review from cauldron codeowners on all PRs
* @dequelabs/cauldron-codeowners

# Request a review from either design team or codeowner for screenshots
/e2e/screenshots/*.png @dequelabs/cauldron-codeowners @dequelabs/design-team

# Request a review from cauldron team on docs PRs
/docs/ @dequelabs/cauldron
