{
  "presets": ["@babel/env", "@babel/react", "@babel/preset-typescript", "next/babel"],
  "plugins": [
    "transform-export-extensions",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-export-default-from"
  ]
}
