.select-demo .select-demo-button.Button--secondary {
  margin: 5px 0;
}

/*
  TODO peel this back when this gets resolved
  https://github.com/dequelabs/pattern-library/issues/59
 */
.select-demo [role='textbox'],
.select-demo [role='textbox']:hover {
  border: 0;
}
