.Demo pre {
  max-width: 600px;
  padding: 15px;
}

.Demo-props .DataList {
  display: none;
}

@media (max-width: 630px) {
  .Demo-props .not-collapsed .DataList {
    display: block;
  }

  .Demo-props .Table {
    display: none;
  }
}

@media (max-width: 450px) {
  .Demo-props .not-collapsed .DataList {
    display: none;
  }

  .Demo-props .collapsed .DataList {
    display: block;
  }

  .Demo-props .Table {
    display: none;
  }
}
