.Demo pre {
  max-width: 600px;
  padding: 15px;
}

.Demo-props .DescriptionList {
  display: none;
}

.Demo-props .DescriptionList__details {
  word-break: break-word;
}

@media (max-width: 730px) {
  .Demo-props .not-collapsed .DescriptionList {
    display: block;
  }

  .Demo-props .Table {
    display: none;
  }
}

@media (max-width: 450px) {
  .Demo-props .not-collapsed .DescriptionList {
    display: none;
  }

  .Demo-props .collapsed .DescriptionList {
    display: block;
  }

  .Demo-props .Table {
    display: none;
  }

  .Demo ul {
    margin: 0;
  }
}
