.Accordion__trigger,
.Accordion > .ExpandCollapse__trigger {
  background-color: var(--white);
  padding: 12px;
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 3px;
  border: 1px var(--gray-40) solid;
  background-size: cover;
  font-size: var(--text-size-small);
  margin-top: 16px;
  color: var(--gray-90);
  text-decoration: underline solid var(--gray-90);
}

button.Accordion__trigger[aria-expanded='true'] {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  background-color: var(--gray-20);
}

button.Accordion__trigger:hover {
  box-shadow: inset 3.5px 0px var(--accent-primary);
  color: var(--accent-primary);
  transition: all 0.2s ease-in-out;
  text-decoration: underline solid var(--accent-primary);
}

button.Accordion__trigger:hover .Icon {
  color: var(--gray-90);
}

.Accordion__panel {
  background-color: var(--white);
  color: var(--gray-90);
  padding: var(--space-small);
  border: 1px solid var(--gray-40);
  border-top: 0px;
  border-color: var(--gray-40);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15);
}

.Accordion__panel[aria-expanded='true'] {
  margin: 0 auto;
}

.cauldron--theme-dark button.Accordion__trigger {
  color: var(--white);
  background-color: var(--accent-medium);
  border: 1px var(--stroke-dark) solid;
  text-decoration: underline solid var(--white);
}

.cauldron--theme-dark button.Accordion__trigger:hover .Icon {
  color: var(--white);
}

.cauldron--theme-dark button.Accordion__trigger[aria-expanded='true'] {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  background-color: var(--accent-dark);
}

.cauldron--theme-dark button.Accordion__trigger:hover {
  box-shadow: inset 3.5px 0px var(--accent-info);
  color: var(--accent-light);
  text-decoration: underline solid var(--accent-light);
}

.cauldron--theme-dark .Accordion__panel {
  background-color: var(--accent-medium);
  border-color: var(--stroke-dark);
  color: var(--white);
}

.cauldron--theme-dark .underline {
  text-decoration: underline solid var(--white);
}
