.Accordion__container {
  max-width: 600px;
}

.Accordion__trigger {
  background-color: var(--white);
  padding: 11px 12px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 3px;
  border: 1px var(--gray-40) solid;
  background-size: cover;
  font-size: var(--text-size-small);
  margin-top: 7px;
}

.expanded {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  background-color: var(--gray-20);
}

button.Accordion__trigger:hover {
  box-shadow: inset 3.5px 0px var(--accent-primary);
  color: var(--gray-90);
  transition: all 0.2s ease-in-out;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 2px;
}

.underline {
  text-decoration: underline solid var(--gray-90);
}

.no-underline {
  text-decoration: none;
}

.Accordion__panel {
  background-color: var(--white);
  color: var(--white);
  padding: 16px;
  height: 300px;
  border-left: 1px;
  border-bottom: 1px;
  border-right: 1px;
  border-style: solid;
  border-top: 0px;
  border-color: var(--gray-40);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.ExpandCollapse__panel {
  max-width: calc(100% - 0.5px);
  margin: 0 auto;
}

.Accordion__item {
  width: 100%;
}

.Accordion__panel--expanded {
  margin: 0 auto;
}

.uppercase {
  text-transform: uppercase;
}

.checkbox-demo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Checkbox {
  margin-bottom: 0px;
}

.Tooltip {
  background-color: var(--accent-medium);
}

.cauldron--theme-dark {
  --table-header-text-color: var(--white);
  --table-header-background-color: var(--accent-dark);
  --table-cell-text-color: var(--accent-light);
  --table-cell-background-color: var(--accent-medium);
}

.cauldron--theme-dark .Accordion__trigger {
  color: var(--white);
  background-color: var(--accent-medium);
  border: 1px var(--stroke-dark) solid;
}

.cauldron--theme-dark .expanded {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  background-color: var(--accent-dark);
}

.cauldron--theme-dark button.Accordion__trigger:hover {
  box-shadow: inset 3.5px 0px var(--accent-info);
  color: #ffffff;
}

.cauldron--theme-dark .Accordion__panel {
  background-color: var(--accent-medium);
  color: #ffffff;
}

.cauldron--theme-dark .underline {
  text-decoration: underline solid var(--white);
}
