:root {
  --actionlist-background-color: #fff;
  --actionlist-text-color: var(--gray-90);
  --actionlist-group-label-font-size: var(--text-size-base);
  --actionlist-item-hover-background-color: var(--gray-20);
  --actionlist-item-description-color: var(--gray-60);
  --actionlist-item-icon-color: var(--gray-60);
  --actionlist-item-disabled-text-color: var(--gray-40);
}

.cauldron--theme-dark {
  --actionlist-background-color: var(--accent-medium);
  --actionlist-text-color: #fff;
  --actionlist-item-description-color: var(--accent-light);
  --actionlist-item-icon-color: var(--accent-light);
  --actionlist-item-hover-background-color: var(--accent-dark);
  --actionlist-item-disabled-text-color: rgba(255, 255, 255, 0.25);
}

.ActionList,
.ActionList:hover,
.ActionList:focus,
.ActionList:focus:hover {
  color: var(--actionlist-text-color);
  border: none;
  box-shadow: none;
  background: none;
  margin: 0;
}

.ActionList li {
  list-style-type: none;
}

.ActionMenu > .ActionList {
  outline: none;
}

.ActionListGroup,
.ActionListSeparator {
  padding-bottom: var(--space-smallest);
  margin-bottom: var(--space-smallest);
  border-bottom: 1px solid var(--action-menu-border-color);
}

.ActionList > li:last-child .ActionListGroup {
  border-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

.ActionListGroup > li:first-child {
  font-weight: var(--font-weight-medium);
  font-size: var(--actionlist-group-label-font-size);
  padding: var(--space-smallest) var(--space-small);
}

.ActionList:focus {
  outline: none;
}

:where(.ActionList:focus-within) .ActionListItem--active {
  position: relative;
  box-shadow: inset 0 0 0 2px var(--focus);
  z-index: 1;
}

.ActionListItem {
  padding: var(--space-smallest);
}

.ActionListItem {
  --icon-size: 1rem;
  --icon-spacing: 1.2rem;
  display: grid;
  align-items: center;
  gap: var(--space-half);
  margin: 0 var(--space-smallest);
  border-radius: 4px;
  cursor: pointer;
}

.ActionListItem:is([aria-disabled='true']) {
  color: var(--actionlist-item-disabled-text-color);
  cursor: not-allowed;
}

.ActionListItem:hover:not([aria-disabled='true']) {
  background-color: var(--actionlist-item-hover-background-color);
}

.ActionListItem__selection,
.ActionListItem__leadingIcon,
.ActionListItem__trailingIcon {
  width: var(--icon-spacing);
}

:where(.ActionListItem:not([aria-disabled='true']))
  :is(
    .ActionListItem__selection,
    .ActionListItem__leadingIcon,
    .ActionListItem__trailingIcon
  ) {
  color: var(--actionlist-item-icon-color);
}

.ActionListItem:has(> .ActionListItem__selection) {
  grid-template-columns: var(--icon-spacing) auto;
}

:where(.ActionListItem:has(.ActionListItem__description))
  :is(
    .ActionListItem__selection,
    .ActionListItem__leadingIcon,
    .ActionListItem__trailingIcon
  ) {
  grid-row: span 2;
  align-self: start;
}

:where(.ActionListItem:has(> .ActionListItem__selection))
  .ActionListItem__description,
:where(
    .ActionListItem:has(> .ActionListItem__leadingIcon):has(
        > .ActionListItem__description
      )
  )
  .ActionListItem__description {
  grid-column: 2;
}

:where(
    .ActionListItem:has(> .ActionListItem__selection):has(
        > .ActionListItem__leadingIcon
      )
  )
  .ActionListItem__description {
  grid-column: 3;
}

:where(
    .ActionListItem:has(> .ActionListItem__trailingIcon):has(
        > .ActionListItem__description
      )
  )
  .ActionListItem__description {
  grid-row: 2;
}

.ActionListItem:has(> .ActionListItem__leadingIcon) {
  grid-template-columns: var(--icon-spacing) auto;
}

.ActionListItem:has(> .ActionListItem__trailingIcon) {
  grid-template-columns: auto var(--icon-spacing);
}

.ActionListItem:has(> .ActionListItem__leadingIcon):has(
    > .ActionListItem__trailingIcon
  ) {
  grid-template-columns: var(--icon-spacing) auto var(--icon-spacing);
}

.ActionListItem:has(> .ActionListItem__selection):has(
    > .ActionListItem__leadingIcon
  ) {
  grid-template-columns: var(--icon-spacing) var(--icon-spacing) auto;
}

.ActionListItem:has(> .ActionListItem__selection):has(
    > .ActionListItem__trailingIcon
  ) {
  grid-template-columns: var(--icon-spacing) auto var(--icon-spacing);
}

.ActionListItem:has(> .ActionListItem__selection):has(
    > .ActionListItem__leadingIcon
  ):has(> .ActionListItem__trailingIcon) {
  grid-template-columns: var(--icon-spacing) var(--icon-spacing) auto var(
      --icon-spacing
    );
}

:where(.ActionListItem:not([aria-checked='true'])) .ActionListItem__selection {
  visibility: hidden;
}

.ActionListItem__description {
  color: var(--actionlist-item-description-color);
}

:where(.ActionListItem:is([aria-disabled='true']))
  .ActionListItem__description {
  color: var(--actionlist-item-disabled-text-color);
}
