:root {
  --actionmenu-border-color: var(--gray-30);
  --actionmenu-background-color: #fff;
}

.cauldron--theme-dark {
  --actionmenu-background-color: var(--accent-medium);
}

.ActionMenu {
  border: 1px solid var(--actionmenu-border-color);
  background-color: var(--actionmenu-background-color);
  padding: var(--space-smallest) 0;
  border-radius: 8px;
  width: var(--actionmenu-width);
  min-width: var(--actionmenu-min-width, 10rem);
  max-height: var(--actionmenu-height);
  box-shadow: var(--drop-shadow-overlay);
  overflow-y: auto;
}
