:root {
  --alert-warning-header-icon-color: #d93251;
}

.Alert .Dialog__inner {
  width: 23rem;
  border: 4px solid var(--accent-primary);
}

.Alert .Dialog__header .Icon {
  padding-right: var(--space-smallest);
}

.Alert__warning .Dialog__inner {
  border: 4px solid var(--alert-warning-header-icon-color);
}

.Alert .Dialog__heading .Icon {
  color: var(--accent-primary);
}

.Alert__warning .Dialog__heading .Icon {
  color: var(--alert-warning-header-icon-color);
}

.Alert .Dialog__content {
  min-height: 5.75rem;
}

.Alert .Dialog__footer {
  border-top: none;
  padding-top: 0;
  display: flex;
  justify-content: center;
}
