:root {
  --alert-default-color: #3c7aae;
  --alert-warning-color: #d93251;

  --alert-default-color-dark: #6cdaf2;
  --alert-warning-color-dark: #fe6d6b;
}

.Alert .Dialog__header .Icon {
  padding-right: var(--space-smallest);
}

.Alert__default .Dialog__header .Icon {
  color: var(--alert-default-color);
}

.Alert__default .Dialog__inner {
  border: 3px solid var(--alert-default-color);
}

.Alert__warning .Dialog__header .Icon {
  color: var(--alert-warning-color);
}

.Alert__warning .Dialog__inner {
  border: 3px solid var(--alert-warning-color);
}

.Alert .Dialog__footer {
  border-top: none;
  padding-top: 0;
  display: flex;
  justify-content: center;
  background-color: transparent;
  padding: 0 var(--space-large) var(--space-large);
}

.cauldron--theme-dark .Alert__default .Dialog__header .Icon {
  color: var(--alert-default-color-dark);
}

.cauldron--theme-dark .Alert__default .Dialog__inner {
  border: 3px solid var(--alert-default-color-dark);
}

.cauldron--theme-dark .Alert__warning .Dialog__header .Icon {
  color: var(--alert-warning-color-dark);
}

.cauldron--theme-dark .Alert__warning .Dialog__inner {
  border: 3px solid var(--alert-warning-color-dark);
}

.cauldron--theme-dark .Alert .Dialog__footer {
  border-top: none;
  background: transparent;
}
