:root {
  --workspace-background-color: #f0f2f5;
}

.cauldron--theme-dark {
  --workspace-background-color: var(--dark-workspace-color);
  color-scheme: dark;
}

.cauldron--theme-light {
  color-scheme: light;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: var(--base-font-family);
  font-style: normal;
  font-weight: 400;
  color: var(--text-color-base);
  margin: 0;
  padding: 0;
  background-color: var(--workspace-background-color);
  font-size: var(--text-size-small);
}

:focus {
  outline: 2px solid var(--focus);
  outline-offset: var(--space-quarter);
}

h1 {
  margin: 0;
  padding: 18px 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
[role='heading'] {
  --heading-text-color: var(--header-text-color-dark);
  color: var(--heading-text-color);
}

ul {
  margin: 0;
  padding: 0;
}

button {
  font-family: var(--base-font-family);
  font-weight: 500;
}

button,
[role='button'] {
  display: inline-block;
  zoom: 1;
  line-height: normal;
  vertical-align: middle;
  text-align: center;
  user-select: none;
  -webkit-user-drag: none;
  box-sizing: border-box;
  border: 0;
}

a {
  color: var(--link-text-color);
  font-weight: var(--font-weight-medium);
}

p {
  line-height: var(--line-height-body);
}

.cauldron--theme-dark h1,
.cauldron--theme-dark h2,
.cauldron--theme-dark h3,
.cauldron--theme-dark h4,
.cauldron--theme-dark h5,
.cauldron--theme-dark h6,
.cauldron--theme-dark [role='heading'] {
  --heading-text-color: white;
}
