html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: var(--text-color-base);
  margin: 0;
  padding: 0;
  background-color: var(--workspace-background-color);
  font-size: var(--text-size-small);
}

:focus {
  outline: 2px solid var(--focus);
  outline-offset: var(--space-quarter);
}

h1 {
  margin: 0;
  padding: 18px 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
[role='heading'] {
  color: var(--header-text-color-dark);
}

ul {
  margin: 0;
  padding: 0;
}

button,
[role='button'] {
  display: inline-block;
  zoom: 1;
  line-height: normal;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  user-select: none;
  -webkit-user-drag: none;
  box-sizing: border-box;
  border: 0;
}

a {
  color: var(--link-text-color);
  font-weight: var(--font-weight-medium);
}

p {
  line-height: 1.618;
}
