.Breadcrumb ol {
  display: block;
  word-break: break-all;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.Breadcrumb__Separator {
  color: var(--gray-40);
  padding: 0 var(--space-half);
}

.Breadcrumb__Link {
  font-weight: 400;
  padding: 0;
  display: inline;
}

.Breadcrumb__Item {
  font-weight: 500;
  color: var(--link-text-color);
  display: inline;
}
