.Button--primary,
.Button--secondary,
.Button--clear,
.Button--error {
  min-width: 110px;
  border-radius: 18px;
  border: none;
  padding: var(--space-smallest);
  font-size: var(--text-size-small);
  box-sizing: border-box;
  padding: var(--space-smallest) var(--space-medium);
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.3);
  position: relative;
  margin: 0 auto;
  text-align: center;
  height: 36px;
  text-transform: uppercase;
}

.Button--primary:before,
.Button--secondary:before,
.Button--clear:before,
.Button--error:before {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: -4px 0 transparent;
  top: 3px;
  left: 8px;
}

.Button--primary:after,
.Button--secondary:after,
.Button--clear:after,
.Button--error:after {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 4px 0 transparent;
  top: 3px;
  right: 8px;
}

.Button--primary:hover,
.Button--secondary:hover,
.Button--clear:hover,
.Button--error:hover {
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.4);
}

.Button--primary:focus,
.Button--secondary:focus,
.Button--clear:focus,
.Button--error:focus {
  outline: 0;
}

.Button--primary:active,
.Button--secondary:active,
.Button--clear:active,
.Button--error:active {
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4);
}

.Button--primary {
  background-color: var(--button-background-color-primary);
  color: var(--button-text-color-light);
}

.Button--primary[aria-disabled='true'],
.Button--primary[disabled] {
  color: var(--text-color-light-disabled);
}

.Button--primary:focus:after {
  box-shadow: 4px 0 var(--text-color-light);
}

.Button--primary:focus:before {
  box-shadow: -4px 0 var(--text-color-light);
}

.Button--secondary {
  background-color: var(--button-background-color-secondary);
  color: var(--button-text-color-dark);
}

.Button--secondary[aria-disabled='true'],
.Button--secondary[disabled] {
  color: var(--disabled);
}

.Button--secondary:focus:after {
  box-shadow: 4px 0 var(--button-text-color-dark);
}

.Button--secondary:focus:before {
  box-shadow: -4px 0 var(--button-text-color-dark);
}

.Button--error {
  background-color: var(--error);
  box-shadow: none;
  color: var(--button-text-color-light);
}

.Button--error[aria-disabled='true'],
.Button--error[disabled] {
  color: var(--text-color-light-disabled);
}

.Button--error:hover {
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.4);
}

.Button--error:focus {
  outline: 0;
}

.Button--error:active {
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4);
}

.Button--error:focus:after {
  box-shadow: 4px 0 var(--text-color-light);
}

.Button--error:focus:before {
  box-shadow: -4px 0 var(--text-color-light);
}

.Button--clear {
  background-color: transparent;
  box-shadow: none;
}

.Button--clear:hover {
  background-color: var(--button-background-color-secondary);
  box-shadow: none;
}

.Button--clear:focus {
  background-color: var(--button-background-color-secondary);
}

.Button--clear:focus:after {
  box-shadow: 4px 0 var(--button-text-color-dark);
}

.Button--clear:focus:before {
  box-shadow: -4px 0 var(--button-text-color-dark);
}

.DefinitionButton {
  display: inline;
  vertical-align: baseline;
  position: relative;
}

.DefinitionButton button {
  background-color: transparent;
  color: var(--text-color-base);
  font-weight: var(--font-weight-normal);
  border-bottom: 1px dotted;
  display: inline-block;
  margin: 0 2px;
  padding: 0;
  font-size: inherit;
  vertical-align: baseline;
  cursor: auto;
  user-select: text;
}
