.Button--primary,
.Button--secondary,
.Button--clear,
.Button--error {
  border-radius: 3px;
  border: none;
  font-size: var(--text-size-small);
  box-sizing: border-box;
  padding: 0 16px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  height: 36px;
  min-width: 100px;
  display: inline-grid;
  grid-auto-flow: column;
  align-items: center;
  justify-items: center;
  gap: 8px;
  --button-hover-outline-color: var(--button-background-color-primary);
}

button.Link {
  cursor: pointer;
}

.Button--primary:focus,
.Button--secondary:focus,
.Button--clear:focus,
.Button--error:focus {
  outline: none;
}

.Button--primary:before,
.Button--secondary:before,
.Button--clear:before,
.Button--error:before {
  content: '';
  position: absolute;
  top: -2px;
  right: -2px;
  bottom: -2px;
  left: -2px;
  border-radius: 3px;
  pointer-events: none;
}

.Button--primary:not([disabled]):not([aria-disabled='true']):hover:before,
.Button--secondary:not([disabled]):not([aria-disabled='true']):hover:before,
.Button--error:not([disabled]):not([aria-disabled='true']):hover:before {
  box-shadow: 0 0 0 1px var(--button-hover-outline-color);
}

.Button--primary:focus:before,
.Button--secondary:focus:before,
.Button--error:focus:before {
  box-shadow: 0 0 1px 2px var(--button-focus-ring-color);
}

.Button--primary {
  background-color: var(--button-background-color-primary);
  color: var(--button-text-color-light);
}

.Button--primary[aria-disabled='true'],
.Button--primary[disabled] {
  background-color: var(--button-background-color-primary-disabled);
}

.Button--primary:active {
  background: var(--button-background-color-primary-active);
}

.Button--secondary {
  background-color: var(--button-background-color-secondary);
  color: var(--button-text-color-dark);
  border: 1px solid var(--field-border-color);
  --button-hover-outline-color: var(--header-text-color-dark);
}

.Button--secondary[aria-disabled='true'],
.Button--secondary[disabled] {
  color: var(--disabled);
  background-color: var(--button-background-color-secondary-disabled);
}

.Button--secondary:active {
  background-color: var(--button-background-color-secondary-active);
}

.Button--error {
  background-color: var(--error);
  box-shadow: none;
  color: var(--button-text-color-light);
  --button-hover-outline-color: var(--error);
}

.Button--error[aria-disabled='true'],
.Button--error[disabled] {
  color: var(--button-text-color-light);
  background-color: var(--button-background-color-error-disabled);
}

.Button--error:active {
  background-color: var(--button-background-color-error-active);
}

.Button--primary .Icon,
.Button--secondary .Icon,
.Button--clear .Icon,
.Button--error .Icon {
  margin: 0 -4px;
}

.Button--thin .Icon svg {
  width: calc(var(--button-thin-height) - 8px);
  height: calc(var(--button-thin-height) - 8px);
}

.DefinitionButton {
  display: inline;
  vertical-align: baseline;
  position: relative;
}

.DefinitionButton button {
  background-color: transparent;
  color: var(--text-color-base);
  font-weight: var(--font-weight-normal);
  border-bottom: 1px dotted;
  display: inline-block;
  margin: 0 2px;
  padding: 0;
  font-size: inherit;
  vertical-align: baseline;
  cursor: auto;
  user-select: text;
}

.Button--thin {
  height: var(--button-thin-height);
  min-width: 100px;
  font-size: var(--text-size-smallest);
  line-height: var(--text-size-smallest);
  padding: 0 16px;
}

[class*='Button--'] + [class*='Button--'] {
  margin-left: var(--space-smallest);
}
