.Code.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: var(--gray-20);
  color: var(--gray-90);
  border: 1px solid var(--gray-40);
  color: var(--accent-primary-active);
}

.Code .hljs-comment {
  color: #575957;
  font-style: italic;
}

.Code .hljs-quote {
  color: #969896;
  font-style: italic;
}

.Code .hljs-keyword,
.Code .hljs-selector-tag,
.Code .hljs-literal,
.Code .hljs-type,
.Code .hljs-addition,
.Code .hljs-attr,
.Code .hljs-attribute {
  color: #8a0c8a;
}

.Code .hljs-number {
  color: #115800;
}

.Code .hljs-selector-attr {
  color: #f99157;
}

.Code .hljs-selector-pseudo {
  color: #f99157;
}

.Code .hljs-string {
  color: var(--gray-60);
}

.Code .hljs-doctag,
.Code .hljs-regexp {
  color: #256244;
}

.Code .hljs-built_in,
.Code .hljs-title {
  color: var(--accent-dark);
}

.Code .hljs-name,
.Code .hljs-section {
  color: #113366;
  font-weight: bold;
}

.Code .hljs-variable,
.Code .hljs-template-variable,
.Code .hljs-tag,
.Code .hljs-selector-id,
.Code .hljs-selector-class {
  color: #8a0c8a;
}

.Code .hljs-strong {
  font-weight: bold;
}

.Code .hljs-symbol,
.Code .hljs-bullet,
.Code .hljs-subst,
.Code .hljs-meta,
.Code .hljs-link {
  color: #f99157;
}

.Code .hljs-deletion {
  color: #dc322f;
}

.Code .hljs-formula {
  background: #eee8d5;
}

.Code .hljs-emphasis {
  font-style: italic;
}

/* Dark Theme */
.cauldron--theme-dark .Code.hljs {
  background: var(--accent-dark);
  color: var(--accent-light);
  border: 1px solid transparent;
}

.cauldron--theme-dark .Code .hljs-string {
  color: #8abeb7;
}

.cauldron--theme-dark .Code .hljs-keyword,
.cauldron--theme-dark .Code .hljs-selector-tag,
.cauldron--theme-dark .Code .hljs-literal,
.cauldron--theme-dark .Code .hljs-type,
.cauldron--theme-dark .Code .hljs-addition {
  color: #cc99cc;
}

.cauldron--theme-dark .Code .hljs-comment {
  color: #9f9f9f;
}

.cauldron--theme-dark .Code .hljs-quote {
  color: orange;
}

.Code .hljs-name,
.Code .hljs-section {
  color: var(--accent-primary-active);
}

.cauldron--theme-dark .Code .hljs-variable,
.cauldron--theme-dark .Code .hljs-template-variable,
.cauldron--theme-dark .Code .hljs-tag,
.cauldron--theme-dark .Code .hljs-selector-id,
.cauldron--theme-dark .Code .hljs-selector-class,
.cauldron--theme-dark .Code .hljs-deletion {
  color: #b5bd68;
}

.cauldron--theme-dark .Code .hljs-doctag,
.cauldron--theme-dark .Code .hljs-regexp {
  color: #f1d4a0;
}

.cauldron--theme-dark .Code .hljs-deletion {
  color: #f37a78;
}

.cauldron--theme-dark .Code .hljs-number {
  color: #ffb200;
}

.cauldron--theme-dark .Code .hljs-attr,
.cauldron--theme-dark .Code .hljs-attribute {
  color: #81a2be;
}
