:root {
  --combobox-listbox-border-color: var(--gray-40);
  --combobox-listbox-background-color: #fff;
  --combobox-option-font-color: var(--gray-90);
  --combobox-option-hover-background-color: var(--gray-20);
  --combobox-option-description-font-color: var(--gray-60);
  --combobox-option-description-font-size: var(--text-size-smaller);
  --combobox-option-min-height: 2.625rem;
  --combobox-group-label-background-color: var(--gray-20);
  --combobox-group-label-font-size: var(--text-size-smaller);
  --combobox-option-selected-icon-color: var(--accent-success-dark);
}

.cauldron--theme-dark {
  --combobox-option-font-color: var(--text-color-light);
  --combobox-option-hover-background-color: var(--accent-dark);
  --combobox-option-description-font-color: var(--accent-light);
  --combobox-listbox-background-color: var(--accent-medium);
  --combobox-group-label-background-color: var(--accent-dark);
  --combobox-option-selected-icon-color: var(--accent-success-light);
}

.Combobox :where(.TextFieldWrapper) {
  --text-field-wrapper-border-color: var(
    --combobox-input-border-color,
    var(--field-border-color)
  );
  --text-field-wrapper-background-color: var(
    --combobox-input-background-color,
    var(--field-background-color)
  );
  --text-field-wrapper-border-focus-color: var(
    --combobox-input-border-focus-color,
    var(--field-border-color-focus)
  );
  --text-field-wrapper-border-hover-color: var(
    --combobox-input-border-hover-color,
    var(--field-border-color-focus-hover)
  );
  --text-field-wrapper-border-focus-glow-color: var(
    --combobox-input-border-focus-glow-color,
    var(--field-border-color-focus-glow)
  );
  --text-field-wrapper-error-border-color: var(
    --combobox-input-error-border-color,
    var(--field-border-color-error)
  );
  --text-field-wrapper-error-focus-border-color: var(
    --combobox-input-error-focus-border-color,
    var(--field-border-color-error-hover)
  );
  --text-field-wrapper-error-focus-border-glow-color: var(
    --combobox-input-error-focus-border-glow-color,
    var(--field-border-color-focus-glow)
  );
  --text-field-wrapper-font-size: var(
    --combobox-input-font-size,
    var(--field-font-size)
  );
  --text-field-wrapper-font-color: var(
    --combobox-input-font-color,
    var(--field-content-color)
  );
}

.cauldron--theme-dark .Combobox :where(.TextFieldWrapper) {
  --text-field-wrapper-border-color: var(
    --combobox-input-border-color,
    var(--field-border-color)
  );
  --text-field-wrapper-background-color: var(
    --combobox-input-background-color,
    var(--field-background-color)
  );
  --text-field-wrapper-border-focus-color: var(
    --combobox-input-border-focus-color,
    var(--field-border-color-focus)
  );
  --text-field-wrapper-border-hover-color: var(
    --combobox-input-border-hover-color,
    var(--field-border-color-focus-hover)
  );
  --text-field-wrapper-border-focus-glow-color: var(
    --combobox-input-border-focus-glow-color,
    var(--field-border-color-focus-glow)
  );
  --text-field-wrapper-error-border-color: var(
    --combobox-input-error-border-color,
    var(--field-border-color-error)
  );
  --text-field-wrapper-error-focus-border-color: var(
    --combobox-input-error-focus-border-color,
    var(--field-border-color-error-hover)
  );
  --text-field-wrapper-error-focus-border-glow-color: var(
    --combobox-input-error-focus-border-glow-color,
    var(--field-border-color-focus-glow)
  );
  --text-field-wrapper-font-size: var(
    --combobox-input-font-size,
    var(--field-font-size)
  );
  --text-field-wrapper-font-color: var(
    --combobox-input-font-color,
    var(--field-content-color)
  );
}

.Combobox {
  --field-listbox-selected-background-color: transparent;
  position: relative;
}

.Combobox .TextFieldWrapper input[type='text'] {
  margin-right: 1.25rem;
}

.Combobox__arrow {
  width: 2rem;
  display: flex;
  justify-content: center;
  position: absolute;
  right: 0;
  pointer-events: none;
}

.Combobox__arrow:before {
  content: '';
  display: inline-block;
  border-top: 7px solid currentColor;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-radius: 2px;
}

.Combobox__listbox {
  display: none;
  position: absolute;
  min-width: 100%;
  border: 1px solid var(--combobox-listbox-border-color);
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15);
  background-color: var(--combobox-listbox-background-color);
  z-index: var(--z-index-listbox);
  max-width: var(--combobox-listbox-max-width, 100%);
  max-height: var(
    --combobox-listbox-max-height,
    calc(var(--combobox-option-min-height) * 10)
  );
  overflow-y: auto;
  animation: combobox-animate-in ease-out 150ms;
}

@keyframes combobox-animate-in {
  from {
    transform: translateY(-8px);
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (prefers-reduced-motion) {
  .Combobox__listbox {
    animation: none;
  }
}

.Combobox__listbox:hover {
  border-color: var(--combobox-listbox-border-color);
}

/*
 * Note: Firefox doesn't yet have full support for :has, so .Combobox__listbox--open
 * is provided as a fallback selector to indicate open listboxes
 * see: https://caniuse.com/css-has
 */
.Combobox:has([role='combobox'][aria-expanded='true']) .Combobox__listbox,
.Combobox__listbox--open {
  display: block;
}

.Combobox__listbox li {
  list-style-type: none;
}

.Combobox__listbox > ul[role='group']:not(:last-child) {
  border-bottom: 1px solid var(--combobox-listbox-border-color);
}

.ComboboxGroup__label {
  background-color: var(--combobox-group-label-background-color);
  padding: var(--space-smallest);
  font-size: var(--combobox-group-label-font-size);
  font-weight: var(--font-weight-medium);
  border-bottom: 1px solid var(--combobox-listbox-border-color);
}

.ComboboxGroup--hidden {
  display: none !important;
}

.ComboboxOption {
  --field-listbox-selected-text-color: var(--combobox-option-font-color);
  color: var(--combobox-option-font-color);
  padding: var(--space-smallest);
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: var(--space-half);
  justify-content: space-between;
  min-height: var(--combobox-option-min-height);
}

.ComboboxOption:not(:last-child) {
  border-bottom: 1px solid var(--combobox-listbox-border-color);
}

.ComboboxOption--active {
  box-shadow: inset 0 0 0 1px var(--combobox-listbox-background-color),
    inset 0 0 0 3px var(--focus);
}

.ComboboxOption:is(:hover, [role='option'][aria-selected='true']:hover) {
  background-color: var(--combobox-option-hover-background-color);
}

.ComboboxOption .Icon {
  color: var(--combobox-option-selected-icon-color);
}

.ComboboxOption .Icon svg {
  padding: 4px;
  height: 1.6em;
  width: 1.6em;
  border: 2.5px solid currentColor;
  border-radius: 50%;
}

.ComboboxOption img {
  height: 6em;
  width: 6em;
}

.ComboboxOption__match {
  text-decoration: underline;
  font-style: normal;
  font-weight: var(--font-weight-medium);
}

.ComboboxOption__description {
  padding-top: var(--space-half);
  padding-bottom: var(--space-quarter);
  color: var(--combobox-option-description-font-color);
  font-size: var(--combobox-option-description-font-size);
}

.ComboboxListbox__empty {
  padding: var(--space-smaller);
  text-align: center;
}
