:root {
  --data-list-background-color: var(--gray-20);
  --data-list-value-background-color: var(--white);
  --data-list-border-color: var(--gray-40);
  --data-list-text-color: var(--gray-90);
  --data-list-value-text-color: var(--gray-90);
  --data-list-space: var(--space-small);
  --data-list-value-width: 187px;
}

.cauldron--theme-dark {
  --data-list-background-color: var(--accent-dark);
  --data-list-value-background-color: var(--accent-medium);
  --data-list-text-color: var(--white);
  --data-list-value-text-color: var(--accent-light);
  --data-list-border-color: #5d676f;
}

.DescriptionList {
  color: var(--data-list-text-color);
  font-size: var(--text-size-small);
  border-radius: 3px;
  border: 1px solid var(--data-list-border-color);
  box-shadow: var(--drop-shadow-raised);
  margin-bottom: var(--space-small);
}

.DescriptionList.DescriptionList--collapsed {
  width: 100%;
  border-radius: 0;
  border: none;
  text-align: left;
  font-size: var(--text-size-smaller);
  padding: var(--data-list-space);
  border-top: 1px solid var(--data-list-border-color);
  border-bottom: 1px solid var(--data-list-border-color);
  background-color: var(--data-list-value-background-color);
}

.DescriptionList__item {
  display: flex;
  border-top: 1px solid var(--data-list-border-color);
}

.DescriptionList--collapsed .DescriptionList__item {
  border: 0;
  margin-bottom: 12px;
  display: block;
  background-color: var(--data-list-value-background-color);
}

.DescriptionList__item:first-child {
  border-top: none;
}

.DescriptionList--collapsed .DescriptionList__item:last-child {
  margin-bottom: 0;
}

.DescriptionList__item:first-child .DescriptionList__term {
  border-top-left-radius: 3px;
}

.DescriptionList__item:last-child .DescriptionList__term {
  border-bottom-left-radius: 3px;
}

.DescriptionList__term {
  background-color: var(--data-list-background-color);
  width: var(--data-list-value-width);
  font-weight: var(--font-weight-medium);
  border-right: 1px solid var(--data-list-border-color);
  flex: 0 0 auto;
}

.DescriptionList--collapsed .DescriptionList__term {
  background-color: transparent;
  width: auto;
  border-right: none;
  margin-bottom: 2px;
}

.DescriptionList__details {
  width: 100%;
  color: var(--data-list-value-text-color);
  background-color: var(--data-list-value-background-color);
  font-weight: var(--font-weight-normal);
  word-break: break-word;
  overflow: hidden;
}

.DescriptionList__term,
.DescriptionList__details {
  padding: var(--data-list-space) var(--space-small);
  margin: 0;
}

.DescriptionList--collapsed .DescriptionList__term,
.DescriptionList--collapsed .DescriptionList__details {
  padding: 0;
}

.DescriptionList--collapsed .DescriptionList__details {
  font-size: var(--text-size-small);
}

/* Temporary solution for insufficient color contrast until proper dark mode is implemented. */
.cauldron--theme-dark .DescriptionList__details,
.cauldron--theme-dark .DescriptionList--collapsed .DescriptionList__term {
  color: var(--white);
}

@media screen and (max-width: 32rem) {
  .DescriptionList {
    margin-bottom: 0;
    box-shadow: none;
    border-bottom: 0;
    border-left: 1px solid var(--gray-40);
    border-right: 1px solid var(--gray-40);
  }
}
