:root {
  --dialog-background-color: #fff;
  --dialog-border-color: var(--gray-40);
  --dialog-header-background-color: var(--gray-20);
  --dialog-footer-background-color: var(--gray-20);
  --dialog-heading-text-color: var(--header-text-color-dark);
  --dialog-padding: var(--space-small);
  --dialog-header-height: 2.625rem;
  --dialog-close-button-size: var(--target-size-minimum);
}

.cauldron--theme-dark {
  --dialog-background-color: var(--accent-medium);
  --dialog-border-color: var(--gray-20);
  --dialog-header-background-color: var(--accent-dark);
  --dialog-footer-background-color: var(--accent-dark);
  --dialog-heading-text-color: #fff;
}

.Dialog {
  display: none;
  width: 100vw;
  height: 100vh;
  overflow-x: auto;
  position: fixed;
  top: 0;
  background-color: var(--scrim-background-color);
}

.Dialog.Dialog--show {
  display: block;
}

.Dialog__inner {
  width: 400px;
  max-width: 90%;
  left: 50%;
  top: 100px;
  display: flex;
  flex-direction: column;
  transform: translateX(-50%);
  background-color: var(--dialog-background-color);
  border: 1px solid var(--dialog-border-color);
  z-index: var(--z-index-dialog);
  position: relative;
  box-shadow: var(--drop-shadow-overlay);
}

.Dialog__header {
  display: flex;
  background-color: var(--dialog-header-background-color);
  border-bottom: 1px solid var(--dialog-border-color);
  align-items: center;
  justify-content: space-between;
  min-height: var(--dialog-header-height);
  font-weight: var(--font-weight-bold);
  padding: var(--space-smallest) 0;
  gap: var(--space-smallest);
}

.Dialog__heading,
.Dialog__close {
  margin: 0;
  font-size: var(--text-size-small);
}

.Dialog__heading {
  display: flex;
  align-items: center;
  margin-left: var(--dialog-padding);
  word-break: break-word;
}

.Dialog__close {
  color: var(--dialog-heading-text-color);
  background-color: initial;
  border: 1px solid var(--dialog-border-color);
  border-radius: 3px;
  padding: 0;
  height: var(--dialog-close-button-size);
  width: var(--dialog-close-button-size);
  margin-right: var(--space-smallest);
  flex-shrink: 0;
  position: relative;
}

.Dialog__close:active {
  background-color: var(--dialog-border-color);
}

.Dialog__close:before {
  content: '';
  position: absolute;
  top: -2px;
  right: -2px;
  bottom: -2px;
  left: -2px;
  border-radius: 4px;
  pointer-events: none;
}

.cauldron--theme-dark .Dialog__close:before {
  top: -3px;
  right: -3px;
  bottom: -3px;
  left: -3px;
}

.Dialog__close:is(:hover, :focus):before {
  box-shadow: 0 0 0 1px var(--dialog-heading-text-color);
}

.Dialog__close svg {
  /* match icon size with height/width of button */
  --icon-size: 100%;
}

.cauldron--theme-dark .Dialog__close {
  border-width: 2px;
}

.Dialog__content {
  padding: var(--dialog-padding);
}

.Dialog__content p:first-child {
  margin-top: 0;
}

.Dialog__content p:last-child {
  margin-bottom: 0;
}

.Dialog__footer {
  background-color: var(--dialog-footer-background-color);
  border-top: 1px solid var(--dialog-border-color);
  padding: var(--dialog-padding);
}

/**
* style for info modal
*/

.Modal--info .Dialog__header {
  background-color: transparent;
}

.Modal--info .Dialog__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Modal--info .Dialog__footer {
  display: flex;
  justify-content: center;
  background-color: transparent;
  border-top: none;
  padding-top: 0;
}

@media (min-width: 320px) {
  .Dialog__inner {
    max-height: calc(100vh - 130px);
  }

  .Dialog__content {
    overflow-y: auto;
  }
}
/* Dark Theme */

.cauldron--theme-dark .Dialog__inner {
  color: var(--white);
  border-width: 4px;
}

.cauldron--theme-dark .Dialog__header {
  border-bottom: 1px solid var(--stroke-dark);
}

.cauldron--theme-dark .Dialog__footer {
  border-top: 1px solid var(--stroke-dark);
}

.cauldron--theme-dark .Dialog__header,
.cauldron--theme-dark .Dialog__footer {
  color: var(--gray-20);
}

.cauldron--theme-dark .Dialog__close {
  color: var(--gray-20);
}

.cauldron--theme-dark .Dialog__close:active {
  color: var(--accent-medium);
}

.cauldron--theme-dark .Modal--info .Dialog__header,
.cauldron--theme-dark .Modal--info .Dialog__content,
.cauldron--theme-dark .Modal--info .Dialog__footer {
  background-color: transparent;
}

.cauldron--theme-dark .Modal--info .Dialog__footer {
  border-top: none;
}
