.Dropdown {
  position: absolute;
  padding: 8px;
  background-color: var(--white);
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.3);
  border: 1px solid var(--field-border-color);
  color: var(--text-color-base);
  display: none;
  list-style: none;
}

.Dropdown.Dropdown--active {
  display: block;
}

.Dropdown:focus {
  outline: 0;
  border: 1px solid var(--text-color-base);
}

.Dropdown [role='menuitem'] {
  font-size: var(--text-size-small);
  font-weight: var(--font-weight-normal);
  padding: 2px var(--space-smallest);
  cursor: default;
}

.Dropdown [role='menuitem']:hover,
.Dropdown [role='menuitem']:focus {
  background-color: var(--link-text-color-light);
  outline: 0;
}

.Dropdown [role='menuitem'][aria-disabled='true'] {
  color: var(--disabled);
}

.Dropdown [role='menuitem'][aria-disabled='true']:hover {
  background-color: transparent;
}

.TopBar .Dropdown {
  top: var(--top-bar-height);
  right: 0;
}
