:root {
  --field-background-color: var(--white);
  --field-content-color: var(--text-color-base);
  --field-border-color: var(--gray-40);
  --field-border-color-underline: var(--gray-80);
  --field-border-color-hover: var(--gray-90);
  --field-border-color-focus: var(--accent-primary);
  --field-border-color-focus-hover: var(--accent-primary-active);
  --field-border-color-focus-glow: rgba(60, 122, 174, 0.7);
  --field-border-color-error: var(--accent-error);
  --field-border-color-error-hover: #c42f41;
  --field-border-color-error-focus-glow: rgba(217, 50, 81, 0.7);
  --field-border-color-disabled: rgba(204, 204, 204, 0.25);
  --field-background-color-disabled: #f7f7f7;
  --field-required-text-color: var(--gray-60);
  --field-label-text-color: var(--gray-90);
  --input-min-width: 250px;
}

.cauldron--theme-dark {
  --field-background-color: var(--accent-medium);
  --field-content-color: var(--white);
  --field-border-color-hover: var(--accent-info-light);
  --field-border-color-focus: var(--accent-info);
  --field-border-color-focus-hover: var(--accent-info-light);
  --field-border-color-error: var(--accent-danger);
  --field-border-color-error-hover: #fea7a6;
  --field-background-color-disabled: #5d676f;
  --field-required-text-color: var(--white);
  --field-label-text-color: var(--white);
}

input,
select,
textarea,
[role='menuitemcheckbox'],
[role='menuitemradio'],
[role='textbox'],
[aria-haspopup='listbox'],
[role='listbox'],
[role='spinbutton'] {
  width: 100%;
  border: 1px solid var(--field-border-color);
  border-bottom: 1px solid var(--field-border-color-underline);
  margin-bottom: var(--space-half);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05);
}

input:focus,
select:focus,
textarea:focus,
[role='menuitemcheckbox']:focus,
[role='menuitemradio']:focus,
[role='textbox']:focus,
[aria-haspopup='listbox']:focus,
[role='listbox']:focus,
[role='spinbutton']:focus {
  outline: 0;
  border: 1px solid var(--field-border-color-focus);
  box-shadow: inset 0 0 0 1px var(--field-border-color-focus),
    0px 0px 4px var(--field-border-color-focus-glow);
}

input:hover,
select:hover,
textarea:hover,
[role='menuitemcheckbox']:hover,
[role='menuitemradio']:hover,
[role='textbox']:hover,
[aria-haspopup='listbox']:hover,
[role='listbox']:hover,
[role='spinbutton']:hover {
  border: 1px solid var(--field-border-color-hover);
}

input.Field--has-error,
select.Field--has-error,
textarea.Field--has-error,
[role='menuitemcheckbox'].Field--has-error,
[role='menuitemradio'].Field--has-error,
[role='textbox'].Field--has-error,
[aria-haspopup='listbox'].Field--has-error,
[role='listbox'].Field--has-error,
[role='spinbutton'].Field--has-error {
  border: 1px solid var(--field-border-color-error);
}

.Checkbox__overlay.Field--has-error {
  color: var(--field-border-color-error);
}

input.Field--has-error:focus,
select.Field--has-error:focus,
textarea.Field--has-error:focus,
[role='menuitemcheckbox'].Field--has-error:focus,
[role='menuitemradio'].Field--has-error:focus,
[role='textbox'].Field--has-error:focus,
[aria-haspopup='listbox'].Field--has-error:focus,
[role='listbox'].Field--has-error:focus,
[role='spinbutton'].Field--has-error:focus {
  box-shadow: inset 0 0 0 1px var(--field-border-color-error),
    0px 0px 4px 0 var(--field-border-color-error-focus-glow);
}

.Error {
  min-height: var(--space-large);
  color: var(--error);
  text-align: left;
  margin-bottom: var(--space-smallest);
  font-size: var(--text-size-smallest);
  font-weight: var(--font-weight-normal);
  padding-left: var(--space-half);
}

.Field {
  display: block;
  position: relative;
  box-sizing: border-box;
}

.Field.is--flex-row {
  align-items: center;
}

.Field.is--flex-row .Field__label {
  margin-bottom: 0;
}

.Checkbox,
.Radio {
  box-sizing: border-box;
  position: relative;
  margin-bottom: 0;
}

.Checkbox .Field__label,
.Radio .Field__label {
  margin-bottom: 0;
  padding-bottom: 0;
}

.Field__label {
  display: flex;
  align-items: center;
  text-align: left;
  color: var(--field-label-text-color);
  font-size: var(--text-size-small);
  font-weight: var(--font-weight-bold);
  padding-bottom: var(--space-half);
  cursor: default;
}

.Field__required-text {
  flex: 1;
  text-align: right;
  margin-left: var(--space-large);
  font-style: italic;
  font-weight: var(--font-weight-thin);
  color: var(--field-required-text-color);
  font-size: var(--text-size-smaller);
}

.Field__required-text::before {
  content: ' ';
  color: var(--text-color-base);
}

.Field__label--has-error .Field__required-text {
  color: var(--error);
}

.Field__label--inline {
  display: inline-block;
  text-align: left;
  font-size: var(--text-size-smaller);
}

.Field__text-input {
  padding: var(--space-smallest);
  box-sizing: border-box;
  font-size: var(--text-size-small);
  color: var(--text-color-base);
  min-width: var(--input-min-width);
}

.Field__text-input[disabled],
.Field__text-input[aria-disabled='true'] {
  border: 1px solid var(--field-border-color-disabled);
  background-color: var(--field-background-color-disabled);
}

.Field__textarea {
  display: block;
  min-height: 56px;
  font-size: var(--text-size-small);
  min-width: var(--input-min-width);
  padding: var(--space-half);
  max-width: 500px;
}

.Field__textarea[disabled],
.Field__textarea[aria-disabled='true'] {
  background: var(--field-background-color-disabled);
  border: 1px solid var(--field-border-color);
}

.Radio__overlay,
.Checkbox__overlay {
  border: 1px solid transparent;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 3px;
  color: #333;
  margin-right: var(--space-half);
}

.Radio__overlay {
  border-radius: 50%;
}

.Radio__overlay svg,
.Checkbox__overlay svg {
  pointer-events: none;
}

.Radio__overlay:active:not(.Radio__overlay--disabled),
.Checkbox__overlay:active:not(.Checkbox__overlay--disabled) {
  background-color: rgba(60, 122, 174, 0.25);
}

.Radio input[type='radio'] {
  position: absolute;
  opacity: 0;
  top: 8px;
  left: 8px;
  appearance: none;
}

.Checkbox__overlay.Checkbox__overlay--focused,
.Radio__overlay.Radio__overlay--focused {
  border: 1px solid var(--focus);
  box-shadow: inset 0 0 0 1px var(--focus), 0 0 4px 2px var(--focus-glow);
}

.Radio__overlay.Icon--radio-checked {
  color: #3c7aae;
}

.Radio__overlay--disabled.Icon--radio-checked,
.Radio__overlay--disabled.Icon--radio-unchecked {
  color: #ccc;
}

.Radio__overlay:hover:not(.Radio__overlay--disabled) {
  border: 1px solid currentColor;
}

.Checkbox input[type='checkbox'] {
  position: absolute;
  opacity: 0;
  top: 8px;
  left: 8px;
  appearance: none;
  width: 2px;
}

.Checkbox__overlay.Icon--checkbox-checked {
  color: #3c7aae;
}

.Checkbox__overlay--disabled.Icon--checkbox-checked,
.Checkbox__overlay--disabled.Icon--checkbox-unchecked {
  color: #ccc;
}

.Checkbox__overlay:hover:not(.Checkbox__overlay--disabled) {
  border: 1px solid currentColor;
}

/* Dark Theme */
.cauldron--theme-dark {
  --field-label-text-color: var(--white);
}

.cauldron--theme-dark .Radio__overlay,
.cauldron--theme-dark .Checkbox__overlay {
  color: var(--white);
}

.cauldron--theme-dark .Checkbox__overlay.Icon--checkbox-checked {
  color: var(--accent-light);
}

.cauldron--theme-dark .Checkbox__overlay.Field--has-error {
  color: var(--accent-danger);
}

.cauldron--theme-dark .Radio__overlay--disabled,
.cauldron--theme-dark .Checkbox__overlay--disabled.Icon--checkbox-checked,
.cauldron--theme-dark .Checkbox__overlay--disabled.Icon--checkbox-unchecked {
  color: #4c99a9;
}
