:root {
  --field-background-color: var(--white);
  --field-content-color: var(--text-color-base);
  --field-border-color: var(--gray-60);
  --field-border-color-underline: var(--gray-80);
  --field-border-color-hover: var(--gray-90);
  --field-border-color-focus: var(--accent-primary);
  --field-border-color-focus-hover: var(--accent-primary-active);
  --field-border-color-focus-glow: rgba(60, 122, 174, 0.7);
  --field-border-color-error: var(--accent-error);
  --field-border-color-error-hover: #c42f41;
  --field-border-color-error-focus-glow: rgba(217, 50, 81, 0.7);
  --field-border-color-disabled: rgba(204, 204, 204, 0.25);
  --field-border-radius: 4px;
  --field-background-color-disabled: var(--light-workspace-color);
  --field-placeholder-color: var(--gray-50);
  --field-required-text-color: var(--gray-60);
  --field-label-text-color: var(--gray-90);
  --field-label-error-text-color: var(--error);
  --field-label-description-text-color: var(--gray-60);
  --field-icon-inactive-color: var(--gray-90);
  --field-icon-active-color: rgba(60, 122, 174, 0.25);
  --field-icon-error-active-color: rgba(217, 50, 81, 0.25);
  --field-icon-checked-color: var(--accent-primary);
  --field-icon-checked-disabled-color: var(--accent-primary-dsiabled, #78a6d8);
  --field-icon-unchecked-disabled-color: var(--gray-40);
  --field-icon-focus-color: var(--focus-light);
  --field-error-text-color: var(--error);
  --field-error-border-color: var(--error);
  --field-listbox-selected-background-color: var(--gray-50);
  --field-listbox-selected-text-color: #fff;
  --field-font-size: var(--text-size-small);
  --input-min-width: 250px;
  --checkbox-size: var(--icon-size);
  --radio-size: var(--icon-size);
}

.cauldron--theme-dark {
  --field-background-color: var(--accent-medium);
  --field-content-color: var(--white);
  --field-border-color: #74818b;
  --field-border-color-hover: var(--accent-light);
  --field-border-color-focus: var(--accent-info);
  --field-border-color-focus-hover: var(--accent-info-light);
  --field-border-color-focus-glow: var(--accent-info);
  --field-border-color-error: var(--accent-danger);
  --field-border-color-error-hover: #fea7a6;
  --field-background-color-disabled: #5d676f;
  --field-placeholder-color: #8c9fab;
  --field-required-text-color: var(--white);
  --field-label-text-color: var(--white);
  --field-label-error-text-color: var(--error);
  --field-label-description-text-color: var(--accent-light);
  --field-icon-inactive-color: var(--white);
  --field-icon-active-color: rgba(212, 221, 224, 0.25);
  --field-icon-error-active-color: rgba(254, 109, 107, 0.25);
  --field-icon-checked-color: var(--accent-light);
  --field-icon-checked-disabled-color: var(--stroke-dark);
  --field-icon-unchecked-disabled-color: var(--stroke-dark);
  --field-icon-focus-color: var(--focus-dark);
  --field-error-text-color: var(--error);
  --field-error-border-color: var(--error);
  --field-listbox-selected-background-color: var(--accent-light);
  --field-listbox-selected-text-color: var(--accent-medium);
}

input,
select,
textarea,
[role='textbox'],
[role='listbox'],
[role='spinbutton'] {
  width: 100%;
  border: 1px solid var(--field-border-color);
  margin-bottom: var(--space-half);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05);
  background-color: var(--field-background-color);
}

.cauldron--theme-dark input,
select,
textarea,
[role='textbox'],
[role='listbox'],
[role='spinbutton'] {
  border: 1px solid var(--field-border-color);
}

input:focus,
select:focus,
textarea:focus,
[role='textbox']:focus,
[role='listbox']:focus,
[role='spinbutton']:focus {
  outline: 0;
  border: 1px solid var(--field-border-color-focus);
  box-shadow:
    0 0 0 1px var(--field-border-color-focus),
    0 0 5px var(--field-border-color-focus-glow),
    inset 0 1px 2px rgba(0, 0, 0, 0.05);
}

input:hover,
select:hover,
textarea:hover,
[role='textbox']:hover,
[role='listbox']:hover,
[role='spinbutton']:hover {
  border: 1px solid var(--field-border-color-hover);
}

input:focus:hover,
select:focus:hover,
textarea:focus:hover,
[role='menuitemradio']:focus:hover,
[role='textbox']:focus:hover,
[role='listbox']:focus:hover,
[role='spinbutton']:focus:hover {
  border: 1px solid var(--field-border-color-focus-hover);
  box-shadow:
    0 0 0 1px var(--field-border-color-focus-hover),
    0 0 5px var(--field-border-color-focus-glow),
    inset 0 1px 2px rgba(0, 0, 0, 0.05);
}

input::placeholder,
textarea::placeholder {
  color: var(--field-placeholder-color);
  font-style: italic;
}

input.Field--has-error,
select.Field--has-error,
textarea.Field--has-error,
[role='textbox'].Field--has-error,
[role='listbox'].Field--has-error,
[role='spinbutton'].Field--has-error {
  border: 1px solid var(--field-border-color-error);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05);
}

.Checkbox__overlay.Field--has-error {
  color: var(--field-border-color-error);
}

.Icon--checkbox-unchecked.Checkbox__overlay:active.Field--has-error:not(
    .Checkbox__overlay--disabled
  ) {
  background-color: var(--field-icon-error-active-color);
}

input.Field--has-error:hover,
select.Field--has-error:hover,
textarea.Field--has-error:hover,
[role='textbox'].Field--has-error:hover,
[role='listbox'].Field--has-error:hover,
[role='spinbutton'].Field--has-error:hover {
  border-color: var(--field-border-color-error-hover);
  box-shadow:
    0 0 0 1px var(--field-border-color-error),
    inset 0 1px 2px rgba(0, 0, 0, 0.05);
}

input.Field--has-error:focus,
select.Field--has-error:focus,
textarea.Field--has-error:focus,
[role='textbox'].Field--has-error:focus,
[role='listbox'].Field--has-error:focus,
[role='spinbutton'].Field--has-error:focus {
  border: 1px solid var(--field-border-color-error);
  box-shadow:
    0 0 0 1px var(--field-border-color-error),
    0 0 5px var(--field-border-color-error-focus-glow),
    inset 0 1px 2px rgba(0, 0, 0, 0.05);
}

input.Field--has-error:focus:hover,
select.Field--has-error:focus:hover,
textarea.Field--has-error:focus:hover,
[role='textbox'].Field--has-error:focus:hover,
[role='listbox'].Field--has-error:focus:hover,
[role='spinbutton'].Field--has-error:focus:hover {
  border-color: var(--field-border-color-error-hover);
}

[role='listbox'] > li,
[role='listbox'] > [role='group'] > li {
  list-style-type: none;
}

[role='listbox']:focus-within > li.ListboxOption--active,
[role='listbox']:focus-within > [role='group'] > li.ListboxOption--active {
  box-shadow: 0 0 0 2px var(--field-icon-focus-color);
}

[role='listbox']
  li[role='option']:is([aria-selected='true'], [aria-checked='true']) {
  background-color: var(--field-listbox-selected-background-color);
  color: var(--field-listbox-selected-text-color);
}

.Error,
.Field__error {
  --icon-size: var(--text-size-base);
  color: var(--field-error-text-color);
  display: flex;
  gap: var(--space-half);
  text-align: left;
  font-size: var(--text-size-smallest);
  font-weight: var(--font-weight-normal);
}

.Field__error {
  font-size: var(--text-size-small);
  margin-bottom: var(--space-smallest);
}

.Checkbox__wrap .Error {
  margin-top: var(--space-half);
  border-top: 1px solid var(--field-error-border-color);
  margin-left: calc(var(--icon-size) + 2px + var(--space-half));
  padding: var(--space-half) 0;
}

.Field {
  display: block;
  position: relative;
  box-sizing: border-box;
  margin-bottom: var(--space-small);
}

.Field.is--flex-row {
  align-items: center;
}

.Field.is--flex-row .Field__label {
  margin-bottom: 0;
}

.Checkbox__wrap,
.Radio__wrap {
  margin-bottom: var(--space-smallest);
}

.Checkbox__wrap:last-of-type,
.Radio__wrap:last-of-type {
  margin-bottom: 0;
}

.Radio--inline .Radio__wrap {
  margin-bottom: 0;
}

.Checkbox,
.Radio {
  box-sizing: border-box;
  position: relative;
  flex-direction: row-reverse;
  justify-content: flex-end;
  flex-wrap: nowrap;
}

.Radio--inline {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  gap: var(--space-small);
}

.Checkbox + .Field__labelDescription,
.Radio + .Field__labelDescription {
  margin-top: var(--space-half);
  margin-bottom: var(--space-small);
}

.Checkbox__wrap:last-of-type .Checkbox + .Field__labelDescription,
.Radio__wrap:last-of-type .Radio + .Field__labelDescription {
  margin-bottom: 0;
}

.Field__label {
  display: flex;
  align-items: center;
  text-align: left;
  color: var(--field-label-text-color);
  margin-bottom: var(--space-smallest);
  font-size: var(--text-size-small);
  font-weight: var(--font-weight-medium);
  cursor: default;
}

.Field__description {
  display: flex;
  align-items: center;
  text-align: left;
  font-size: var(--text-size-small);
  color: var(--field-label-description-text-color);
  margin-bottom: var(--space-smallest);
}

.Field__label + .Checkbox__wrap {
  margin-top: var(--space-half);
}

.Field__label + [role^='radiogroup'] {
  margin-top: var(--space-smallest);
}

.Checkbox__label,
.Radio__label {
  display: flex;
  align-items: center;
  text-align: left;
  font-weight: var(--font-weight-normal);
  cursor: default;
  margin-bottom: unset;
}

.Field__required-text {
  flex: 1;
  text-align: right;
  margin-left: var(--space-large);
  font-style: italic;
  font-weight: var(--font-weight-thin);
  color: var(--field-required-text-color);
  font-size: var(--text-size-smaller);
}

.Field__required-text::before {
  content: ' ';
  color: var(--field-content-color);
}

.Field__label--has-error .Field__required-text {
  color: var(--field-label-error-text-color);
}

.Field__select-description {
  font-weight: var(--font-weight-normal);
  font-size: var(--text-size-base);
  color: var(--field-label-description-text-color);
  margin-bottom: var(--space-smallest);
}

.Field__label--inline {
  display: inline-block;
  text-align: left;
  font-size: var(--text-size-smaller);
}

.Field__text-input {
  padding: var(--space-smallest);
  box-sizing: border-box;
  font-size: var(--field-font-size);
  color: var(--field-content-color);
  min-width: min(var(--input-min-width), 100%);
  border-radius: var(--field-border-radius);
}

.Field__text-input[disabled],
.Field__text-input[aria-disabled='true'] {
  border: 1px solid var(--field-border-color-disabled);
  background-color: var(--field-background-color-disabled);
}

.Field__textarea {
  display: block;
  min-height: 56px;
  font-size: var(--field-font-size);
  min-width: min(var(--input-min-width), 100%);
  padding: var(--space-half);
  max-width: 500px;
  color: var(--field-content-color);
  border-radius: var(--field-border-radius);
}

.Field__textarea[disabled],
.Field__textarea[aria-disabled='true'] {
  background: var(--field-background-color-disabled);
  border: 1px solid var(--field-border-color);
}

.Field__labelDescription {
  flex-basis: 100%;
  color: var(--field-label-description-text-color);
  font-size: var(--text-size-small);
  font-weight: var(--font-weight-normal);
  line-height: 1;
  margin-top: var(--space-half);
  cursor: default;
  display: flex;
}

.Checkbox__wrap .Field__labelDescription {
  margin-left: calc(var(--checkbox-size) + 2px + var(--space-half));
}

.Radio__wrap .Field__labelDescription {
  margin-left: calc(var(--radio-size) + 2px + var(--space-half));
}

.Field__labelDescription + .Error {
  margin-top: var(--space-smallest);
}

.Radio__overlay,
.Checkbox__overlay {
  border: 1px solid transparent;
  box-sizing: border-box;
  cursor: pointer;
  color: var(--field-icon-inactive-color);
  margin-right: var(--space-half);
  align-self: flex-start;
}

.Checkbox__overlay {
  border-radius: 5px;
}

.Radio__overlay {
  border-radius: 50%;
}

.Radio__overlay svg,
.Checkbox__overlay svg {
  pointer-events: none;
}

.Radio__overlay svg {
  height: var(--radio-size);
  width: var(--radio-size);
}

.Checkbox__overlay svg {
  height: var(--checkbox-size);
  width: var(--checkbox-size);
}

.Radio__overlay:active:not(.Radio__overlay--disabled),
.Checkbox__overlay:active:not(.Checkbox__overlay--disabled) {
  background-color: var(--field-icon-active-color);
}

.Radio input[type='radio'] {
  position: absolute;
  opacity: 0;
  top: 8px;
  left: 8px;
  appearance: none;
}

.Checkbox input[type='checkbox']:indeterminate ~ .Checkbox__overlay.Icon {
  color: var(--field-icon-checked-color);
}

.Checkbox
  input[type='checkbox']:indeterminate
  ~ .Checkbox__overlay--disabled.Icon {
  color: var(--field-icon-checked-disabled-color);
  cursor: default;
}

.Checkbox__overlay.Checkbox__overlay--focused,
.Radio__overlay.Radio__overlay--focused {
  box-shadow: 0 0 0 2px var(--field-icon-focus-color);
}

.Radio__overlay.Icon--radio-checked,
.Checkbox__overlay.Icon--checkbox-checked {
  color: var(--field-icon-checked-color);
}

.Radio__overlay--disabled.Icon--radio-checked,
.Checkbox__overlay--disabled.Icon--checkbox-checked {
  color: var(--field-icon-checked-disabled-color);
  cursor: default;
}

.Checkbox__overlay--disabled.Icon--checkbox-unchecked,
.Radio__overlay--disabled.Icon--radio-unchecked {
  color: var(--field-icon-unchecked-disabled-color);
  cursor: default;
}

.Field__label:hover ~ .Radio__overlay:not(.Radio__overlay--disabled),
.Radio__overlay:hover:not(.Radio__overlay--disabled) {
  border: 1px solid currentColor;
}

.Checkbox input[type='checkbox']:indeterminate ~ .Checkbox__overlay:before {
  content: '';
  display: block;
  position: absolute;
  height: calc(var(--icon-size) - 8px);
  width: calc(var(--icon-size) - 8px);
  background: currentColor;
  transform: translate(4px, 4px);
}

.Checkbox input[type='checkbox']:indeterminate ~ .Checkbox__overlay:after {
  content: '';
  display: block;
  position: absolute;
  height: 3px;
  width: calc(var(--icon-size) / 3);
  background-color: var(--field-background-color);
  transform: translate(
    calc(var(--icon-size) / 3),
    calc(var(--icon-size) / 2 * -1 - 1.5px)
  );
}

.Checkbox input[type='checkbox'] {
  position: absolute;
  opacity: 0;
  top: 8px;
  left: 8px;
  appearance: none;
}

.Field__label:hover ~ .Checkbox__overlay:not(.Checkbox__overlay--disabled),
.Checkbox__overlay:hover:not(.Checkbox__overlay--disabled) {
  border: 1px solid currentColor;
}
