input,
select,
textarea,
[role='menuitemcheckbox'],
[role='menuitemradio'],
[role='textbox'],
[aria-haspopup='listbox'],
[role='listbox'],
[role='spinbutton'] {
  border: 1px solid var(--field-border-color);
  margin-bottom: var(--space-half);
}

input:focus,
select:focus,
textarea:focus,
[role='menuitemcheckbox']:focus,
[role='menuitemradio']:focus,
[role='textbox']:focus,
[aria-haspopup='listbox']:focus,
[role='listbox']:focus,
[role='spinbutton']:focus {
  outline: 0;
  border: 1px solid var(--link-text-color);
  box-shadow: 0px 0px 8px 1px #3c7aae;
}

input:hover,
select:hover,
textarea:hover,
[role='menuitemcheckbox']:hover,
[role='menuitemradio']:hover,
[role='textbox']:hover,
[aria-haspopup='listbox']:hover,
[role='listbox']:hover,
[role='spinbutton']:hover {
  border: 1px solid var(--field-border-color-hover);
}

input.Field--has-error,
select.Field--has-error,
textarea.Field--has-error,
[role='menuitemcheckbox'].Field--has-error,
[role='menuitemradio'].Field--has-error,
[role='textbox'].Field--has-error,
[aria-haspopup='listbox'].Field--has-error,
[role='listbox'].Field--has-error,
[role='spinbutton'].Field--has-error {
  border: 1px solid var(--field-border-color-error);
  outline: 2px solid var(--field-border-color-error);
}

input.Field--has-error:focus,
select.Field--has-error:focus,
textarea.Field--has-error:focus,
[role='menuitemcheckbox'].Field--has-error:focus,
[role='menuitemradio'].Field--has-error:focus,
[role='textbox'].Field--has-error:focus,
[aria-haspopup='listbox'].Field--has-error:focus,
[role='listbox'].Field--has-error:focus,
[role='spinbutton'].Field--has-error:focus {
  box-shadow: 0px 0px 8px 1px var(--error);
  outline: 0;
}

input.Field--has-error:hover,
select.Field--has-error:hover,
textarea.Field--has-error:hover,
[role='menuitemcheckbox'].Field--has-error:hover,
[role='menuitemradio'].Field--has-error:hover,
[role='textbox'].Field--has-error:hover,
[aria-haspopup='listbox'].Field--has-error:hover,
[role='listbox'].Field--has-error:hover,
[role='spinbutton'].Field--has-error:hover {
  border: 1px solid var(--field-border-color-error-hover);
}

.Error {
  min-height: var(--space-large);
  color: var(--error);
  text-align: left;
  margin-bottom: var(--space-smallest);
  font-size: var(--text-size-smallest);
  font-weight: var(--font-weight-normal);
  padding-left: var(--space-half);
}

.Field {
  position: relative;
  box-sizing: border-box;
  margin-bottom: var(--space-large);
}

.Field.Flexr {
  align-items: center;
}

.Field.Flexr .Field__label {
  margin-bottom: 0;
}

.Checkbox,
.Radio {
  box-sizing: border-box;
  position: relative;
  margin-bottom: 0;
}

.Checkbox .Field__label,
.Radio .Field__label {
  margin-bottom: 0;
}

.Field__label {
  display: block;
  text-align: left;
  font-size: var(--text-size-smaller);
  font-weight: var(--font-weight-light);
  margin-bottom: var(--space-half);
  cursor: default;
}

.Field__label.Field__label--disabled {
  color: var(--disabled);
}

.Field__required-text {
  display: inline-block;
  margin-left: var(--space-large);
  font-style: italic;
  font-weight: var(--font-weight-normal);
}

.Field__required-text::before {
  content: ' ';
}

.Field__label--has-error .Field__required-text {
  color: var(--error);
}

.Field__label--inline {
  display: inline-block;
  text-align: left;
  font-size: var(--text-size-smaller);
}

.Field__text-input {
  padding: var(--space-half);
  box-sizing: border-box;
  font-size: var(--text-size-small);
  color: var(--text-color-base);
  min-width: var(--input-min-width);
}

.Field__text-input[disabled],
.Field__text-input[aria-disabled='true'] {
  background-color: var(--field-background-color-disabled);
  border: 1px solid var(--field-background-color-disabled);
}

.Field__textarea {
  display: block;
  min-height: 56px;
  font-size: var(--text-size-smaller);
  min-width: var(--input-min-width);
  padding: var(--space-half);
  max-width: 500px;
}

.Radio__overlay,
.Checkbox__overlay {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 1px solid transparent;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.Radio__overlay:active:not([aria-disabled='true']),
.Checkbox__overlay:active:not([aria-disabled='true']) {
  background-color: var(--focus-active);
}

.Radio input[type='radio'] {
  position: absolute;
  opacity: 0;
  top: 8px;
  left: 8px;
}

.Radio__overlay.Radio__overlay--focused {
  border: 1px solid #d71ef7;
}

.Radio__overlay.fa-dot-circle-o {
  color: #3c7aae;
}

.Radio__overlay--disabled.fa-dot-circle-o,
.Radio__overlay--disabled.fa-circle-o {
  color: #ccc;
}

.Checkbox input[type='checkbox'] {
  position: absolute;
  opacity: 0;
  top: 8px;
  left: 8px;
}

.Checkbox__overlay.Checkbox__overlay--focused {
  border: 1px solid #d71ef7;
}

.Checkbox__overlay.fa-check-square {
  color: #3c7aae;
}

.Checkbox__overlay.Field__label--disabled.fa-square-o,
.Checkbox__overlay.Field__label--disabled.fa-check-square {
  color: #ccc;
}
