.IconButton {
  display: inline-flex;
  justify-content: center;
  align-content: center;
  height: var(--button-thin-height);
  width: var(--button-thin-height);
  border: 1px solid transparent;
  border-radius: 3px;
  background-color: var(--icon-button-background-color);
  color: var(--icon-button-icon-color);
  margin: 2px;
  padding: 0;
}

.IconButton div {
  width: 100%;
  height: 100%;
}

.IconButton:before {
  content: '';
  position: absolute;
  height: calc(var(--button-thin-height) + 4px);
  width: calc(var(--button-thin-height) + 4px);
  transform: translateY(-4px);
  border-radius: 3px;
}

.IconButton:hover:before {
  border: 1px solid var(--icon-button-background-color);
}

.IconButton:focus {
  outline: none;
}

.IconButton:focus:before {
  border: 2px solid var(--button-focus-ring-color);
  height: calc(var(--button-thin-height) + 6px);
  width: calc(var(--button-thin-height) + 6px);
  transform: translateX(-1px) translateY(-5px);
  box-shadow: 0 0 1px var(--button-focus-ring-color);
}
