:root {
  /* Primary */
  --icon-button-primary-color: var(--button-text-color-light);
  --icon-button-background-color-primary: var(
    --button-background-color-primary
  );
  --icon-button-background-color-primary-active: var(
    --button-background-color-primary-active
  );
  --icon-button-outline-color-primary: var(--button-outline-color-primary);

  --icon-button-large-height: var(--button-height);

  /* Secondary */
  --icon-button-secondary-color: var(--button-text-color-dark);
  --icon-button-background-color-secondary: var(
    --button-background-color-secondary
  );
  --icon-button-background-color-secondary-active: var(
    --button-background-color-secondary-active
  );
  --icon-button-outline-color-secondary: var(--button-outline-color-secondary);
  --icon-button-border-color-secondary: var(--gray-40);

  /* Error */
  --icon-button-background-color-error: var(--button-background-color-error);
  --icon-button-outline-color-error: var(--button-outline-color-error);
  --icon-button-background-color-error-active: var(
    --button-background-color-error-active
  );

  /* Danger */
  --icon-button-background-color-danger: var(--button-background-color-danger);
  --icon-button-outline-color-danger: var(--button-outline-color-danger);
  --icon-button-background-color-danger-active: var(
    --button-background-color-danger-active
  );

  --icon-button-text-color-disabled: var(--button-text-color-disabled);

  /* Deprecated variables */
  --icon-button-content-color-light-disabled: #ccc;
  --icon-button-background-color-light: #dadada;
  --icon-button-background-color-light-active: #c2c2c2;
  --icon-button-outline-color-light: var(--icon-button-background-color-light);

  --icon-button-content-color-dark-disabled: #fff 40%;
  --icon-button-background-color-dark: var(--accent-medium);
  --icon-button-background-color-dark-disabled: var(--accent-medium);
  --icon-button-background-color-dark-active: var(--accent-dark);
  --icon-button-outline-color-dark: var(--icon-button-background-color-dark);
  --icon-button-background-color-secondary-disabled: var(
    --button-background-color-secondary-disabled
  );
  --icon-button-background-color-error-disabled: var(
    --button-background-color-error-disabled
  );
  --icon-button-icon-size: var(--icon-size);
}

.IconButton {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: var(--button-thin-height);
  width: var(--button-thin-height);
  border-radius: 3px;
  border: 1px solid transparent;
  background-color: var(--icon-button-background-color);
  color: var(--icon-button-icon-color);
  margin: 2px;
  padding: 0;
}

/* Ensure both <a> and <button> IconButtons are aligned correctly. See #846. */
a.IconButton {
  vertical-align: middle;
  line-height: unset;
}

.IconButton .Icon {
  height: calc(var(--icon-button-icon-size) - 8px);
  width: calc(var(--icon-button-icon-size) - 8px);
  pointer-events: none;
}

.IconButton .Icon svg {
  width: 100%;
  height: 100%;
}

.IconButton:focus {
  outline: none;
}

.IconButton:before {
  content: '';
  position: absolute;
  top: -2px;
  right: -2px;
  bottom: -2px;
  left: -2px;
  border-radius: 3px;
  pointer-events: none;
}

.IconButton--large {
  height: var(--icon-button-large-height);
  width: var(--icon-button-large-height);
}

.IconButton--large .Icon {
  height: var(--icon-button-icon-size);
  width: var(--icon-button-icon-size);
}

.IconButton--secondary:is([aria-disabled='true'], [disabled]),
.IconButton--secondary:is([aria-disabled='true'], [disabled]):active {
  color: var(--icon-button-text-color-disabled);
  background-color: var(--button-background-color-secondary-disabled);
  cursor: default;
}

.IconButton--tertiary:is([aria-disabled='true'], [disabled]),
.IconButton--tertiary:is([aria-disabled='true'], [disabled]):active {
  color: var(--icon-button-text-color-disabled);
}

.IconButton--primary:is([aria-disabled='true'], [disabled]),
.IconButton--primary:is([aria-disabled='true'], [disabled]):active {
  background-color: var(--button-background-color-primary-disabled);
  cursor: default;
}

.IconButton--error:is([aria-disabled='true'], [disabled]),
.IconButton--error:is([aria-disabled='true'], [disabled]):active {
  color: var(--button-text-color-light);
  background-color: var(--button-background-color-error-disabled);
  cursor: default;
}

.IconButton--danger:is([aria-disabled='true'], [disabled]),
.IconButton--danger:is([aria-disabled='true'], [disabled]):active {
  color: var(--button-text-color-light);
  background-color: var(--button-background-color-error-disabled);
  cursor: default;
}

.IconButton:focus:before {
  box-shadow: 0 0 1px 2px var(--button-focus-ring-color, --focus);
}

.IconButton--primary {
  background-color: var(--icon-button-background-color-primary);
  color: var(--icon-button-primary-color);
}

.IconButton--primary:not([disabled]):not([aria-disabled='true']):hover:before {
  box-shadow: 0 0 0 1px var(--icon-button-outline-color-primary);
}

.IconButton--primary:active {
  background-color: var(--icon-button-background-color-primary-active);
}

.IconButton--secondary,
.IconButton--tertiary,
.IconButton--tertiary:is(:active) {
  border: 1px solid var(--icon-button-border-color-secondary);
  background-color: var(--icon-button-background-color-secondary);
  color: var(--icon-button-secondary-color);
}

.IconButton--secondary:not([disabled]):not([aria-disabled='true']):hover:before,
.IconButton--tertiary:not([disabled]):not([aria-disabled='true']):is(
    :hover
  ):before {
  box-shadow: 0 0 0 1px var(--icon-button-outline-color-secondary);
}

.IconButton--tertiary:is(
  :not(:hover, :focus, :active),
  [disabled],
  [aria-disabled='true']
) {
  border-color: transparent;
  background-color: transparent;
}

.IconButton--secondary:active,
.IconButton--tertiary:active {
  background-color: var(--icon-button-background-color-secondary-active);
}

.IconButton--error {
  background-color: var(--icon-button-background-color-error);
  color: var(--button-text-color-light);
}

.IconButton--danger {
  background-color: var(--icon-button-background-color-danger);
  color: var(--button-text-color-light);
}

.IconButton--error:not([disabled]):not([aria-disabled='true']):hover:before {
  box-shadow: 0 0 0 1px var(--icon-button-outline-color-error);
}

.IconButton--danger:not([disabled]):not([aria-disabled='true']):hover:before {
  box-shadow: 0 0 0 1px var(--icon-button-outline-color-danger);
}

.IconButton--error:active {
  background-color: var(--icon-button-background-color-error-active);
}

.IconButton--danger:active {
  background-color: var(--icon-button-background-color-danger-active);
}

/* Dark Theme */

.cauldron--theme-dark {
  --icon-button-icon-color: var(--white);
  --icon-button-outline-shadow-color: var(--accent-medium);
  --icon-button-disabled-color: var(--dark-workspace-color);
  --icon-button-active-color: var(--accent-medium);

  /* Primary */
  --icon-button-primary-color: var(--white);
  --icon-button-background-color-primary: var(--accent-medium);
  --icon-button-background-color-primary-active: var(--accent-info-active);
  --icon-button-outline-color-primary: var(--accent-info);
  --icon-button-border-color-primary: var(--accent-info);

  /* Secondary */
  --icon-button-border-color-secondary: var(--accent-light);
  --icon-button-background-color-secondary: var(--accent-medium);
  --icon-button-secondary-color: var(--white);
  --icon-button-background-color-secondary-active: var(--accent-light);
  --icon-button-outline-color-secondary: var(--accent-light);

  /* Error */
  --icon-button-background-color-error: var(--accent-medium);
  --icon-button-border-color-error: var(--accent-danger);
  --icon-button-outline-color-error: var(--accent-danger);
  --icon-button-background-color-error-active: var(
    --button-background-color-error-active
  );

  /* Danger */
  --icon-button-background-color-danger: var(--accent-medium);
  --icon-button-border-color-danger: var(--accent-danger);
  --icon-button-outline-color-danger: var(--accent-danger);
  --icon-button-background-color-danger-active: var(
    --button-background-color-danger-active
  );
}

.cauldron--theme-dark .IconButton--primary {
  border: 2px solid var(--icon-button-border-color-primary);
}

.cauldron--theme-dark .IconButton--secondary,
.cauldron--theme-dark .IconButton--tertiary {
  border-width: 2px;
}

.cauldron--theme-dark .IconButton--error {
  border: 2px solid var(--icon-button-border-color-error);
}

.cauldron--theme-dark .IconButton--danger {
  border: 2px solid var(--icon-button-border-color-danger);
}

.cauldron--theme-dark
  .IconButton--primary:is([aria-disabled='true'], [disabled]),
.cauldron--theme-dark
  .IconButton--secondary:is([aria-disabled='true'], [disabled]),
.cauldron--theme-dark .IconButton--error:is([aria-disabled='true'], [disabled]),
.cauldron--theme-dark
  .IconButton--danger:is([aria-disabled='true'], [disabled]) {
  color: var(--icon-button-disabled-color);
}

.cauldron--theme-dark .IconButton--primary:active,
.cauldron--theme-dark .IconButton--secondary:active,
.cauldron--theme-dark .IconButton--tertiary:active,
.cauldron--theme-dark .IconButton--error:active,
.cauldron--theme-dark .IconButton--danger:active {
  color: var(--icon-button-active-color);
}

.cauldron--theme-dark
  .IconButton:is([aria-disabled='true'], [disabled]):active {
  color: var(--icon-button-disabled-color);
}

.cauldron--theme-dark
  .IconButton--primary:not([disabled]):not(
    [aria-disabled='true']
  ):hover:before {
  box-shadow:
    0 0 0 1px var(--icon-button-outline-shadow-color),
    0 0 0 2px var(--icon-button-outline-color-primary);
}

.cauldron--theme-dark
  .IconButton--secondary:not([disabled]):not(
    [aria-disabled='true']
  ):hover:before,
.cauldron--theme-dark
  .IconButton--tertiary:not([disabled]):not(
    [aria-disabled='true']
  ):hover:before {
  box-shadow:
    0 0 0 1px var(--icon-button-outline-shadow-color),
    0 0 0 2px var(--icon-button-outline-color-secondary);
}

.cauldron--theme-dark
  .IconButton--error:not([disabled]):not([aria-disabled='true']):hover:before {
  box-shadow:
    0 0 0 1px var(--icon-button-outline-shadow-color),
    0 0 0 2px var(--icon-button-outline-color-error);
}

.cauldron--theme-dark
  .IconButton--danger:not([disabled]):not([aria-disabled='true']):hover:before {
  box-shadow:
    0 0 0 1px var(--icon-button-outline-shadow-color),
    0 0 0 2px var(--icon-button-outline-color-danger);
}

.cauldron--theme-dark .IconButton:focus:before {
  box-shadow:
    0 0 0 2px var(--icon-button-outline-shadow-color),
    0 0 0 4px var(--button-focus-ring-color, --focus);
}

.cauldron--theme-dark
  .IconButton--tertiary:is([disabled], [aria-disabled='true']) {
  color: #74818b;
}
