.IconButton {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-content: center;
  height: var(--button-thin-height);
  width: var(--button-thin-height);
  border-radius: 3px;
  border: 1px solid transparent;
  background-color: var(--icon-button-background-color);
  color: var(--icon-button-icon-color);
  margin: 2px;
  padding: 0;
}

.IconButton .Icon {
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.IconButton .Icon svg {
  width: 100%;
  height: 100%;
}

.IconButton:focus {
  outline: none;
}

.IconButton:before {
  content: '';
  position: absolute;
  top: -2px;
  right: -2px;
  bottom: -2px;
  left: -2px;
  border-radius: 3px;
  pointer-events: none;
}

.IconButton:focus:before {
  box-shadow: 0 0 1px 2px var(--button-focus-ring-color);
}

.IconButton--primary {
  background-color: var(--icon-button-background-color-primary);
  color: var(--button-text-color-light);
}

.IconButton--primary:not([disabled]):not([aria-disabled='true']):hover:before {
  box-shadow: 0 0 0 1px var(--icon-button-outline-color-primary);
}

.IconButton--primary:active {
  background-color: var(--icon-button-background-color-primary-active);
}

.IconButton--secondary {
  border: 1px solid var(--icon-button-border-color-secondary);
  background-color: var(--icon-button-background-color-secondary);
  color: var(--button-text-color-dark);
}

.IconButton--secondary:not([disabled]):not([aria-disabled='true']):hover:before {
  box-shadow: 0 0 0 1px var(--icon-button-outline-color-secondary);
}

.IconButton--secondary:active {
  background-color: var(--icon-button-background-color-secondary-active);
}

.IconButton--error {
  background-color: var(--icon-button-background-color-error);
  color: var(--button-text-color-light);
}

.IconButton--error:not([disabled]):not([aria-disabled='true']):hover:before {
  box-shadow: 0 0 0 1px var(--icon-button-outline-color-error);
}

.IconButton--error:active {
  background-color: var(--icon-button-background-color-error-active);
}

.IconButton--light {
  background-color: var(--icon-button-background-color-light);
  color: var(--button-text-color-dark);
}

.IconButton--light:not([disabled]):not([aria-disabled='true']):hover:before {
  box-shadow: 0 0 0 1px var(--icon-button-outline-color-light);
}

.IconButton--light:active {
  background-color: var(--icon-button-background-color-light-active);
}

.IconButton--dark {
  background-color: var(--icon-button-background-color-dark);
  color: var(--button-text-color-light);
}

.IconButton--dark:not([disabled]):not([aria-disabled='true']):hover:before {
  box-shadow: 0 0 0 1px var(--icon-button-outline-color-dark);
}

.IconButton--dark:active {
  background-color: var(--icon-button-background-color-dark-active);
}
