:root {
  --icon-button-background-color-primary: var(
    --button-background-color-primary
  );
  --icon-button-background-color-primary-disabled: var(
    --button-background-color-primary-disabled
  );
  --icon-button-background-color-primary-active: var(
    --button-background-color-primary-active
  );
  --icon-button-outline-color-primary: var(--button-outline-color-primary);

  --icon-button-background-color-secondary: var(
    --button-background-color-secondary
  );
  --icon-button-background-color-secondary-disabled: var(
    --button-background-color-secondary-disabled
  );
  --icon-button-background-color-secondary-active: var(
    --button-background-color-secondary-active
  );
  --icon-button-outline-color-secondary: var(--button-outline-color-secondary);
  --icon-button-border-color-secondary: #dadada;

  --icon-button-background-color-error: var(--button-background-color-error);
  --icon-button-background-color-error-disabled: var(
    --button-background-color-error-disabled
  );
  --icon-button-background-color-error-active: var(
    --button-background-color-error-active
  );
  --icon-button-outline-color-error: var(--button-outline-color-error);

  --icon-button-content-color-light-disabled: #ccc;
  --icon-button-background-color-light: #dadada;
  --icon-button-background-color-light-active: #c2c2c2;
  --icon-button-outline-color-light: var(--icon-button-background-color-light);

  --icon-button-content-color-dark-disabled: #fff 40%;
  --icon-button-background-color-dark: var(--accent-medium);
  --icon-button-background-color-dark-disabled: var(--accent-medium);
  --icon-button-background-color-dark-active: var(--accent-dark);
  --icon-button-outline-color-dark: var(--icon-button-background-color-dark);
}

.IconButton {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-content: center;
  height: var(--button-thin-height);
  width: var(--button-thin-height);
  border-radius: 3px;
  border: 1px solid transparent;
  background-color: var(--icon-button-background-color);
  color: var(--icon-button-icon-color);
  margin: 2px;
  padding: 0;
}

/* Ensure both <a> and <button> IconButtons are aligned correctly. See #846. */
a.IconButton {
  vertical-align: middle;
}

.IconButton .Icon {
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.IconButton .Icon svg {
  width: 100%;
  height: 100%;
}

.IconButton:focus {
  outline: none;
}

.IconButton:before {
  content: '';
  position: absolute;
  top: -2px;
  right: -2px;
  bottom: -2px;
  left: -2px;
  border-radius: 3px;
  pointer-events: none;
}

.IconButton--secondary[aria-disabled='true'],
.IconButton--secondary[disabled] {
  color: var(--disabled);
  background-color: var(--button-background-color-secondary-disabled);
  cursor: default;
}

.IconButton--primary[aria-disabled='true'],
.IconButton--primary[disabled] {
  background-color: var(--button-background-color-primary-disabled);
  cursor: default;
}

.IconButton--error[aria-disabled='true'],
.IconButton--error[disabled] {
  color: var(--button-text-color-light);
  background-color: var(--button-background-color-error-disabled);
  cursor: default;
}

.IconButton:focus:before {
  box-shadow: 0 0 1px 2px var(--button-focus-ring-color, --focus);
}

.IconButton--primary {
  background-color: var(--icon-button-background-color-primary);
  color: var(--button-text-color-light);
}

.IconButton--primary:not([disabled]):not([aria-disabled='true']):hover:before {
  box-shadow: 0 0 0 1px var(--icon-button-outline-color-primary);
}

.IconButton--primary:active {
  background-color: var(--icon-button-background-color-primary-active);
}

.IconButton--secondary {
  border: 1px solid var(--icon-button-border-color-secondary);
  background-color: var(--icon-button-background-color-secondary);
  color: var(--button-text-color-dark);
}

.IconButton--secondary:not([disabled]):not([aria-disabled='true']):hover:before {
  box-shadow: 0 0 0 1px var(--icon-button-outline-color-secondary);
}

.IconButton--secondary:active {
  background-color: var(--icon-button-background-color-secondary-active);
}

.IconButton--error {
  background-color: var(--icon-button-background-color-error);
  color: var(--button-text-color-light);
}

.IconButton--error:not([disabled]):not([aria-disabled='true']):hover:before {
  box-shadow: 0 0 0 1px var(--icon-button-outline-color-error);
}

.IconButton--error:active {
  background-color: var(--icon-button-background-color-error-active);
}

/* Dark Theme */

.cauldron--theme-dark {
  --icon-button-border-color-secondary: var(--accent-medium);
  --icon-button-background-color-secondary: var(--accent-medium);
  --icon-button-background-color-primary: var(--gray-20);
  --icon-button-icon-color: var(--white);
}

.cauldron--theme-dark .IconButton--error {
  background-color: var(--accent-dark);
  color: var(--white);
}

.cauldron--theme-dark .IconButton--primary {
  color: var(--gray-90);
}

.cauldron--theme-dark .IconButton--primary[aria-disabled='true'],
.cauldron--theme-dark .IconButton--primary[disabled] {
  background-color: var(--gray-20);
  color: var(--gray-40);
}

.cauldron--theme-dark .IconButton--secondary[aria-disabled='true'],
.cauldron--theme-dark .IconButton--secondary[disabled] {
  color: #5d676f;
}

.cauldron--theme-dark .IconButton--secondary {
  color: var(--white);
}

.cauldron--theme-dark .IconButton--error {
  background-color: var(--accent-danger);
  color: var(--accent-dark);
}

.cauldron--theme-dark .IconButton--primary:active {
  background-color: #e5ebec;
}

.cauldron--theme-dark .IconButton--secondary:active {
  background-color: var(--accent-dark);
}

.cauldron--theme-dark
  .IconButton--primary:not([disabled]):not([aria-disabled='true']):hover:before {
  box-shadow: 0 0 0 1px var(--accent-light);
}

.cauldron--theme-dark
  .IconButton--secondary:not([disabled]):not([aria-disabled='true']):hover:before {
  box-shadow: 0 0 0 1px var(--white);
}
