.IconButton {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-content: center;
  height: var(--button-thin-height);
  width: var(--button-thin-height);
  border-radius: 3px;
  border: none;
  background-color: var(--icon-button-background-color);
  color: var(--icon-button-icon-color);
  margin: 2px;
  padding: 0;
  --button-hover-outline-color: var(--top-bar-text-color);
}

.IconButton div {
  width: 100%;
  height: 100%;
}

.IconButton:focus {
  outline: none;
}

.IconButton:before {
  content: '';
  position: absolute;
  top: -2px;
  right: -2px;
  bottom: -2px;
  left: -2px;
  border-radius: 3px;
}

.IconButton:focus:before {
  box-shadow: 0 0 1px 2px var(--button-focus-ring-color);
}

.IconButton:not([disabled]):not([aria-disabled='true']):hover:before {
  box-shadow: 0 0 0 1px var(--button-hover-outline-color);
}
