:root {
  --issue-panel-border-color: var(--gray-40);
  --issue-panel-header-background-color: var(--gray-20);
  --issue-panel-header-color: var(--gray-90);
  --issue-panel-content-background-color: var(--white);
  --issue-panel-content-color: var(--gray-60);
}

.IssuePanel {
  border: 1px solid var(--issue-panel-border-color);
}

.IssuePanel__Header {
  background-color: var(--issue-panel-header-background-color);
  color: var(--issue-panel-header-color);
  font-size: var(--text-size-normal);
  display: flex;
  border-bottom: 1px solid var(--issue-panel-border-color);
  align-items: center;
  padding: var(--space-half) 0;
}

.IssuePanel__Header-title {
  flex-grow: 1;
  display: flex;
  font-weight: var(--font-weight-bold);
  padding-left: var(--space-small);
}

.IssuePanel__Header-actions {
  flex-grow: 1;
  text-align: right;
  margin-right: var(--space-smallest);
}

.IssuePanel__Content {
  font-size: var(--text-size-smaller);
  background-color: var(--issue-panel-content-background-color);
  color: var(--issue-panel-content-color);
  padding: var(--space-small);
}

/* Dark Theme */
.cauldron--theme-dark {
  --issue-panel-border-color: #5d676f;
  --issue-panel-header-background-color: var(--accent-dark);
  --issue-panel-header-color: var(--white);
  --issue-panel-content-background-color: var(--accent-medium);
  --issue-panel-content-color: var(--accent-light);
}

.cauldron--theme-dark .IssuePanel__Header {
  border-bottom: 1px solid var(--issue-panel-border-color);
}
