.Layout {
  top: var(--top-bar-height);
  padding: var(--layout-padding) var(--layout-padding) 0 var(--layout-padding);
  position: fixed;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}

.TopBar--thin .Layout {
  top: var(--top-bar-height-thin);
}

.Layout .Main {
  padding: var(--layout-padding) var(--layout-padding) 0 var(--layout-padding);
  border-left: var(--border-width) solid transparent;
}

.Layout .Main:focus {
  outline: 0;
  border-left-color: var(--top-bar-background-color);
}

/* the left-bar style focus indication */
.Content--focus-target,
[data-skip-target='true'] {
  position: relative;
}

.Content--focus-target::before,
[data-skip-target='true']::before {
  content: '';
  position: absolute;
  left: -15px;
  background-color: transparent;
  top: 0;
  bottom: 0;
  width: var(--border-width);
}

.Content--focus-target:focus,
[data-skip-target='true']:focus {
  outline: 0;
}

.Content--focus-target:focus::before,
[data-skip-target='true']:focus::before {
  background-color: var(--top-bar-background-color);
}

@media (min-width: 1024px) {
  body .SideBar {
    display: block;
    left: 0;
    transition: left 0.3s;
  }

  body .TopBar .TopBar__menu-trigger {
    display: none;
  }

  body:not(.Page--no-sidebar) .Layout {
    left: var(--menu-width);
  }

  body:not(.Page--no-sidebar) .Toast {
    left: var(--menu-width);
  }
}

@media (max-width: 460px) {
  body .Modal .Modal__inner {
    width: 301px;
  }
}

/* Dark Theme */
.cauldron--theme-dark .Layout {
  background-color: #53636e;
  color: var(--white);
}
