:root {
  --link-text-color: var(--gray-90);
  --link-text-color-hover: #3873a3;
  --link-text-color-light: rgba(60, 122, 174, 0.1);
}

.cauldron--theme-dark {
  --link-text-color: var(--white);
  --link-text-color-hover: var(--accent-light);
}

.Link {
  text-decoration: underline;
  color: var(--link-text-color);
  padding: var(--space-quarter);
  background: transparent;
  vertical-align: baseline;
}

.Link:hover {
  text-decoration: underline;
  color: var(--link-text-color-hover);
}

.Link:focus {
  text-decoration: underline;
  outline-offset: 0;
}

.Link:where(:has(.Icon)) {
  width: max-content;
  display: inline-flex;
  align-items: center;
  gap: var(--space-half);
  flex-wrap: wrap;
  align-self: flex-start;
}
