:root {
  --link-text-color: var(--gray-90);
  --link-text-color-hover: var(--accent-primary);
  --link-text-color-light: rgba(60, 122, 174, 0.1);
}

.cauldron--theme-dark {
  --link-text-color: var(--white);
  --link-text-color-hover: var(--accent-light);
}

.Link {
  text-decoration: underline;
  color: var(--link-text-color);
  font-weight: var(--font-weight-medium);
  display: inline-block;
  padding: var(--space-quarter);
  background: transparent;
  vertical-align: baseline;
}

.Link:hover {
  text-decoration: underline;
  color: var(--link-text-color-hover);
}

.Link:focus {
  text-decoration: underline;
  outline-offset: 0;
}

p .Link {
  margin: 0 2px;
  display: inline;
  text-decoration: underline;
  color: var(--gray-90);
  font-weight: var(--font-weight-normal);
}
