.dqpl-link {
  text-decoration: none;
  color: var(--link-text-color);
  font-weight: var(--font-weight-medium);
  display: inline-block;
  padding: var(--space-quarter);
}

.dqpl-link:hover {
  text-decoration: underline;
  color: var(--link-text-color);
}

.dqpl-link:focus {
  text-decoration: underline;
  outline-offset: 0;
}

p .dqpl-link {
  margin: 0 2px;
  display: inline;
  text-decoration: underline;
  color: var(--header-text-color-dark);
  font-weight: var(--font-weight-normal);
}
