.dqpl-modal {
  display: none;
  width: 100%;
  box-sizing: border-box;
}

.dqpl-modal.dqpl-dialog-show {
  display: block;
}

.dqpl-modal .dqpl-dialog-inner {
  width: 450px;
  left: 50%;
  top: 100px;
  position: fixed;
  z-index: var(--z-index-modal);
  transform: translate(-50%, 0);
  border-radius: 3px;
  background: var(--tile-bg);
  box-shadow: 0px 5px 18px 2px rgba(0, 0, 0, 0.35);
}

.dqpl-modal .dqpl-dialog-inner .dqpl-modal-header {
  background-color: var(--button-secondary);
  position: relative;
  display: flex;
  height: 48px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.dqpl-modal .dqpl-dialog-inner .dqpl-modal-header h1,
.dqpl-modal .dqpl-dialog-inner .dqpl-modal-header h2,
.dqpl-modal .dqpl-dialog-inner .dqpl-modal-header h3,
.dqpl-modal .dqpl-dialog-inner .dqpl-modal-header h4,
.dqpl-modal .dqpl-dialog-inner .dqpl-modal-header h5,
.dqpl-modal .dqpl-dialog-inner .dqpl-modal-header h6,
.dqpl-modal .dqpl-dialog-inner .dqpl-modal-header .dqpl-close,
.dqpl-modal .dqpl-dialog-inner .dqpl-modal-header .dqpl-header-item {
  border-bottom: 4px solid transparent;
}

.dqpl-modal .dqpl-dialog-inner .dqpl-modal-header h1:focus,
.dqpl-modal .dqpl-dialog-inner .dqpl-modal-header h2:focus,
.dqpl-modal .dqpl-dialog-inner .dqpl-modal-header h3:focus,
.dqpl-modal .dqpl-dialog-inner .dqpl-modal-header h4:focus,
.dqpl-modal .dqpl-dialog-inner .dqpl-modal-header h5:focus,
.dqpl-modal .dqpl-dialog-inner .dqpl-modal-header h6:focus,
.dqpl-modal .dqpl-dialog-inner .dqpl-modal-header .dqpl-close:focus,
.dqpl-modal .dqpl-dialog-inner .dqpl-modal-header .dqpl-header-item:focus {
  outline: 0;
  border-bottom: 4px solid var(--text-base);
}

.dqpl-modal .dqpl-dialog-inner .dqpl-modal-header h2 {
  font-size: var(--text-normal);
  color: var(--text-base);
  font-weight: var(--weight-normal);
  align-self: center;
  padding: 8px 24px;
  border-bottom: 4px solid transparent;
}

.dqpl-modal .dqpl-dialog-inner .dqpl-modal-header .dqpl-close {
  background-color: transparent;
  color: var(--text-base);
  font-size: var(--text-normal);
  align-self: center;
  margin-left: auto;
  padding: 8px 10px;
  height: 100%;
}

.dqpl-modal .dqpl-dialog-inner .dqpl-content {
  padding: 0 var(--space-large) 0 var(--space-large);
  margin-bottom: 60px;
  overflow-y: auto;
}

.dqpl-modal .dqpl-dialog-inner .dqpl-content .dqpl-text-input,
.dqpl-modal .dqpl-dialog-inner .dqpl-content .dqpl-textarea {
  width: 100%;
}

.dqpl-modal .dqpl-dialog-inner .dqpl-content h3 {
  font-weight: var(--weight-light);
  margin: var(--space-large) 0 12px 0;
  padding: 0;
}

.dqpl-modal .dqpl-dialog-inner .dqpl-modal-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 60px;
  display: flex;
  align-items: center;
  border-top: 1px solid var(--field-disabled);
  padding: 0 var(--space-large);
  box-sizing: border-box;
  background: var(--tile-bg);
}

.dqpl-modal .dqpl-dialog-inner .dqpl-modal-footer button {
  margin: 0 var(--space-small) 0 0;
}

.dqpl-modal .dqpl-screen {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--scrim);
  position: fixed;
  z-index: var(--z-index-modal-scrim);
}
