.Modal {
  display: none;
  width: 100%;
  box-sizing: border-box;
  --modal-header-height: 48px;
}

.Modal.Modal--show {
  display: block;
}

.Modal__inner {
  width: 450px;
  left: 50%;
  top: 100px;
  position: fixed;
  z-index: var(--z-index-modal);
  transform: translate(-50%, 0);
  border-radius: 3px;
  background: var(--tile-background-color);
  box-shadow: 0px 5px 18px 2px rgba(0, 0, 0, 0.35);
}

.Modal__header {
  background-color: var(--button-background-color-secondary);
  position: relative;
  display: flex;
  height: var(--modal-header-height);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.Modal__header h1,
.Modal__header h2,
.Modal__header h3,
.Modal__header h4,
.Modal__header h5,
.Modal__header h6,
.Modal__header .Modal__close {
  margin: 0;
  height: var(--modal-header-height);
  display: flex;
  align-items: center;
  border-bottom: 4px solid transparent;
}

.Modal__header h1:focus,
.Modal__header h2:focus,
.Modal__header h3:focus,
.Modal__header h4:focus,
.Modal__header h5:focus,
.Modal__header h6:focus,
.Modal__header .Modal__close:focus {
  outline: 0;
  border-bottom: 4px solid var(--text-color-base);
}

.Modal__header h2 {
  font-size: var(--text-size-normal);
  color: var(--text-color-base);
  font-weight: var(--font-weight-normal);
  align-self: center;
  padding: 8px 24px;
  border-bottom: 4px solid transparent;
}

.Modal__header .Modal__close {
  background-color: transparent;
  color: var(--text-color-base);
  font-size: var(--text-size-normal);
  align-self: center;
  margin-left: auto;
  padding: 8px 10px;
  height: 100%;
}

.Modal .Modal__content {
  padding: 0 var(--space-large) 0 var(--space-large);
  margin-bottom: 60px;
  overflow-y: auto;
}

.Modal .Modal__content .Field__text-input,
.Modal .Modal__content .Field__textarea {
  width: 100%;
}

.Modal .Modal__content h3 {
  font-weight: var(--font-weight-light);
  margin: var(--space-large) 0 12px 0;
  padding: 0;
}

.Modal__footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 60px;
  display: flex;
  align-items: center;
  border-top: 1px solid var(--field-background-color-disabled);
  padding: 0 var(--space-large);
  box-sizing: border-box;
  background: var(--tile-background-color);
}

.Modal__footer button {
  margin: 0 var(--space-small) 0 0;
}
