:root {
  --top-nav-height: 3rem;
  --top-nav-background-color: var(--top-bar-background-color);
  --top-nav-background-color-hover: var(--gray-20);
  --top-nav-text-color: var(--top-bar-text-color);
  --top-nav-border-bottom-color: var(--gray-40);
  --top-nav-active-shadow-color: var(--accent-primary);
  --top-nav-box-shadow-color: var(--gray-40);
}

.cauldron--theme-dark {
  --top-nav-background-color: var(--top-bar-background-color);
  --top-nav-background-color-hover: var(--accent-medium);
  --top-nav-text-color: var(--top-bar-text-color);
  --top-nav-border-bottom-color: #5d676f;
  --top-nav-active-shadow-color: var(--accent-info);
  --top-nav-box-shadow-color: #5d676f;
}

.NavBar {
  height: var(--top-nav-height);
  /* allow the top bar dropdown to be higher in stacking order */
  z-index: 1;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: var(--top-nav-background-color);
  color: var(--top-nav-text-color);
  border-bottom: solid 1px var(--top-nav-border-bottom-color);
}

.TopBar--thin .NavBar {
  top: var(--top-bar-height-thin);
}

.NavBar > ul {
  width: 100%;
  list-style-type: none;
  display: flex;
  z-index: var(--z-index-top-nav);
}

.NavBar > ul > li {
  height: var(--top-nav-height);
  font-size: var(--text-size-normal);
  flex: 1 0 9.375rem;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  border-right: 1px solid var(--top-nav-box-shadow-color);
  transition: background-color 0.3s ease;
}

.NavBar > ul > li:first-child:not(.NavBar__menu-trigger) {
  border-left: 1px solid var(--top-nav-box-shadow-color);
}

.NavBar > ul > li:hover {
  background-color: var(--top-nav-background-color-hover);
}

.NavBar > ul > li:focus-within {
  /* make focus outline visible */
  z-index: calc(var(--z-index-top-nav) + 1);
}

.NavBar > ul > li.NavItem--active {
  box-shadow: inset 0px 4px 0px var(--top-nav-active-shadow-color);
  /* make focus outline visible */
  z-index: calc(var(--z-index-top-nav) + 1);
}

.NavBar > ul > li > a {
  color: var(--top-nav-text-color);
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 var(--space-medium);
  /* clicking anywhere in the "item" should activate the anchor */
  height: 100%;
  width: 100%;
}

/* NavBar with a trigger */
.NavBar.NavBar--trigger {
  align-items: flex-start;
}

.NavBar--trigger > ul {
  flex-direction: column;
  width: 100%;
  overflow: auto;
}

.NavBar.NavBar--trigger > ul > li {
  width: 100%;
  height: var(--top-nav-height);
  font-size: var(--text-size-small);
  background-color: var(--top-nav-background-color);
  color: var(--top-nav-text-color);
  box-shadow: inset 0px -1px 0px var(--top-nav-box-shadow-color);
  flex: 0 1 3.125rem;
  border-right: none;
}

.NavBar.NavBar--trigger > ul > .NavItem--active {
  box-shadow: inset 0px -1px 0px var(--top-nav-box-shadow-color),
    inset 6px 0px 0px var(--top-nav-active-shadow-color);
}

.NavBar--trigger > ul > .NavBar__menu-trigger {
  display: flex;
  align-items: center;
  align-self: flex-start;
  box-shadow: inset 0px -1px 0px var(--top-nav-box-shadow-color);
  flex: 0 1 var(--top-nav-height);
}

.NavBar.NavBar--trigger > ul > .NavBar__menu-trigger--active {
  box-shadow: inset 0px -1px 0px var(--top-nav-box-shadow-color),
    inset 0px 4px 0px var(--top-nav-active-shadow-color);
}

.NavBar--trigger > ul > .NavBar__menu-trigger > button {
  padding: 0 var(--space-small);
  background-color: transparent;
  color: var(--top-nav-text-color);
  width: 100%;
  height: 100%;
}

/* make focus outline visible */
.NavBar--trigger > ul > li > a:focus,
.NavBar--trigger > ul > .NavBar__menu-trigger > button:focus {
  outline-offset: calc(var(--space-quarter) * -1);
}

.NavBar--trigger > ul > .NavBar__menu-trigger .Icon {
  margin-right: var(--space-smallest);
}

@media (max-width: 61.25rem) {
  .NavBar > ul > li {
    font-size: var(--text-size-small);
  }

  .NavBar > ul > li:not(.NavItem--previous):not(.NavItem--next) {
    min-width: 7.125rem;
  }
}
