:root {
  --notice-text-color: var(--gray-90);
  --notice-title-text-color: var(--gray-60);
  --notice-background-color: var(--gray-20);
  --notice-border-color: var(--gray-90);
  --notice-info-color: var(--accent-info-active);
  --notice-success-color: var(--success);
  --notice-caution-color: var(--warning); /* #ffe8a4; */
  --notice-danger-color: var(--error-alt);
}

.cauldron--theme-dark {
  --notice-text-color: var(--gray-90);
  --notice-title-text-color: var(--gray-60);
  --notice-background-color: var(--gray-20);
  --notice-border-color: var(--gray-90);
}

.Notice--info {
  --notice-background-color: var(--notice-info-color);
}

.Notice--success {
  --notice-background-color: var(--notice-success-color);
}

.Notice--caution {
  --notice-background-color: var(--notice-caution-color);
}

.Notice--danger {
  --notice-background-color: var(--notice-danger-color);
}

.Notice {
  display: block;
  flex-direction: column;
  padding: var(--space-smaller) var(--space-small);
  border: 1px solid #02101a;
  background-color: var(--notice-background-color);
  color: var(--notice-text-color);
  width: 100%;
  margin-top: 1rem;
  font-size: var(--text-size-small);
}

.Notice .Notice__title {
  display: flex;
  align-items: center;
  font-size: var(--text-size-normal);
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.Notice .Notice__content {
  padding-top: var(--space-smaller);
}

/* .Notice .Notice__content > :first-child {
  padding-top: var(--space-smaller);
}

.Notice .Notice__content > :last-child {
  margin-bottom: 0;
} */
