:root {
  --notice-text-color: var(--gray-90);
  --notice-title-text-color: var(--gray-60);
  --notice-background-color: var(--gray-20);
  --notice-border-color: var(--gray-90);
  --notice-info-color: var(--accent-info-active);
  --notice-success-color: var(--success);
  --notice-caution-color: var(--accent-caution); /* #ffe8a4; */
  --notice-danger-color: var(--error-alt);
}

.cauldron--theme-dark {
  --notice-text-color: var(--gray-90);
  --notice-title-text-color: var(--gray-60);
  --notice-background-color: var(--gray-20);
  --notice-border-color: var(--gray-90);
}

.Notice--info {
  --notice-background-color: var(--notice-info-color);
}

.Notice--caution {
  --notice-background-color: var(--notice-caution-color);
}

.Notice {
  display: block;
  flex-direction: column;
  padding: var(--space-smaller) var(--space-small);
  border: 1px solid #02101a;
  background-color: var(--notice-background-color);
  color: var(--notice-text-color);
  width: 100%;
  font-size: var(--text-size-smaller);
}

.Notice + .Notice {
  margin-top: var(--space-smaller);
}

.Notice .Notice__title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: var(--text-size-small);
  font-weight: 500;
  margin: 0;
  padding: 0;
  gap: var(--space-three-quarters);
  margin-bottom: var(--space-three-quarters);
}

.Notice .Icon > svg {
  height: var(--space-medium);
  width: var(--space-medium);
}
