.dqpl-options-menu-wrap {
  position: relative;
  width: 34px;
  color: var(--text-color-base);
}

.dqpl-options-menu-wrap .dqpl-options-menu-trigger {
  font-size: var(--text-small-medium);
  color: var(--header-text-color-dark);
  border-radius: 3px;
  background-color: var(--tile-background-color);
  border: 1px solid var(--field-border-color);
  box-sizing: border-box;
  height: 34px;
  width: 34px;
  text-align: center;
}

.dqpl-options-menu-wrap .dqpl-options-menu {
  display: none;
  position: absolute;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: var(--tile-background-color);
  top: 33px;
  right: 0;
  left: auto;
  border: 1px solid var(--field-border-color);
  z-index: var(--listbox-z-index);
  min-width: 150px;
  max-height: 140px;
  overflow-y: auto;
}

.dqpl-options-menu-wrap .dqpl-options-menu[aria-expanded='true'] {
  display: block;
}

.dqpl-options-menu-wrap .dqpl-options-menu .dqpl-options-menuitem {
  font-size: var(--text-size-small);
  font-weight: var(--font-weight-normal);
  padding: 2px var(--space-smallest);
  cursor: default;
}

.dqpl-options-menu-wrap .dqpl-options-menu .dqpl-options-menuitem:hover,
.dqpl-options-menu-wrap .dqpl-options-menu .dqpl-options-menuitem:focus {
  background-color: var(--link-text-color-light);
  outline: 0;
}

.dqpl-options-menu-wrap
  .dqpl-options-menu
  .dqpl-options-menuitem[aria-disabled='true'] {
  color: var(--disabled);
}

.dqpl-options-menu-wrap
  .dqpl-options-menu
  .dqpl-options-menuitem[aria-disabled='true']:hover {
  background-color: transparent;
}

.dqpl-options-menu-wrap.dqpl-align-left .dqpl-options-menu {
  left: 0;
  right: auto;
}
