.OptionsMenu {
  position: relative;
  width: 34px;
  color: var(--text-color-base);
}

.OptionsMenu__trigger {
  font-size: var(--text-small-medium);
  color: var(--header-text-color-dark);
  border-radius: 3px;
  background-color: var(--tile-background-color);
  border: 1px solid var(--field-border-color);
  box-sizing: border-box;
  height: 34px;
  width: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.OptionsMenu__list {
  display: none;
  position: absolute;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: var(--tile-background-color);
  top: 33px;
  right: 0;
  left: auto;
  border: 1px solid var(--field-border-color);
  z-index: var(--z-index-listbox);
  min-width: 150px;
  max-height: 140px;
  overflow-y: auto;
}

.OptionsMenu__list[aria-expanded='true'] {
  display: block;
}

.OptionsMenu__list-item {
  font-size: var(--text-size-small);
  font-weight: var(--font-weight-normal);
  padding: 2px var(--space-smallest);
  cursor: default;
}

.OptionsMenu__list-item:hover,
.OptionsMenu__list-item:focus {
  background-color: var(--link-text-color-light);
  outline: 0;
}

.OptionsMenu__list-item[aria-disabled='true'] {
  color: var(--disabled);
}

.OptionsMenu__list-item[aria-disabled='true']:hover {
  background-color: transparent;
}

.OptionsMenu.OptionsMenu--align-left .OptionsMenu__list {
  left: 0;
  right: auto;
}

.OptionsMenu .OptionsMenu__list {
  top: 100%;
}
