:root {
  --page-header-overline-color: var(--gray-60);
}

.cauldron--theme-dark {
  --page-header-overline-color: var(--accent-light);
}

.PageHeader :is(h1, h2, h3, h4, h5, h6) {
  font-size: var(--text-size-heading-1);
}

.PageHeader__overline {
  margin: 0 0 var(--space-smallest) 0;
  padding: 0;
  color: var(--page-header-overline-color);
  font-size: var(--text-size-base);
}
