:root {
  --pagination-button-background-color: var(--gray-20);
  --pagination-button-border-color: var(--gray-40);
  --pagination-button-disabled-text-color: var(--gray-40);
  --pagination-text-accent-color: var(--gray-90);
}

.cauldron--theme-dark {
  --pagination-button-background-color: var(--accent-medium);
  --pagination-button-border-color: transparent;
  --pagination-button-disabled-text-color: var(--stroke-dark);
  --pagination-text-accent-color: var(--white);
}

.Pagination > ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  font-size: var(--text-size-small);
  margin: 0;
}

.Pagination > ul > li:not(:last-child) {
  margin-right: var(--space-smallest);
}

.Pagination:not(.Pagination--thin) button {
  height: 2.26rem;
  width: 2.26rem;
}

.Pagination button {
  display: flex;
  justify-content: center;
  align-items: center;
  /* light theme-specific styles */
  background: var(--pagination-button-background-color);
  border: 1px solid var(--pagination-button-border-color);
  padding: 0;
  margin: 0;
  border-radius: 2px;
}

.Pagination button[aria-disabled='true'] {
  color: var(--pagination-button-disabled-text-color);
}

.Pagination button .Icon {
  width: auto;
  height: auto;
}

.Pagination [role='log'] {
  margin: 0 var(--space-small);
  font-variant-numeric: tabular-nums;
}

.Pagination--thin [role='log'] {
  font-size: var(--text-size-smaller);
  margin: 0 var(--space-half);
}

.Pagination [role='log'] strong {
  color: var(--pagination-text-accent-color);
}

.cauldron--theme-dark .Pagination [role='log'] {
  color: var(--accent-light);
}

@media (max-width: 28.125rem) {
  .Pagination [role='log'] {
    margin: 0;
  }

  .Pagination--thin [role='log'] {
    margin: 0;
  }
}
