.Scrim {
  background-color: var(--scrim-background-color);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  display: none;
  z-index: var(--z-index-scrim);
  transition: opacity 300ms;
}

.Scrim--light {
  background-color: rgba(255, 255, 255, 0.75);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  display: none;
  z-index: var(--z-index-scrim);
  transition: opacity 300ms;
  z-index: var(--z-index-scrim-action-needed);
}

.Scrim.Scrim--show,
.Scrim--light.Scrim--show {
  display: block;
}

.Scrim.Scrim--fade-in,
.Scrim--light.Scrim--fade-in {
  opacity: 1;
  transition: opacity 300ms;
}
