:root {
  --section-header-description-color: var(--gray-60);
  --section-header-heading-color: var(--gray-90);
}

.cauldron--theme-dark {
  --section-header-description-color: var(--accent-light);
  --section-header-heading-color: #ffffff;
}

.SectionHeader {
  container-type: inline-size;
}

.SectionHeader__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: var(--space-large);
  gap: var(--space-small);
}

.SectionHeader__text-section {
  display: flex;
  flex-direction: column;
  gap: var(--space-smallest);
  flex: 1;
}

.SectionHeader__actions {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.SectionHeader .SectionHeader__content .SectionHeader__description {
  margin: 0;
  padding: 0;
  color: var(--section-header-description-color);
  font-size: var(--text-size-base);
}

.SectionHeader :is(h1, h2, h3, h4, h5, h6) {
  color: var(--section-header-heading-color);
  font-weight: var(--font-weight-medium);
  margin: 0;
  padding: 0;
}

@container (min-width: 48rem) {
  .SectionHeader__content {
    flex-direction: row;
  }
}
