.Field__select {
  display: flex;
  flex-direction: column;
}

.Field__select--disabled {
  opacity: 0.45;
}

.Field__select--label-wrapper {
  display: flex;
  justify-content: space-between;
}

.Field__select--label {
  font-family: Roboto;
  color: #333333;
  text-decoration: rgb(51, 51, 51);
}

.Field__select--wrapper {
  position: relative;
  width: var(--select-width);
}

.arrow-down {
  width: 0;
  height: 0;
  position: absolute;
  top: 40%;
  right: var(--select-arrow-spacing);
  border-left: var(--space-half) solid transparent;
  border-right: var(--space-half) solid transparent;
  border-top: var(--space-three-quarters) solid #6a6a6a;
  z-index: -1;
}

.Field__select--wrapper select {
  width: var(--select-width);
  min-height: var(--select-min-height);
  padding: var(--space-three-quarters) var(--space-smallest);
  border: 1px solid var(--field-border-color);
  font-family: Roboto;
  font-weight: normal;
  font-style: normal;
  font-size: var(--text-size-smaller);
  color: var(--text-color-base);
  text-decoration: rgb(102, 102, 102);
  box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.05);
  background: transparent;
  appearance: none;
}

.Field__select--wrapper select:hover {
  border-color: rgb(60, 122, 174);
}

.Field__select--wrapper select:focus {
  border-color: rgb(60, 122, 174);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px inset,
    rgba(60, 122, 174, 0.7) 0px 0px 4px 0px;
}

.Field__select--wrapper select:invalid {
  border-width: var(--space-quarter);
  border-color: var(--field-border-color-error);
}

.Field__select--wrapper select:invalid:focus {
  border-width: var(--space-quarter);
  border-color: var(--field-border-color-error);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px inset,
    rgba(217, 50, 81, 0.7) 0px 0px 4px 0px;
}
