:root {
  --select-min-height: 33px;
  --select-width: 300px;
  --select-arrow-spacing: 10px;
}

.Field__select {
  display: flex;
  flex-direction: column;
}

.Field__select--disabled {
  opacity: 0.65;
}

.Field__select--wrapper {
  position: relative;
  min-width: var(--select-width);
}

.arrow-down {
  width: 0;
  height: 0;
  position: absolute;
  top: 40%;
  right: var(--select-arrow-spacing);
  border-left: var(--space-half) solid transparent;
  border-right: var(--space-half) solid transparent;
  border-top: var(--space-three-quarters) solid var(--field-content-color);
  pointer-events: none;
}

.Field__select--wrapper select {
  width: 100%;
  min-height: var(--select-min-height);
  padding: var(--space-three-quarters) var(--space-smallest);
  border: 1px solid var(--field-border-color);
  font-family: Roboto;
  font-weight: normal;
  font-style: normal;
  font-size: var(--text-size-small);
  color: var(--field-content-color);
  text-decoration: rgb(102, 102, 102);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05);
  appearance: none;
}

.Field__select--wrapper select:not([disabled]):hover {
  border-color: var(--field-border-color-hover);
}

.Field__select--wrapper select:focus {
  border-color: var(--field-border-color-focus);
  box-shadow: 0 0 0 1px var(--field-border-color-focus),
    0 0 5px var(--field-border-color-focus-glow),
    inset 0 1px 2px rgba(0, 0, 0, 0.05);
}

.Field__select--wrapper select:focus:hover {
  border-color: var(--field-border-color-focus-hover);
}

.Field__select--wrapper select:invalid,
.Field--has-error select {
  border-width: var(--space-quarter);
  border-color: var(--field-border-color-error);
}

.Field__select--wrapper.Field--has-error select:hover {
  border-color: var(--field-border-color-error-hover);
}

.Field__select--wrapper select:invalid:focus,
.Field__select--wrapper.Field--has-error select:focus {
  border-width: var(--space-quarter);
  border-color: var(--field-border-color-error);
  box-shadow: rgba(0, 0, 0, 0.05) 0 1px 2px 0 inset,
    var(--field-border-color-error-focus-glow) 0 0 4px 0;
}

.Field__select--wrapper select:invalid:focus:hover,
.Field__select--wrapper.Field--has-error select:focus:hover {
  border-color: var(--field-border-color-error-hover);
}
