:root {
  --menu-width: 257px;
}

.SideBar {
  display: none;
  position: fixed;
  top: calc(var(--top-bar-height) + var(--top-nav-height));
  bottom: 0;
  overflow: auto;
  background-color: var(--white);
  width: var(--menu-width);
  left: calc(-1 * var(--menu-width));
  box-sizing: border-box;
  transition: left 0.3s;
  z-index: var(--z-index-side-bar);
}

.TopBar--thin .SideBar {
  top: calc(var(--top-bar-height-thin) + var(--top-nav-height));
}

.SideBar.SideBar--show {
  display: block;
}

.SideBar.SideBar--active {
  left: 0;
  transition: left 0.3s;
}

.SideBar li {
  position: relative;
}

.SideBar li:not([aria-controls]) {
  padding: var(--space-small);
  border-left: var(--border-width) solid transparent;
}

.SideBar li:not([aria-controls]):not(.MenuItem--active):hover,
.SideBar li:not([aria-controls]):focus-within {
  outline: 0;
  background-color: var(--gray-20);
}

.SideBar li:not([aria-controls]).MenuItem--active {
  border-left: var(--border-width) solid var(--accent-primary);
  background-color: var(--white);
}

.SideBar li:not([aria-controls]).MenuItem--active a {
  color: var(--gray-90);
  font-weight: var(--font-weight-medium);
}

.SideBar li:not([aria-controls]).MenuItem--active a:focus:before {
  content: '';
  width: var(--border-width);
  height: 100%;
  background-color: var(--top-bar-text-color);
  position: absolute;
  top: 0;
  left: 2px;
}

.SideBar > li {
  color: var(--gray-60);
  font-size: var(--text-size-small);
  font-weight: var(--font-weight-light);
  cursor: pointer;
  border-right: 1px solid #b3bfc6;
  border-bottom: 1px solid#b3bfc6;
}

.SideBar > li:focus {
  outline: 0;
}

.SideBar > li a {
  text-decoration: none;
  color: var(--gray-60);
  font-size: var(--text-size-small);
  font-weight: var(--font-weight-light);
}

.SideBar > li a:focus {
  outline: 0;
}

/* Dark Theme */
.cauldron--theme-dark .SideBar {
  background-color: var(--accent-medium);
  color: var(--accent-light);
}

.cauldron--theme-dark .SideBar > li a {
  color: var(--accent-light);
}

.cauldron--theme-dark .SideBar > li {
  color: var(--accent-light);
  border-right: 2px solid #5d676f;
  border-bottom: 2px solid #5d676f;
}

.cauldron--theme-dark .SideBar li:not([aria-controls]).MenuItem--active {
  border-left: var(--border-width) solid var(--accent-info);
  background-color: var(--accent-medium);
}

.cauldron--theme-dark .SideBar li:not([aria-controls]).MenuItem--active a {
  color: var(--white);
  font-weight: var(--font-weight-medium);
}

.cauldron--theme-dark
  .SideBar
  li:not([aria-controls]):not(.MenuItem--active):hover,
.cauldron--theme-dark .SideBar li:not([aria-controls]):focus-within {
  background-color: var(--accent-dark);
}
