.dqpl-skip-container {
  min-width: 173px;
  height: 58px;
  background-color: var(--skip-link-background-color);
  position: absolute;
  box-sizing: border-box;
  padding: var(--space-half);
  top: -999px;
  left: 11px;
  opacity: 0;
  transition: 250ms opacity;
  border-radius: 2px;
  z-index: var(--skip-container-z-index);
}

.dqpl-skip-container.dqpl-skip-container-active {
  top: 11px;
}

.dqpl-skip-container.dqpl-skip-fade {
  opacity: 1;
  transition: 250ms opacity;
}

.dqpl-skip-container a {
  display: block;
  color: var(--text-color-light);
  text-decoration: none;
  padding: var(--space-three-quarters);
}

.dqpl-skip-container span {
  display: block;
}

.dqpl-skip-container .dqpl-skip-one {
  font-size: var(--text-size-small);
  font-weight: var(--font-weight-light);
  color: var(--text-color-light);
}

.dqpl-skip-container .dqpl-skip-two {
  font-size: var(--text-size-normal);
  font-weight: var(--font-weight-medium);
  color: var(--text-color-light);
}

.dqpl-skip-container.dqpl-child-focused {
  outline: 2px solid var(--focus);
  outline-offset: var(--space-quarter);
}

.dqpl-skip-container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.dqpl-skip-container ul li {
  padding: var(--space-quarter);
}

.dqpl-skip-container ul li a {
  padding: 0;
}

.dqpl-skip-container ul li a span {
  display: inline-block;
  margin-right: 3px;
}

.dqpl-skip-container ul li a:before {
  font-family: 'FontAwesome';
  content: '\f0da';
  margin: 0 2px;
  display: inline-block;
  color: transparent;
}

.dqpl-skip-container ul li a:after {
  font-family: 'FontAwesome';
  content: '\f0d9';
  margin: 0 2px;
  display: inline-block;
  color: transparent;
}

.dqpl-skip-container ul li a:focus {
  outline: 0;
}

.dqpl-skip-container ul li a:focus:before,
.dqpl-skip-container ul li a:focus:after {
  color: var(--text-color-light);
}
