:root {
  --skip-link-background-color: rgba(255, 255, 255, 0.95);
  --skip-link-focus-color: var(--focus-light);
  --skip-link-text-color: var(--text-color-base);
}

.SkipLink {
  position: absolute;
  box-sizing: border-box;
  padding: 8px;
  top: -999px;
  left: 11px;
  opacity: 0;
  transition: 250ms opacity;
  z-index: var(--z-index-skip-container);
}

.SkipLink.SkipLink--active {
  top: 11px;
}

.SkipLink.SkipLink--fade {
  opacity: 1;
  transition: 250ms opacity;
}

.SkipLink a {
  min-width: 13rem;
  background-color: var(--skip-link-background-color);
  display: block;
  color: var(--skip-link-text-color);
  text-decoration: none;
  padding: 12px;
  border-radius: 2px;
}

.SkipLink span {
  display: block;
}

.SkipLink .SkipLink__item--first {
  font-size: var(--text-size-small);
  font-weight: var(--font-weight-light);
  margin-bottom: var(--space-three-quarters);
}

.SkipLink .SkipLink__item--second {
  font-size: var(--text-size-normal);
  font-weight: var(--font-weight-medium);
}

.SkipLink .Icon--triangle-right {
  color: var(--skip-link-focus-color);
}

.SkipLink ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.SkipLink ul li {
  padding: var(--space-quarter);
}

.SkipLink ul li a {
  padding: 0;
}

.SkipLink ul li a span {
  display: inline-block;
  margin-right: 3px;
}

.SkipLink ul li a:before {
  font-family: 'FontAwesome';
  content: '\f0da';
  margin: 0 2px;
  display: inline-block;
  color: transparent;
}

.SkipLink ul li a:after {
  font-family: 'FontAwesome';
  content: '\f0d9';
  margin: 0 2px;
  display: inline-block;
  color: transparent;
}

.SkipLink ul li a:focus {
  outline: 0;
}

.SkipLink ul li a:focus:before,
.SkipLink ul li a:focus:after {
  color: var(--text-color-light);
}

/* Dark Theme */
.cauldron--theme-dark {
  --skip-link-background-color: rgba(11, 14, 17, 0.95);
  --skip-link-focus-color: var(--focus-dark);
  --skip-link-text-color: var(--text-color-light);
}
