:root {
  --table-header-text-color: var(--gray-90);
  --table-header-background-color: var(--gray-20);
  --table-header-sorting-background-color: #caddec;
  --table-header-background-color-hover: #dddddd;
  /* --table-header-sorting-text-color will be deprecated */
  --table-header-sorting-text-color: var(--gray-90);
  --table-cell-text-color: var(--gray-60);
  --table-cell-background-color: var(--white);
  --table-row-border-color: var(--gray-20);
  --table-space: var(--space-small);
  --table-header-sorting-border-color: var(--gray-90);
  --table-box-shadow: var(--drop-shadow-raised);
  --table-odd-row-background: var(--gray-10);
  --table-sort-hover-focus-ring-color: var(--gray-90);
}

.cauldron--theme-dark {
  --table-header-text-color: var(--white);
  --table-header-background-color: var(--accent-medium);
  /* --table-header-sorting-text-color will be deprecated */
  --table-header-sorting-text-color: var(--white);
  --table-header-sorting-background-color: #53636e;
  --table-header-background-color-hover: #53636e;
  --table-cell-text-color: var(--accent-light);
  --table-cell-background-color: var(--accent-medium);
  --table-row-border-color: #5d676f;
  --table-header-sorting-border-color: var(--accent-info);
  --table-odd-row-background: var(--gray-90);
  --table-sort-hover-focus-ring-color: var(--accent-light);
}

.Table {
  table-layout: auto;
  font-size: var(--text-size-small);
  border-collapse: collapse;
  text-align: left;
  width: var(--table-width, 100%);
  overflow-wrap: break-word;
}

.TableGrid {
  display: grid;
  grid-template-columns: var(--table-grid-template-columns, auto);
  grid-auto-rows: auto;
}

:where(.TableGrid) :is(.TableHead, .TableBody, .TableFooter, .TableRow) {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: -1 / 1;
}

.TableHeader {
  background: var(--table-header-background-color);
  font-weight: var(--font-weight-medium);
  color: var(--table-header-text-color);
  border-bottom: 1px solid var(--table-row-border-color);
}

.TableBody .TableHeader {
  border-bottom-width: 1px;
  border-right: 1px solid var(--table-row-border-color);
}

.TableBody .TableRow:last-child .TableHeader {
  border-bottom: none;
}

.TableBody .TableRow:nth-child(odd) .TableCell {
  background: var(--table-odd-row-background);
}

.TableHeader[aria-sort] {
  padding: 0;
}

.TableHeader .TableHeader__sort-button {
  background-color: transparent;
  font-family: inherit;
  width: 100%;
  font-size: var(--text-size-small);
  font-weight: var(--font-weight-medium);
  color: var(--table-header-text-color);
  align-items: center;
  justify-content: flex-start;
  padding: var(--table-space) var(--space-large);
  text-align: inherit;
}

.TableHeader__sort-button:hover {
  cursor: pointer;
  box-shadow: inset 0 0 0 1px var(--table-sort-hover-focus-ring-color);
}

.TableHeader__sort-button:focus {
  outline-offset: unset;
}

/* Applies TableCell styles to a <TableHeader> with variant="cell". Only results in visual changes, not semantic ones. */
.TableHeader--CellVariant {
  font-weight: var(--font-weight-normal);
}

/* These styles are not applying and will be deprecated */
.TableHeader--sort-ascending .TableHeader__sort-button,
.TableHeader--sort-decscending .TableHeader__sort-button {
  color: var(--table-header-sorting-text-color);
}

/* compensate the gap in height between TableHeader and Icon */
.TableHeader__sort-button span {
  margin: calc(var(--space-half) * -1) 0;
}

.TableCell {
  background: var(--table-cell-background-color);
  color: var(--table-cell-text-color);
  border-bottom: 1px solid var(--table-row-border-color);
}

.TableCell,
.TableHeader {
  padding: var(--table-space) var(--space-large);
}

.Table:not(.Table--border) .TableRow:last-child .TableCell {
  border: none;
}

.Table--border {
  box-shadow: var(--table-box-shadow);
}

.TableCell {
  color: var(--gray-90);
}

.cauldron--theme-dark .TableCell {
  color: var(--white);
}

.Table--border,
.Table--border :is(.TableHeader, .TableFooter, .TableCell) {
  border: 1px solid var(--gray-40);
}

:where(.TableGrid).Table--border :is(.TableCell, .TableHeader) {
  border: none;
}

:where(.TableGrid).Table--border
  :is(.TableBody, .TableHead, .TableFooter, .TableRow) {
  grid-gap: 1px;
  background-color: var(--table-row-border-color);
}

.Table--border .TableHeader {
  border-bottom: 1px solid var(--gray-40);
}

.Table--border .TableBody .TableHeader {
  border-bottom-width: 1px;
  border-right: 1px solid var(--table-row-border-color);
}

.cauldron--theme-dark .Table--border,
.cauldron--theme-dark .Table--border .TableHeader,
.cauldron--theme-dark .Table--border .TableFooter,
.cauldron--theme-dark .Table--border .TableCell {
  border-color: var(--stroke-dark);
}

.TableFooter .TableCell {
  background: var(--table-header-background-color);
  font-weight: var(--font-weight-medium);
  color: var(--table-header-text-color);
}
