:root {
  --table-header-text-color: var(--gray-90);
  --table-header-background-color: var(--gray-20);
  --table-header-sorting-background-color: #caddec;
  --table-header-sorting-text-color: var(--gray-90);
  --table-cell-text-color: var(--gray-60);
  --table-cell-background-color: var(--white);
  --table-row-border-color: var(--gray-40);
  --table-space: 11px;
  --table-header-sorting-border-color: var(--gray-90);
}

.cauldron--theme-dark {
  --table-header-text-color: var(--white);
  --table-header-background-color: var(--accent-dark);
  --table-header-sorting-background-color: #53636e;
  --table-header-sorting-text-color: var(--white);
  --table-cell-text-color: var(--accent-light);
  --table-cell-background-color: var(--accent-medium);
  --table-row-border-color: #5d676f;
  --table-header-sorting-border-color: var(--accent-info);
}

.Table {
  font-size: var(--text-size-small);
  border-collapse: collapse;
  text-align: left;
  width: 100%;
  table-layout: fixed;
  overflow-wrap: break-word;
}

.TableHeader {
  background: var(--table-header-background-color);
  font-weight: var(--font-weight-medium);
  color: var(--table-header-text-color);
  border-bottom: 2px solid var(--table-row-border-color);
}

.TableHeader .TableHeader__sort-button {
  background-color: transparent;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  padding-left: 0;
  font-family: inherit;
  font-size: var(--text-size-small);
  font-weight: var(--font-weight-medium);
  color: var(--table-header-text-color);
  display: flex;
  justify-content: space-between;
}

.TableHeader .TableHeader__sort-button:hover {
  cursor: pointer;
}

.TableHeader--sorting {
  background: var(--table-header-sorting-background-color);
  border-bottom: 2px solid var(--table-header-sorting-border-color);
}

.TableHeader--sorting .TableHeader__sort-button {
  color: var(--table-header-sorting-text-color);
}

.TableHeader .TableHeader__sort-button span {
  padding-left: var(--space-small);
  display: flex;
  flex-direction: column;
  /* set span's height to an icon's height when no icon is rendered yet */
  height: 1.5rem;
}

.TableCell {
  background: var(--table-cell-background-color);
  color: var(--table-cell-text-color);
  border-bottom: 1px solid var(--table-row-border-color);
}

.TableCell,
.TableHeader {
  padding: var(--table-space) var(--space-smallest);
}

.TableRow:last-child .TableCell {
  border: none;
}
