:root {
  --table-header-text-color: var(--gray-90);
  --table-header-background-color: var(--gray-20);
  --table-header-sorting-background-color: #caddec;
  --table-header-sorting-text-color: var(--gray-90);
  --table-header-background-color-hover: #dddddd;
  --table-cell-text-color: var(--gray-60);
  --table-cell-background-color: var(--white);
  --table-row-border-color: var(--gray-40);
  --table-space: 11px;
  --table-header-sorting-border-color: var(--gray-90);
}

.cauldron--theme-dark {
  --table-header-text-color: var(--white);
  --table-header-background-color: var(--accent-dark);
  --table-header-sorting-background-color: #53636e;
  --table-header-sorting-text-color: var(--white);
  --table-header-background-color-hover: #53636e;
  --table-cell-text-color: var(--accent-light);
  --table-cell-background-color: var(--accent-medium);
  --table-row-border-color: #5d676f;
  --table-header-sorting-border-color: var(--accent-info);
}

.Table {
  table-layout: auto;
  font-size: var(--text-size-small);
  border-collapse: collapse;
  text-align: left;
  width: 100%;
  overflow-wrap: break-word;
}

.TableHeader {
  background: var(--table-header-background-color);
  font-weight: var(--font-weight-medium);
  color: var(--table-header-text-color);
  border-bottom: 2px solid var(--table-row-border-color);
}

.TableHeader[aria-sort] {
  padding: 0;
}

.TableHeader .TableHeader__sort-button {
  background-color: transparent;
  font-family: inherit;
  width: 100%;
  font-size: var(--text-size-small);
  font-weight: var(--font-weight-medium);
  color: var(--table-header-text-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--table-space) var(--space-smallest);
}

.TableHeader__sort-button:hover {
  cursor: pointer;
  background-color: var(--table-header-background-color-hover);
}

.TableHeader__sort-button:focus {
  outline-offset: unset;
}

.TableHeader--sort-ascending,
.TableHeader--sort-descending {
  background: var(--table-header-sorting-background-color);
  border-bottom: 2px solid var(--table-header-sorting-border-color);
}

.TableHeader--sort-ascending .TableHeader__sort-button,
.TableHeader--sort-decscending .TableHeader__sort-button {
  color: var(--table-header-sorting-text-color);
}

/* compensate the gap in height between TableHeader and Icon */
.TableHeader__sort-button span {
  margin: calc(var(--space-half) * -1) 0;
}

.TableCell {
  background: var(--table-cell-background-color);
  color: var(--table-cell-text-color);
  border-bottom: 1px solid var(--table-row-border-color);
}

.TableCell,
.TableHeader {
  padding: var(--table-space) var(--space-smallest);
}

.TableRow:last-child .TableCell {
  border: none;
}
