:root {
  --table-header-text-color: var(--gray-90);
  --table-header-background-color: var(--gray-20);
  --table-cell-text-color: var(--gray-60);
  --table-cell-background-color: var(--white);
  --table-row-border-color: var(--gray-40);
  --table-space: 11px;
}

.cauldron--theme-dark {
  --table-header-text-color: var(--white);
  --table-header-background-color: var(--accent-dark);
  --table-cell-text-color: var(--accent-light);
  --table-cell-background-color: var(--accent-medium);
}

.Table {
  font-size: var(--text-size-small);
  border-collapse: collapse;
  text-align: left;
  width: 100%;
  table-layout: fixed;
  overflow-wrap: break-word;
}

.TableHeader {
  background: var(--table-header-background-color);
  font-family: 'Lato', sans-serif;
  font-weight: var(--font-weight-bold);
  color: var(--table-header-text-color);
  border-bottom: 2px solid var(--table-row-border-color);
}

.TableCell {
  background: var(--table-cell-background-color);
  color: var(--table-cell-text-color);
  border-bottom: 1px solid var(--table-row-border-color);
}

.TableCell,
.TableHeader {
  padding: var(--table-space) var(--space-smallest);
}

.TableRow:last-child .TableCell {
  border: none;
}
