:root {
  --tabs-border-color: var(--gray-20);
  --tab-shadow-color: var(--accent-primary);
  --tab-inactive-background-color: #fff;
  --tab-inactive-text-color: var(--gray-60);
  --tab-panel-background-color: #fff;
  --tab-active-background-color: #fff;
  --tab-hover-background-color: var(--gray-20);
  --tab-panel-color: var(--gray-80);
  --tab-panel-vertical-padding: var(--space-smaller) var(--space-largest)
    var(--space-largest);
  --tab-panel-horizontal-padding: var(--space-large) var(--space-small);
  --tabs-active-text-color: var(--accent-primary-active);
}

.cauldron--theme-dark {
  --tabs-border-color: var(--accent-dark);
  --tab-shadow-color: var(--accent-info);
  --tab-panel-background-color: var(--accent-medium);
  --tab-inactive-background-color: var(--accent-medium);
  --tab-inactive-text-color: var(--accent-light);
  --tab-active-background-color: var(--accent-medium);
  --tab-hover-background-color: var(--accent-dark);
  --tab-panel-color: var(--accent-light);
  --tabs-active-text-color: #fff;
}

.Tabs {
  width: fit-content;
}

.Tabs--vertical {
  display: inline-flex;
}

.Tabs--vertical ~ .TabPanel {
  vertical-align: top;
  display: inline-block;
  padding: var(--tab-panel-vertical-padding);
}

.Tabs--horizontal ~ .TabPanel {
  padding: var(--tab-panel-horizontal-padding);
}

.Tabs--horizontal {
  width: 100%;
  border-bottom: 1px solid var(--tabs-border-color);
  background-color: var(--tab-inactive-background-color);
}

.Tablist {
  display: flex;
  flex-direction: row;
  border-right: 1px solid var(--tabs-border-color);
}

.Tabs--vertical .Tablist {
  flex-direction: column;
}

.Tabs--horizontal .Tablist {
  border-left: 0;
}

.Tab {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.875rem;
  white-space: nowrap;
  list-style-type: none;
  background-color: var(--tab-inactive-background-color);
  color: var(--tab-inactive-text-color);
  padding: var(--space-small);
}

.Tabs--vertical .Tab {
  justify-content: flex-start;
}

.Tabs--vertical .Tab {
  border-right: none;
}

.Tabs--horizontal .Tab {
  border-top: 0;
}

.Tab:hover {
  cursor: pointer;
  background-color: var(--tab-hover-background-color);
  font-weight: var(--font-weight-medium);
}

.Tab--active {
  color: var(--tabs-active-text-color);
  background-color: var(--tab-active-background-color);
  font-weight: var(--font-weight-normal);
  text-decoration: none;
  box-shadow: inset 0 -2px 0 var(--tab-shadow-color);
  z-index: 1;
}

.Tab--active:hover {
  background-color: var(--tab-active-background-color);
}

.Tabs--vertical .Tab--active {
  box-shadow: inset 2px 0 0 var(--tab-shadow-color);
}

.TabPanel {
  overflow-wrap: break-word;
  color: var(--tab-panel-color);
  background-color: var(--tab-panel-background-color);
}

.TabPanel > * {
  margin-top: 0;
}

.TabPanel--hidden {
  display: none !important;
}

.Tabs--thin .Tab {
  height: 2.125rem;
  padding: var(--space-smallest) var(--space-small);
}
