:root {
  --tag-button-icon-size: 18px;
}

.TagButton {
  vertical-align: middle;
}

.Icon-right {
  margin-left: var(--space-half);
}

.TagButton .TagButton__icon svg {
  width: var(--tag-button-icon-size);
  height: var(--tag-button-icon-size);
}
