:root {
  --tag-button-icon-size: 15px;
}

.TagButton {
  vertical-align: middle;
  font-size: inherit;
}

.TagButton__icon {
  margin-left: var(--space-half);
}

.TagButton__icon svg {
  width: var(--tag-button-icon-size);
  height: var(--tag-button-icon-size);
}
