:root {
  --tag-text-color: var(--gray-90);
  --tag-label-text-color: var(--gray-60);
  --tag-background-color: var(--background-light);
  --tag-border-color: var(--gray-30);

  --tag-height: var(--button-height);
  --tag-small-height: 1.5rem;
}

.cauldron--theme-dark {
  --tag-text-color: var(--white);
  --tag-label-text-color: var(--accent-light);
  --tag-background-color: var(--accent-medium);
  --tag-border-color: var(--stroke-dark);
}

.Tag {
  color: var(--tag-text-color);
  background-color: var(--tag-background-color);
  border: 1px solid var(--tag-border-color);
  border-radius: var(--tag-height);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0px var(--space-smallest);
  min-height: var(--tag-height);
  font-weight: var(--font-weight-medium);
}

.Tag--small {
  border-radius: var(--tag-small-height);
  min-height: var(--tag-small-height);
}

.Tag__label {
  color: var(--tag-label-text-color);
  margin-right: 3px;
  font-weight: var(--font-weight-medium);
}
