:root {
  --tag-text-color: var(--gray-90);
  --tag-label-text-color: var(--gray-60);
  --tag-background-color: var(--gray-20);
  --tag-border-color: var(--gray-90);
  --tag-icon-color: var(--gray-60);
}

.cauldron--theme-dark {
  --tag-text-color: var(--white);
  --tag-label-text-color: var(--accent-light);
  --tag-background-color: var(--accent-medium);
  --tag-border-color: var(--accent-medium);
  --tag-icon-color: var(--white);
}

.Tag {
  color: var(--tag-text-color);
  background-color: var(--tag-background-color);
  font-size: var(--text-size-smaller);
  border: 1px solid var(--tag-border-color);
  border-radius: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 8px;
  width: 5.625rem;
  font-weight: var(--font-weight-medium);
}

.Tag__label {
  color: var(--tag-label-text-color);
  margin-right: 3px;
  font-weight: var(--font-weight-normal);
}

.Tag--dismiss {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  width: 6.75rem;
}

.Tag--dismiss:hover,
.Tag--toggle:hover {
  cursor: pointer;
}

.Tag--dismiss .Icon {
  margin-left: var(--space-half);
  color: var(--tag-icon-color);
}

.Tag--dismiss svg {
  height: 16px;
  width: 16px;
}

.Tag--hidden {
  display: none;
}

.Tag--toggle span {
  text-decoration: underline;
}
