.TextEllipsis {
  display: block !important;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* Try and prevent Safari from showing a platform
 * tooltip when visible text is truncated
 * see: https://github.com/dequelabs/cauldron/issues/1926
 * Only apply to single-line ellipsis to avoid Chrome false ellipsis bug
 */
.TextEllipsis:not(.TextEllipsis--multiline):after {
  content: '';
  display: block;
}

.TextEllipsis:where([role='button']) {
  text-align: inherit;
  user-select: inherit;
}

.TextEllipsis--multiline {
  display: -webkit-box !important;
  -webkit-box-orient: vertical;
  white-space: normal;
}
