.TextEllipsis {
  display: block !important;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.TextEllipsis:after {
  content: '';
  display: block;
}

.TextEllipsis:where([role='button']) {
  text-align: inherit;
  user-select: inherit;
}

.TextEllipsis--multiline {
  display: -webkit-box !important;
  -webkit-box-orient: vertical;
  white-space: normal;
}
