:root {
  --timeline-mark-color: var(--accent-success-dark);
  --timeline-mark-border-color: #fff;
  --timeline-separator-color: var(--gray-40);
  --timeline-icon-size: 18px;
}

.cauldron--theme-dark {
  --timeline-mark-color: var(--accent-success-light);
  --timeline-mark-border-color: var(--accent-medium);
  --timeline-separator-color: #54636f;
}

.Timeline {
  margin: 0;
  padding: 0;
}

.Timeline:is(ol) {
  list-style-type: none;
}

.TimelineItem {
  display: flex;
  margin-left: var(--space-smaller);
}

.TimelineItem:not(:last-child) {
  min-height: 3.75rem;
  padding-bottom: var(--space-half);
}

.TimelineItem:not(:last-child) .TimelineItem__details {
  padding-bottom: var(--space-smaller);
}

.TimelineItem__separator {
  display: flex;
  flex-direction: column;
  width: var(--timeline-icon-size);
  --icon-size: var(--timeline-icon-size);
}

.TimelineItem__separator:empty:before,
.TimelineItem__separator > * {
  transform: translateX(calc(-50% + 2px));
  margin-bottom: var(--space-smallest);
  max-width: var(--timeline-icon-size);
}

.TimelineItem__separator:empty:before {
  content: '';
  display: block;
  height: 8px;
  width: 8px;
  margin-top: var(--space-half);
  border-radius: 50%;
  background-color: var(--timeline-mark-color);
}

.TimelineItem:not(:last-child) .TimelineItem__separator:after {
  content: '';
  display: block;
  flex: 1;
  width: 6px;
  border-radius: 3px;
  background-color: var(--timeline-separator-color);
  border: 1px solid var(--timeline-mark-border-color);
  transform: translateX(-1px);
}
