.Toast {
  top: var(--top-bar-height);
  position: fixed;
  color: var(--top-bar-background-color-active);
  font-size: var(--text-size-small);
  z-index: var(--z-index-toast);
  align-items: center;
  box-sizing: border-box;
  display: flex;
  padding: 7.5px 15px;
  right: 0;
  left: 0;
}

.TopBar--thin .Toast {
  top: var(--top-bar-height-thin);
}

.Toast.Toast--success {
  background-color: rgba(209, 255, 164, 0.95);
}

.Toast.Toast--warning {
  background-color: rgba(255, 230, 159, 0.95);
}

.Toast.Toast--error {
  background-color: rgba(255, 161, 161, 0.95);
  z-index: var(--z-index-toast-action-needed);
}

.Toast__dismiss {
  background: transparent;
  border: 0;
}

.Toast__dismiss:focus {
  outline: 2px solid;
}

.Toast__message {
  margin: 0 auto;
}

.Toast__message:before {
  font-family: 'FontAwesome';
  content: '\f0da';
  margin: 0 2px;
  display: inline-block;
  color: transparent;
  margin-right: var(--space-smallest);
}

.Toast__message .fa {
  margin-right: 3px;
}

.Toast__message .Link {
  color: var(--top-bar-background-color-active);
  font-size: var(--text-size-small);
  font-weight: var(--font-weight-light);
  text-decoration: underline;
}

.Toast__message .Link:focus {
  outline: 2px solid;
  outline-offset: var(--space-quarter);
}

.Toast:focus {
  outline: 0;
}

.Toast:focus .Toast__message:before {
  color: var(--top-bar-background-color-active);
}
