.Toast {
  top: var(--top-bar-height);
  position: fixed;
  color: var(--top-bar-background-color-active);
  font-size: var(--text-size-small);
  z-index: var(--z-index-toast);
  align-items: center;
  box-sizing: border-box;
  display: flex;
  padding: 4px 15px;
  right: 0;
  left: 0;
}

.TopBar--thin .Toast {
  top: var(--top-bar-height-thin);
}

.Toast.Toast--success {
  background-color: var(--success);
}

.Toast.Toast--warning {
  background-color: var(--warning);
}

.Toast.Toast--error {
  background-color: var(--error-alt);
  z-index: var(--z-index-toast-action-needed);
}

.Toast.Toast--info {
  background-color: var(--info);
}

.Toast__dismiss {
  background: transparent;
  border: 0;
}

.Toast__dismiss:focus {
  outline: 2px solid;
}

.Toast__message {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Toast__message > span {
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
}

.Toast__message .Icon {
  margin-right: var(--space-smallest);
}

.Toast__message .fa {
  margin-right: 3px;
}

.Toast__message .Link {
  color: var(--top-bar-background-color-active);
  font-size: var(--text-size-small);
  font-weight: var(--font-weight-light);
  text-decoration: underline;
}

.Toast__message .Link:focus {
  outline: 2px solid;
  outline-offset: var(--space-quarter);
}

.Toast:focus {
  outline: 0;
}

.Toast:focus .Toast__message > span {
  border-bottom-color: var(--top-bar-background-color-active);
}
