:root {
  --tooltip-background-color: var(--gray-10);
  --tooltip-border-color: var(--gray-90);
  --tooltip-text-color: var(--gray-90);
  --tooltip-box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 10px 0px;
  --tooltip-info-background-color: var(--white);
  --tooltip-info-border-color: var(--accent-primary);
  --tooltip-info-text-color: var(--gray-90);
  --tooltip-info-box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 10px 0px;
}

/* Dark theme variables */
.cauldron--theme-dark {
  --tooltip-background-color: var(--accent-medium);
  --tooltip-border-color: #b3bfc6;
  --tooltip-text-color: var(--white);
  --tooltip-info-background-color: var(--accent-dark);
  --tooltip-info-border-color: var(--accent-info);
  --tooltip-info-text-color: var(--white);
}

.Tooltip {
  background-color: var(--tooltip-background-color);
  border: 2px solid var(--tooltip-border-color);
  box-shadow: var(--tooltip-box-shadow);
  color: var(--tooltip-text-color);
  font-size: var(--text-size-smaller);
  line-height: var(--text-size-normal);
  padding: var(--space-half) var(--space-small);
  border-radius: 3px;
  z-index: var(--z-index-tooltip);
  text-align: center;
  max-width: calc(100vw - 16px);
  word-break: break-word;
}

.Tooltip--hidden {
  visibility: hidden;
  /* Take the tooltip out of the DOM layout flow so it doesn't reserve space when hidden */
  position: fixed !important;
}

.TooltipInfo {
  background-color: var(--tooltip-info-background-color);
  border: 2px solid var(--tooltip-info-border-color);
  box-shadow: var(--tooltip-info-box-shadow);
  color: var(--tooltip-info-text-color);
  max-width: 12.5rem;
  padding: var(--space-half);
}

/* TooltipArrow needs some dimensions to accurately calculate its positioning */
.TooltipArrow {
  height: 0.1px;
  width: 0.1px;
}

/* Adjust position to try to center the arrow in the tooltip's border */
[class*='Tooltip--top'] .TooltipArrow {
  bottom: -1px;
}

[class*='Tooltip--bottom'] .TooltipArrow {
  top: -1px;
}

[class*='Tooltip--left'] .TooltipArrow {
  right: -1px;
}

[class*='Tooltip--right'] .TooltipArrow {
  left: 0;
}

/*
 * Default tooltip arrow styles
 */

.TooltipArrow:before {
  content: '';
  position: absolute;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 7px solid var(--tooltip-border-color);
  border-bottom: none;
  transform: translateX(-50%);
  transform-origin: top;
}

[class*='Tooltip--bottom'] .TooltipArrow:before {
  transform: translateX(-50%) rotate(180deg);
}

[class*='Tooltip--left'] .TooltipArrow:before {
  transform: rotate(-90deg) translateY(-6px);
}

[class*='Tooltip--right'] .TooltipArrow:before {
  transform: rotate(90deg) translateY(100%);
}

/*
 * Info tooltip arrow styles
 */

.TooltipInfo .TooltipArrow:before {
  border-top-color: var(--tooltip-info-border-color);
}

/*
 * "rich" tooltip with heading-like element and content
 */

.Tooltip--big {
  border: 1px solid var(--field-border-color);
  border-radius: 0;
  padding: 0;
  background: #fff;
  color: var(--text-base);
  width: 247px;
}

.Tooltip--big .Line {
  margin: 0;
}

.TooltipHead {
  background: var(--gray-20);
  font-size: var(--text-size-small);
  color: var(--gray-90);
  padding: var(--space-small) var(--space-large);
  text-align: center;
}

.TooltipContent {
  background: #fff;
  text-align: left;
}

.Tooltip--big ul {
  margin: 10px 15px 10px 28px;
}

.Tooltip--big li {
  margin: 6px 0;
}
