.Tooltip {
  background-color: var(--tooltip-background-color);
  border: 2px solid var(--tooltip-border-color);
  color: var(--tooltip-text-color);
  font-size: var(--text-size-smaller);
  padding: var(--space-half) var(--space-small);
  border-radius: 3px;
  pointer-events: none;
  z-index: var(--z-index-tooltip);
}

.TooltipInfo {
  background-color: var(--tooltip-info-background-color);
  border: 2px solid var(--tooltip-info-border-color);
  color: var(--tooltip-info-text-color);
  max-width: 12.5rem;
}

/* TooltipArrow needs some dimensions to accurately calculate its positioning */
.TooltipArrow {
  height: 0.1px;
  width: 0.1px;
}

[class*='Tooltip--top'] .TooltipArrow {
  bottom: 0;
}

[class*='Tooltip--bottom'] .TooltipArrow {
  top: 0;
}

[class*='Tooltip--left'] .TooltipArrow {
  right: 0;
}

[class*='Tooltip--right'] .TooltipArrow {
  left: 0;
}

/*
 * Default tooltip arrow styles
 */

.TooltipArrow:before {
  content: '';
  position: absolute;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 7px solid var(--tooltip-border-color);
  border-bottom: none;
  transform: translateX(-50%);
  transform-origin: top;
}

.TooltipArrow:after {
  content: '';
  position: absolute;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 5px solid var(--tooltip-background-color);
  border-bottom: none;
  z-index: 1;
  transform: translateX(-50%);
  transform-origin: top;
}

[class*='Tooltip--bottom'] .TooltipArrow:after,
[class*='Tooltip--bottom'] .TooltipArrow:before {
  transform: translateX(-50%) rotate(180deg);
}

[class*='Tooltip--left'] .TooltipArrow:after {
  transform: rotate(-90deg) translateY(-5px);
}

[class*='Tooltip--left'] .TooltipArrow:before {
  transform: rotate(-90deg) translateY(-6px);
}

[class*='Tooltip--right'] .TooltipArrow:after {
  transform: rotate(90deg) translateY(4px);
}

[class*='Tooltip--right'] .TooltipArrow:before {
  transform: rotate(90deg) translateY(100%);
}

/*
 * Info tooltip arrow styles
 */

.TooltipInfo .TooltipArrow:before {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 7px solid var(--tooltip-info-border-color);
}

.TooltipInfo .TooltipArrow:after {
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 4px solid var(--tooltip-info-background-color);
}

.TooltipInfo[class*='Tooltip--bottom'] .TooltipArrow:after,
.TooltipInfo[class*='Tooltip--bottom'] .TooltipArrow:before {
  transform: translateX(-50%) rotate(180deg);
}

.TooltipInfo[class*='Tooltip--left'] .TooltipArrow:after {
  transform: rotate(-90deg) translateY(-3px);
}

.TooltipInfo[class*='Tooltip--left'] .TooltipArrow:before {
  transform: rotate(-90deg) translateY(-6px);
}

.TooltipInfo[class*='Tooltip--right'] .TooltipArrow:after {
  transform: rotate(90deg) translateY(3px);
}

.TooltipInfo[class*='Tooltip--right'] .TooltipArrow:before {
  transform: rotate(90deg) translateY(6px);
}
