:root {
  --top-bar-background-color: var(--white);
  --top-bar-background-color-active: var(--white);
  --top-bar-text-color: var(--accent-dark);
  --top-bar-menuitem-separator: #b3bfc6;
  --top-bar-border-bottom-color: var(--gray-40);
  --top-bar-accent-primary: var(--accent-info);
  --top-bar-accent-warning: var(--accent-warning);
  --top-bar-accent-error: var(--accent-danger);
  --top-bar-accent-success: #62e86b;
  --top-bar-accent-warning-other: var(--accent-danger-light);
  --top-bar-height: 70px;
  --top-bar-height-thin: 43px;
}

.TopBar {
  position: fixed;
  width: 100%;
  height: var(--top-bar-height);
  top: 0;
  flex: none;
  flex-direction: row;
  box-sizing: border-box;
  z-index: var(--z-index-top-bar);
  display: flex;
  align-items: center;
  background-color: var(--top-bar-background-color);
  color: var(--top-bar-text-color);
  border-bottom: solid 1px var(--top-bar-border-bottom-color);
}

.TopBar--thin .TopBar {
  height: var(--top-bar-height-thin);
}

.TopBar > ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  flex: auto;
}

.TopBar li button {
  background: transparent;
  color: inherit;
}

.TopBar > ul > li {
  box-sizing: border-box;
  height: var(--top-bar-height);
  cursor: pointer;
  position: relative;
}

.TopBar--thin .TopBar > ul > li {
  height: var(--top-bar-height-thin);
}

.TopBar > ul > li:not(.TopBar__menu-trigger) {
  padding: 0 var(--space-small);
  font-size: var(--text-size-small);
  height: var(--top-bar-height);
  display: flex;
  align-items: center;
}

.TopBar--thin .TopBar > ul > li:not(.TopBar__menu-trigger) {
  height: var(--top-bar-height-thin);
}

.TopBar > ul > .TopBar__menu-trigger {
  border-bottom: solid 1px var(--top-bar-border-bottom-color);
}

.TopBar > ul > li:focus,
.TopBar > ul > li:hover {
  outline: 0;
}

.TopBar > ul > li:focus:before,
.TopBar > ul > li:hover:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: var(--border-width);
  background-color: var(--top-bar-text-color);
}

.TopBar > ul > li .fa {
  font-size: var(--text-small-medium);
}

.TopBar > ul > li a:focus,
.TopBar > ul > li button:focus {
  outline: 0;
}

.TopBar a {
  color: var(--top-bar-text-color);
  text-decoration: none;
}

.TopBar .MenuItem--align-right {
  margin-left: auto;
}

.TopBar li.MenuItem--active,
.TopBar [aria-current='page'] {
  background-color: var(--top-bar-background-color-active);
}

.TopBar li.MenuItem--active:hover,
.TopBar [aria-current='page'] {
  border-bottom: var(--border-width) solid transparent !important;
}

.TopBar .TopBar__menu-trigger {
  display: flex;
  align-items: center;
  font-size: var(--text-size-medium);
  padding: 0 var(--space-small);
  align-self: flex-start;
  box-sizing: border-box;
  background-color: var(--top-bar-background-color);
  color: var(--top-bar-text-color);
}

.TopBar__item--icon {
  text-align: center;
}

.MenuItem__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.MenuItem--separator {
  border-left: 1px solid var(--top-bar-menuitem-separator);
}

.TopBar .OptionsMenu__list {
  top: var(--top-bar-height);
  right: 0;
}

/* Dark Theme */
.cauldron--theme-dark {
  --top-bar-background-color: var(--accent-dark);
  --top-bar-menuitem-separator: #5d676f;
  --top-bar-border-bottom-color: var(--gray-70);
  --top-bar-text-color: var(--accent-light);
  --top-bar-background-color-active: #0b0e11;
}

.cauldron--theme-dark .TopBar {
  border-bottom: none;
}

.cauldron--theme-dark .TopBar [aria-current='page'] {
  background-color: var(--top-bar-background-color-active);
}

.cauldron--theme-dark .TopBar > ul > .TopBar__menu-trigger {
  border-bottom: solid 1px var(--top-bar-border-bottom-color);
}

.cauldron--theme-dark .TopBar > ul > li:focus-within:before,
.cauldron--theme-dark .TopBar > ul > li:hover:before {
  background-color: var(--top-bar-text-color);
}

@media (max-width: 71.25rem) {
  .TopBar > ul {
    border: 0;
  }
}
