.TopBar {
  background-color: var(--top-bar-background-color);
  color: var(--top-bar-text-color);
  position: fixed;
  width: 100%;
  height: var(--top-bar-height);
  top: 0;
  flex: none;
  flex-direction: row;
  box-sizing: border-box;
  z-index: var(--z-index-top-bar);
  display: flex;
  align-items: center;
}

.TopBar--light {
  background-color: var(--top-bar-background-color-light);
  color: var(--top-bar-text-color-light);
}

.TopBar--thin .TopBar {
  height: var(--top-bar-height-thin);
}

.TopBar > ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  flex: auto;
}

.TopBar li button {
  background: transparent;
  color: inherit;
}

.TopBar > ul > li {
  box-sizing: border-box;
  height: var(--top-bar-height);
  cursor: pointer;
  position: relative;
}

.TopBar--thin .TopBar > ul > li {
  height: var(--top-bar-height-thin);
}

.TopBar > ul > li:not(.TopBar__menu-trigger) {
  padding: 0 var(--space-medium);
  font-size: var(--text-size-small);
  height: var(--top-bar-height);
  display: flex;
  align-items: center;
}

.TopBar--thin .TopBar > ul > li:not(.TopBar__menu-trigger) {
  height: var(--top-bar-height-thin);
}

.TopBar > ul > li:focus-within,
.TopBar > ul > li:hover {
  outline: 0;
}

.TopBar > ul > li:focus-within:before,
.TopBar > ul > li:hover:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--top-bar-text-color);
  height: var(--border-width);
}

.TopBar > ul > li .fa {
  font-size: var(--text-small-medium);
}

.TopBar > ul > li a:focus,
.TopBar > ul > li button:focus {
  outline: 0;
}

.TopBar a {
  color: var(--top-bar-text-color);
  text-decoration: none;
}

.TopBar .MenuItem--align-right {
  margin-left: auto;
}

.TopBar li.MenuItem--active,
.TopBar [aria-current='page'] {
  background-color: var(--top-bar-background-color-active);
}

.TopBar li.MenuItem--active:hover,
.TopBar [aria-current='page'] {
  border-bottom: var(--border-width) solid transparent !important;
}

.TopBar .TopBar__menu-trigger {
  display: flex;
  align-items: center;
  background-color: var(--top-bar-background-color);
  color: var(--top-bar-text-color);
  font-size: var(--text-size-medium);
  padding: 0 var(--space-small);
  align-self: flex-start;
  box-sizing: border-box;
}

.TopBar__item--icon {
  text-align: center;
}

.MenuItem__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.MenuItem--separator {
  border-left: 1px solid var(--top-bar-menuitem-separator);
}
