.dqpl-top-bar {
  background-color: var(--top-bar-background-color);
  color: var(--top-bar-text-color);
  position: fixed;
  width: 100%;
  height: var(--top-bar-height);
  top: 0;
  flex: none;
  flex-direction: row;
  box-sizing: border-box;
  box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.5);
  z-index: var(--z-index-top-bar);
}

.dqpl-top-bar-thin .dqpl-top-bar {
  height: var(--top-bar-height-thin);
}

.dqpl-top-bar > ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.dqpl-top-bar li button {
  background: transparent;
  color: inherit;
}

.dqpl-top-bar > ul > li {
  box-sizing: border-box;
  border-top: var(--border-width) solid transparent;
  border-bottom: var(--border-width) solid transparent;
  height: var(--top-bar-height);
  cursor: pointer;
  position: relative;
}

.dqpl-top-bar-thin .dqpl-top-bar > ul > li {
  height: var(--top-bar-height-thin);
}

.dqpl-top-bar > ul > li:not(.dqpl-menu-trigger) {
  padding: 0 var(--space-medium);
  font-size: var(--text-size-small);
  height: var(--top-bar-height);
  display: flex;
  align-items: center;
}

.dqpl-top-bar-thin .dqpl-top-bar > ul > li:not(.dqpl-menu-trigger) {
  height: var(--top-bar-height-thin);
}

.dqpl-top-bar > ul > li.dqpl-account-item {
  display: flex;
  padding: 0 var(--space-small);
}

.dqpl-top-bar > ul > li.dqpl-account-item .dqpl-avatar {
  border: 1px solid var(--tile-background-color);
  background-color: var(--disabled);
  color: var(--header-text-color);
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--text-size-medium);
  margin-right: 14px;
}

.dqpl-top-bar > ul > li.dqpl-account-item .dqpl-account-info .dqpl-name {
  font-size: var(--text-size-small);
  color: var(--tile-background-color);
}

.dqpl-top-bar > ul > li.dqpl-account-item .dqpl-account-info .dqpl-company {
  font-size: var(--text-size-smaller);
  color: var(--top-bar-text-color);
}

.dqpl-top-bar > ul > li.dqpl-account-item .fa-caret-down {
  margin-left: var(--space-small);
}

.dqpl-top-bar > ul > li.dqpl-account-item .dqpl-dropdown {
  width: 100%;
  box-sizing: border-box;
}

.dqpl-top-bar > ul > li.dqpl-account-item[data-dropdown-expanded='true']:hover {
  border-bottom: var(--border-width) solid transparent;
}

.dqpl-top-bar > ul > li:focus-within,
.dqpl-top-bar > ul > li:hover {
  border-bottom: var(--border-width) solid var(--top-bar-text-color);
  outline: 0;
}

.dqpl-top-bar > ul > li .fa {
  font-size: var(--text-small-medium);
}

.dqpl-top-bar > ul > li a:focus,
.dqpl-top-bar > ul > li button:focus {
  outline: 0;
}

.dqpl-top-bar a {
  color: var(--top-bar-text-color);
  text-decoration: none;
}

.dqpl-top-bar .dqpl-right-aligned {
  margin-left: auto;
}

.dqpl-top-bar li.dqpl-active {
  background-color: var(--top-bar-background-color-active);
}

.dqpl-top-bar li.dqpl-active:hover {
  border-bottom: var(--border-width) solid transparent !important;
}

.dqpl-top-bar .dqpl-menu-trigger {
  display: flex;
  align-items: center;
  background-color: var(--top-bar-background-color);
  color: var(--top-bar-text-color);
  font-size: var(--text-size-medium);
  padding: 0 var(--space-small);
  align-self: flex-start;
  box-sizing: border-box;
  border-top: var(--border-width) solid transparent;
  border-bottom: var(--border-width) solid transparent;
}

.dqpl-top-bar-icon-item {
  text-align: center;
}
