.Text--largest {
  font-size: var(--text-size-largest);
}

.Text--larger {
  font-size: var(--text-size-larger);
}

.Text--large {
  font-size: var(--text-size-large);
}

.Text--large-medium {
  font-size: var(--text-size-large-medium);
}

.Text--medium {
  font-size: var(--text-size-medium);
}

.Text--normal {
  font-size: var(--text-size-normal);
}

.Text--small-medium {
  font-size: var(--text-small-medium);
}

.Text--small {
  font-size: var(--text-size-small);
}

.Text--smaller {
  font-size: var(--text-size-smaller);
}

.Text--smallest {
  font-size: var(--text-size-smallest);
}

.Weight--thin {
  font-weight: var(--font-weight-thin);
}

.Weight--light {
  font-weight: var(--font-weight-light);
}

.Weight--normal {
  font-weight: var(--font-weight-normal);
}

.Weight--medium {
  font-weight: var(--font-weight-medium);
}

.Weight--bold {
  font-weight: var(--font-weight-bold);
}

.Weight--ultra-bold {
  font-weight: var(--font-weight-ultra-bold);
}

body .Hidden {
  display: none;
}

.Flexr {
  display: flex;
  align-items: center;
}

.MenuItem__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.MenuItem--separator {
  border-left: 1px solid var(--top-bar-menuitem-separator);
}

/* utility for using the left-bar style focus indication */
.Block,
[data-skip-target='true'] {
  position: relative;
}

.Block::before,
[data-skip-target='true']::before {
  content: '';
  position: absolute;
  left: -15px;
  background-color: transparent;
  top: 0;
  bottom: 0;
  width: var(--border-width);
}

.Block:focus,
[data-skip-target='true']:focus {
  outline: 0;
}

.Block:focus::before,
[data-skip-target='true']:focus::before {
  background-color: var(--top-bar-background-color);
}
