.text--largest {
  font-size: var(--text-size-largest);
}

.text--larger {
  font-size: var(--text-size-larger);
}

.text--large {
  font-size: var(--text-size-large);
}

.text--large-medium {
  font-size: var(--text-size-large-medium);
}

.text--medium {
  font-size: var(--text-size-medium);
}

.text--normal {
  font-size: var(--text-size-normal);
}

.text--small-medium {
  font-size: var(--text-small-medium);
}

.text--small {
  font-size: var(--text-size-small);
}

.text--smaller {
  font-size: var(--text-size-smaller);
}

.text--smallest {
  font-size: var(--text-size-smallest);
}

.weight--thin {
  font-weight: var(--font-weight-thin);
}

.weight--light {
  font-weight: var(--font-weight-light);
}

.weight--normal {
  font-weight: var(--font-weight-normal);
}

.weight--medium {
  font-weight: var(--font-weight-medium);
}

.weight--bold {
  font-weight: var(--font-weight-bold);
}

.weight--ultra-bold {
  font-weight: var(--font-weight-ultra-bold);
}

body .is--hidden {
  display: none;
}

.is--flex-row {
  display: flex;
  align-items: center;
}
