/*
 * variable naming convention:
 * --{component name (if applicable)}-{style property}-{...modifiers (if applicable, hypen separated)}
 * example: --foo-background-color-light
 */

:root {
  /* background colours */
  --top-bar-background-color: #02101a;
  --top-bar-background-color-active: #0b0e11;
  --skip-link-background-color: rgba(11, 14, 17, 0.9);
  --workspace-background-color: #fdfdfe;
  --tile-background-color: #ffffff;
  --scrim-background-color: rgba(0, 0, 0, 0.5);

  /* text colours */
  --text-color-base: #666666;
  --text-color-light: #ffffff;
  --text-color-light-disabled: rgba(255, 255, 255, 0.5);
  --header-text-color: #4d4d4d;
  --header-text-color-dark: #333333;
  --link-text-color: #3c7aae;
  --link-text-color-light: rgba(60, 122, 174, 0.1);
  --top-bar-text-color: #d4dde0;

  /* fields */
  --field-border-color: #cccccc;
  --field-border-color-hover: #b3b3b3;
  --field-border-color-error: #d93251;
  --field-border-color-error-hover: #b6223d;
  --field-background-color-disabled: #f2f2f2;

  /* buttons */
  --button-background-color-primary: #3c7aae;
  --button-background-color-secondary: #f2f2f2;
  --button-text-color-dark: #5a6268;
  --button-text-color-light: #ffffff;

  /* tooltips */
  --tooltip-border-color: #999999;

  /* borders */
  --top-bar-menuitem-separator: rgba(255, 255, 255, 0.4);

  /* accents */
  --error: #d93251;
  --disabled: #cccccc;
  --focus: #d71ef7;
  --focus-active: rgba(215, 30, 247, 0.25);
  --focus-glow: rgba(193, 27, 222, 0.75);
  --metric-accent-low: #f7846c;
  --metric-accent-mid: #8ba6c5;
  --metric-accent-full: #a5db75;
  --top-bar-accent-primary: #6cdaf2;
  --top-bar-accent-warning: #ffdd75;
  --top-bar-accent-error: #fe6d6b;
  --top-bar-accent-success: #62e86b;
  --top-bar-accent-warning-other: #f7846c;

  /* spacing (padding/margin) */
  --space-smallest: 8px;
  --space-small: 16px;
  --space-medium: 18px;
  --space-large: 24px;
  --space-largest: 29px;
  --space-half: 4px;
  --space-three-quarters: 6px;
  --space-quarter: 2px;
  --space-large-with-underborder: 18px 24px;
  --space-gutter: 40px;

  /* text size */
  --text-size-largest: 112px;
  --text-size-larger: 56px;
  --text-size-large: 45px;
  --text-size-large-medium: 34px;
  --text-size-medium: 24px;
  --text-small-medium: 20px;
  --text-size-normal: 18px;
  --text-size-small: 15px;
  --text-size-smaller: 13px;
  --text-size-smallest: 12px;

  /* font weight */
  --font-weight-thin: 100;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-weight-ultra-bold: 900;

  /* specfic dimensions */
  --top-bar-height: 69px;
  --top-bar-height-thin: 43px;
  --menu-width: 257px;
  --input-min-width: 250px;
  --border-width: 6px;
  --layout-padding: 9px;
  --content-max-width: 1000px;

  /* z-index */
  --tooltip-z-index: 9;
  --scrim-z-index: 7;
  --modal-z-index: 21;
  --modal-z-index-scrim: 20;
  --scrim-z-index-action-needed: 23;
  --size-bar-z-index: 9;
  --toast-z-index: 8;
  --toast-z-index-action-needed: 24;
  --listbox-z-index: 6;
  /* ensure this is a higher value than the rest (above)! */
  --top-bar-z-index: 25;
  /* ensure this is 1 higher than the top bar z-index */
  --skip-container-z-index: calc(var(--top-bar-z-index) + 1);

  /* list */
  --list-separator: rgba(153, 153, 153, 0.15);
}
