/*
 * variable naming convention:
 * --{component name (if applicable)}-{style property}-{...modifiers (if applicable, hypen separated)}
 * example: --foo-background-color-light
 */

:root {
  /* color palette */
  --white: #ffffff;
  --gray-10: #fdfdfe;
  --gray-20: #f2f2f2;
  --gray-30: #e0e0e0;
  --gray-40: #cccccc;
  --gray-60: #666666;
  --gray-80: #4d4d4d;
  --gray-90: #333333;
  --accent-dark: #02101a;
  --accent-medium: #283640;
  --accent-light: #d4dde0;
  --accent-success: #a5db75;
  --accent-success-light: #d1ffa4;
  --accent-error: #d93251;
  --accent-error-active: #c92e40;
  --accent-danger: #fe6d6b;
  --accent-danger-light: #f7846c;
  --accent-warning: #ffdd75;
  --accent-warning-light: #ffa1a1;
  --accent-caution: #ffe69f;
  --accent-info: #6cdaf2;
  --accent-info-light: #83e4fa;
  --accent-primary: #3c7aae;
  --accent-primary-active: #316091;
  --accent-secondary: var(--gray-20);
  --accent-secondary-active: var(--gray-30);
  --focus-light: #c11bde;
  --focus-dark: #e267ff;

  /* background colours */
  --top-bar-background-color: var(--accent-dark);
  --top-bar-background-color-active: #0b0e11;
  --top-bar-background-color-light: #fff;
  --top-bar-background-color-light-active: #fff;
  --skip-link-background-color: rgba(11, 14, 17, 0.9);
  --workspace-background-color: var(--gray-10);
  --tile-background-color: var(--white);
  --scrim-background-color: rgba(0, 0, 0, 0.5);

  /* text colours */
  --text-color-base: var(--gray-60);
  --text-color-light: var(--white);
  --text-color-light-disabled: rgba(255, 255, 255, 0.5);
  --header-text-color: var(--gray-80);
  --header-text-color-dark: var(--gray-90);
  --link-text-color: var(--accent-primary);
  --link-text-color-light: rgba(60, 122, 174, 0.1);
  --top-bar-text-color: var(--accent-light);
  --top-bar-text-color-light: var(--accent-dark);

  /* fields */
  --field-border-color: var(--gray-40);
  --field-border-color-underline: var(--gray-80);
  --field-border-color-hover: var(--gray-80);
  --field-border-color-focus: var(--accent-primary);
  --field-border-color-focus-glow: rgba(60, 122, 174, 0.7);
  --field-border-color-error: var(--accent-error);
  --field-border-color-error-hover: #c42f41;
  --field-border-color-error-focus-glow: rgba(217, 50, 81, 0.7);
  --field-border-color-disabled: rgba(204, 204, 204, 0.25);
  --field-border-color-disabled: rgba(204, 204, 204, 0.25);
  --field-background-color-disabled: #f7f7f7;
  --field-required-text-color: var(--gray-60);
  --field-label-text-color: var(--gray-90);

  /* buttons */
  --button-background-color-primary: var(--accent-primary);
  --button-background-color-primary-disabled: #79a7d9;
  --button-outline-color-primary: var(--button-background-color-primary);
  --button-background-color-primary-active: var(--accent-primary-active);

  --button-background-color-secondary: var(--gray-20);
  --button-background-color-secondary-disabled: var(--gray-30);
  --button-outline-color-secondary: var(--gray-90);
  --button-background-color-secondary-active: var(--gray-30);

  --button-background-color-error: var(--error);
  --button-background-color-error-disabled: #db6379;
  --button-background-color-error-active: var(--accent-error-active);
  --button-outline-color-error: var(--error);

  --button-text-color-dark: var(--gray-90);
  --button-text-color-light: var(--white);
  --button-focus-ring-color: var(--focus-light);
  --button-thin-height: 23px;

  /* icon buttons */
  --icon-button-background-color-primary: var(
    --button-background-color-primary
  );
  --icon-button-background-color-primary-disabled: var(
    --button-background-color-primary-disabled
  );
  --icon-button-background-color-primary-active: var(
    --button-background-color-primary-active
  );
  --icon-button-outline-color-primary: var(--button-outline-color-primary);

  --icon-button-background-color-secondary: var(
    --button-background-color-secondary
  );
  --icon-button-background-color-secondary-disabled: var(
    --button-background-color-secondary-disabled
  );
  --icon-button-background-color-secondary-active: var(
    --button-background-color-secondary-active
  );
  --icon-button-outline-color-secondary: var(--button-outline-color-secondary);
  --icon-button-border-color-secondary: #dadada;

  --icon-button-background-color-error: var(--button-background-color-error);
  --icon-button-background-color-error-disabled: var(
    --button-background-color-error-disabled
  );
  --icon-button-background-color-error-active: var(
    --button-background-color-error-active
  );
  --icon-button-outline-color-error: var(--button-outline-color-error);

  --icon-button-content-color-light-disabled: #ccc;
  --icon-button-background-color-light: #dadada;
  --icon-button-background-color-light-active: #c2c2c2;
  --icon-button-outline-color-light: var(--icon-button-background-color-light);

  --icon-button-content-color-dark-disabled: #fff 40%;
  --icon-button-background-color-dark: var(--accent-medium);
  --icon-button-background-color-dark-disabled: var(--accent-medium);
  --icon-button-background-color-dark-active: var(--accent-dark);
  --icon-button-outline-color-dark: var(--icon-button-background-color-dark);

  /* tooltips */
  --tooltip-background-color: var(--gray-90);
  --tooltip-border-color: #fff;
  --tooltip-text-color: var(--gray-20);
  --tooltip-info-background-color: var(--gray-20);
  --tooltip-info-border-color: var(--gray-90);
  --tooltip-info-text-color: var(--gray-90);

  /* poinout */
  --pointout-border-color: var(--accent-success);
  --pointout-background-color: var(--accent-medium);
  --pointout-text-color: var(--accent-light);

  /* borders */
  --top-bar-menuitem-separator: rgba(255, 255, 255, 0.4);
  --top-bar-menuitem-separator-light: #cccccc;
  --top-bar-border-bottom-color-light: #cccccc;

  /* accents */
  --error: var(--accent-error);
  --disabled: var(--gray-40);
  --focus: #d71ef7;
  --warning: var(--accent-caution);
  --error-alt: var(--accent-warning-light);
  --info: var(--accent-info-light);
  --success: var(--accent-success-light);
  --focus-active: rgba(215, 30, 247, 0.25);
  --focus-glow: rgba(193, 27, 222, 0.75);
  --metric-accent-low: var(--accent-danger-light);
  --metric-accent-mid: #8ba6c5;
  --metric-accent-full: var(--accent-success);
  --top-bar-accent-primary: var(--accent-info);
  --top-bar-accent-warning: var(--accent-warning);
  --top-bar-accent-error: var(--accent-danger);
  --top-bar-accent-success: #62e86b;
  --top-bar-accent-warning-other: var(--accent-danger-light);

  /* spacing (padding/margin) */
  --space-smallest: 8px;
  --space-small: 16px;
  --space-medium: 18px;
  --space-large: 24px;
  --space-largest: 29px;
  --space-half: 4px;
  --space-three-quarters: 6px;
  --space-quarter: 2px;
  --space-large-with-underborder: 18px 24px;
  --space-gutter: 40px;

  /* text size */
  --text-size-largest: 112px;
  --text-size-larger: 56px;
  --text-size-large: 45px;
  --text-size-large-medium: 34px;
  --text-size-medium: 24px;
  --text-small-medium: 20px;
  --text-size-normal: 18px;
  --text-size-small: 15px;
  --text-size-smaller: 13px;
  --text-size-smallest: 12px;

  /* font weight */
  --font-weight-thin: 100;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-weight-ultra-bold: 900;

  /* specfic dimensions */
  --top-bar-height: 69px;
  --top-bar-height-thin: 43px;
  --select-min-height: 33px;
  --menu-width: 257px;
  --input-min-width: 250px;
  --select-width: 300px;
  --border-width: 6px;
  --select-arrow-spacing: 10px;
  --layout-padding: 9px;
  --content-max-width: 1000px;

  /* z-index */
  --z-index-tooltip: 9;
  --z-index-loader: 8;
  --z-index-scrim: 7;
  --z-index-dialog: 21;
  --z-index-dialog-scrim: 20;
  --z-index-scrim-action-needed: 23;
  --z-index-side-bar: 9;
  --z-index-toast: 8;
  --z-index-toast-action-needed: 24;
  --z-index-listbox: 6;
  /* ensure this is a higher value than the rest (above)! */
  --z-index-top-bar: 25;
  /* ensure this is 1 higher than the top bar z-index */
  --z-index-skip-container: calc(var(--z-index-top-bar) + 1);

  /* list */
  --list-separator: rgba(153, 153, 153, 0.15);

  /* tags */
  --tag-text-color: var(--gray-90);
  --tag-label-text-color: var(--gray-60);
  --tag-background-color: var(--gray-20);

  /* tables */
  --table-header-text-color: var(--gray-90);
  --table-header-background-color: var(--gray-20);
  --table-cell-text-color: var(--gray-60);
  --table-cell-background-color: var(--white);
  --table-row-border-color: var(--gray-40);
  --table-space: 11px;

  /* data lists */
  --data-list-value-background-color: var(--gray-20);
  --data-list-border-color: var(--gray-40);
  --data-list-text-color: var(--gray-90);
  --data-list-value-text-color: var(--gray-60);
  --data-list-space: 11px;
  --data-list-value-width: 187px;
}
