.Icon {
  display: inline-block;
  vertical-align: middle;
}

.Icon svg {
  display: block;
  height: 18px;
  width: 18px;
}

/* Icon--down is the default orientation */
.Icon__down {
}

.Icon__up {
  transform: scaleY(-1);
}

.Icon__left {
  transform: rotate(90deg);
}

.Icon__right {
  transform: rotate(-90deg);
}
