@media only screen and (max-width: 450px) {
  .FieldWrapDemo .Panel {
    max-width: 100%;
  }
}

.FieldWrapDemo .Panel {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 600px;
}
