.progress {
  list-style-type: none;
  display: flex;
  padding: 0;
}

.progress li {
  background-color: var(--top-bar-background-color);
  color: #fff;
  height: 1.5em;
  width: 1.5em;
  border-radius: 50%;
  text-align: center;
  line-height: 1.5;
  margin-right: 0.5em;
}

.cauldron--theme-dark .tooltip-tabstop-demo .tooltip-link {
  color: var(--white);
}
