.Plain__Dialog {
  min-height: var(--dialog-header-height);
}

.Plain__Dialog .Dialog__header {
  background: none;
  border-bottom: none;
  justify-content: flex-end;
  display: none;
}

.Plain__Dialog .Dialog__content {
  padding: 0;
  border: 0;
}

.Plain__Dialog .Dialog__inner {
  border: 0;
}

.Dialog__inner button {
  cursor: pointer;
}

.Plain__Dialog__header .Dialog__close {
  display: none;
}

.Dialog {
  position: relative;
}

.Dialog__reset {
  background: none;
  border: none;
  box-shadow: none;
  z-index: var(--z-index-dialog);
}

.Plain__Dialog .Dialog__close {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
}
