.Accordion {
  max-width: 600px;
}

.Accordion__panel {
  max-height: max-content;
  min-height: 250px;
}

.Demo-props {
  margin-bottom: var(--space-small);
}

.cauldron--theme-dark p .Link {
  color: var(--white);
}

.cauldron--theme-dark p .Link:hover {
  color: var(--accent-light);
}
