.TopBar li a {
  font-weight: 100;
}

h1,
h2,
h3 {
  font-weight: 300;
  color: var(--heading-text-color);
}

code {
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}

/* adjust ftpo positioning for demo layout */
.Pointout:not(.Pointout--auto) {
  position: relative;
}

.MenuItem__logo {
  padding: 0;
}

.MenuItem__logo img {
  width: 38px;
}

[role='menubar'] .OptionsMenu__list {
  width: 140px;
  top: calc(var(--top-bar-height) - 6px);
}

.TopBar--thin [role='menubar'] .OptionsMenu__list {
  top: calc(var(--top-bar-height-thin) - 6px);
}

.MenuItem--arrow-down::after {
  content: '';
  border: 6px solid transparent;
  border-top: 7px solid;
  border-bottom: 0 none;
  margin-left: 5px;
}

.Demo ul {
  margin: var(--space-large);
}

.Footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  flex: none;
  flex-direction: row;
  box-sizing: border-box;
  z-index: var(--z-index-sidebar);
  display: flex;
  align-items: center;
  height: 50px;
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: #5d676f;
  background-color: #283640;
  background-size: cover;
}

.Footer-links {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-left: var(--space-smallest);
}

.Footer-links li {
  margin: var(--space-smallest);
}

.SideBar-with-footer,
.Layout {
  bottom: 50px;
}

.Copyright {
  margin-left: auto;
  margin-right: var(--space-smallest);
}
