.TopBar li a {
  font-weight: 100;
}

h1,
h2,
h3 {
  font-weight: 300;
  color: var(--heading-text-color);
}

code {
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}

/* adjust ftpo positioning for demo layout */
.Pointout:not(.Pointout--auto) {
  position: relative;
}

.MenuItem__logo {
  padding: 0;
}

.MenuItem__logo img {
  width: 38px;
}

[role='menubar'] .OptionsMenu__list {
  width: 140px;
  top: calc(var(--top-bar-height) - 6px);
}

.TopBar--thin [role='menubar'] .OptionsMenu__list {
  top: calc(var(--top-bar-height-thin) - 6px);
}

.MenuItem--arrow-down::after {
  content: '';
  border: 6px solid transparent;
  border-top: 7px solid;
  border-bottom: 0 none;
  margin-left: 5px;
}

.Demo ul {
  margin: var(--space-large);
}

.Footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  height: 50px;
  border-top: 1px solid var(--footer-border-color);
  background-color: var(--footer-background-color);
}

.Footer__links {
  display: flex;
  list-style: none;
  margin-left: var(--space-smallest);
  color: var(--gray-60);
}

.Footer__links li {
  margin: var(--space-smallest);
}

.SideBar--with-footer,
.Layout {
  bottom: 50px;
}

.Copyright {
  margin-left: auto;
  margin-right: var(--space-smallest);
  color: var(--gray-60);
}

.cauldron--theme-dark .Footer__links,
.cauldron--theme-dark .Copyright {
  color: var(--accent-light);
  color: var(--options-menu-text-color);
}

.cauldron--theme-light .Footer {
  --footer-background-color: var(--white);
  --footer-border-color: #b3bfc6;
}

.cauldron--theme-dark .Footer {
  --footer-background-color: var(--accent-medium);
  --footer-border-color: var(--stroke-dark);
}

.Home__links {
  margin: 2px 0 0 3px;
}
