.dqpl-top-bar li a {
  font-weight: 100;
}

h1,
h2,
h3 {
  font-weight: 300;
  color: var(--header-text-color-dark);
}

code {
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}

/* adjust ftpo positioning for demo layout */
.dqpl-pointer-wrap:not(.dqpl-ftpo-auto) {
  position: relative;
}

.dqpl-logo-item {
  padding: 0;
}

.dqpl-logo-item img {
  width: 38px;
}

[role='menubar'] .dqpl-options-menu {
  width: 140px;
  top: calc(var(--top-bar-height) - 6px);
}

.dqpl-top-bar-thin [role='menubar'] .dqpl-options-menu {
  top: calc(var(--top-bar-height-thin) - 6px);
}

.dropdown-arrow-down::after {
  content: '';
  border: 6px solid transparent;
  border-top: 7px solid;
  border-bottom: 0 none;
  margin-left: 5px;
}
