.TopBar li a {
  font-weight: 100;
}

h1,
h2,
h3 {
  font-weight: 300;
  color: var(--header-text-color-dark);
}

code {
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}

/* adjust ftpo positioning for demo layout */
.Pointout:not(.Pointout--auto) {
  position: relative;
}

.MenuItem__logo {
  padding: 0;
}

.MenuItem__logo img {
  width: 38px;
}

[role='menubar'] .OptionsMenu__list {
  width: 140px;
  top: calc(var(--top-bar-height) - 6px);
}

.TopBar--thin [role='menubar'] .OptionsMenu__list {
  top: calc(var(--top-bar-height-thin) - 6px);
}

.MenuItem--arrow-down::after {
  content: '';
  border: 6px solid transparent;
  border-top: 7px solid;
  border-bottom: 0 none;
  margin-left: 5px;
}
