.TopBar li a {
  font-weight: 100;
}

h1,
h2,
h3 {
  font-weight: 400;
  color: var(--heading-text-color);
}

code {
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}

body {
  overflow: auto;
}

.Content {
  display: grid;
  grid-template-columns: var(--menu-width) 1fr;
  grid-template-rows: auto;
  margin-top: var(--top-bar-height);
  height: calc(100vh - var(--top-bar-height));
}

.Layout,
.Navigation {
  overflow: auto;
}

.Footer {
  grid-column: 1 / 3;
}

.Layout {
  position: static;
  padding: 0 var(--space-small);
}

.Layout .Main {
  max-width: 100%;
  width: 70rem;
  padding: 0;
  border-left: none;
}

.Layout .Main h1 {
  margin-bottom: 0;
  padding-bottom: var(--space-smallest);
}

.Layout .Main h1 + p {
  margin: 0;
  padding-bottom: var(--space-smallest);
  font-size: var(--text-size-normal);
}

.Layout > :first-child,
.Layout > :last-child {
  padding-bottom: var(--space-medium) !important;
}

h1:has(> .Permalink),
h2:has(> .Permalink),
h3:has(> .Permalink),
h4:has(> .Permalink),
h5:has(> .Permalink),
h6:has(> .Permalink) {
  display: flex;
}

.Permalink {
  opacity: 0;
  display: flex;
  height: 24px;
  width: 24px;
  justify-content: center;
}

.Permalink svg {
  height: 100%;
  width: 100%;
}

h1:has(> .Permalink):hover .Permalink,
h2:has(> .Permalink):hover .Permalink,
h3:has(> .Permalink):hover .Permalink,
h4:has(> .Permalink):hover .Permalink,
h5:has(> .Permalink):hover .Permalink,
h6:has(> .Permalink):hover .Permalink,
.Permalink:focus {
  opacity: 1;
}

/* adjust ftpo positioning for demo layout */
.Pointout:not(.Pointout--auto) {
  position: relative;
}

.MenuItem__logo img {
  width: 38px;
}

@media (max-width: 348px) {
  .MenuItem__logo span {
    display: none;
  }
}

[role='menubar'] .OptionsMenu__list {
  width: 140px;
  top: calc(var(--top-bar-height) - 6px);
}

.TopBar--thin [role='menubar'] .OptionsMenu__list {
  top: calc(var(--top-bar-height-thin) - 6px);
}

.MenuItem--arrow-down::after {
  content: '';
  border: 6px solid transparent;
  border-top: 7px solid;
  border-bottom: 0 none;
  margin-left: 5px;
}

.Demo ul {
  margin: var(--space-large);
}

@media (max-width: 64rem) {
  .Navigation {
    z-index: var(--z-index-side-bar);
    position: absolute;
    max-height: calc(100vh - var(--top-bar-height));
  }

  .Content {
    grid-template-columns: 1fr;
  }
}
