name: Lint

on:
  pull_request:
    branches:
      - develop

jobs:

  eslint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/dependencies
        with:
          root: true
          packages-react: true
      - run: yarn lint
      - name: typecheck
        run: |
          yarn --cwd packages/react build
          yarn typecheck
