name: Tests

on:
  pull_request:
    branches:
      - develop
      - master
  workflow_call:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

jobs:
  react:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/dependencies
        with:
          root: false
          packages-react: true
          packages-styles: true
      - name: Build packages
        run: |
          NODE_ENV=production yarn --cwd packages/react build
      - run: yarn test

  screenshots:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/dependencies
        with:
          root: true
          packages-react: true
          packages-styles: true
      - name: Build packages
        run: |
          NODE_ENV=production yarn --cwd packages/react build
          NODE_ENV=production yarn --cwd packages/styles build
      - name: Screenshot testing
        run: |
          yarn screenshots:docker
          yarn screenshots
      - name: Screenshot test results
        uses: actions/upload-artifact@v5
        if: failure()
        with:
          name: screenshot-test-results
          path: ./e2e/test-results
          retention-days: 14

  a11y:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/dependencies
        with:
          packages-react: true
          packages-styles: true
      - name: Build packages
        run: |
          NODE_ENV=production yarn --cwd packages/react build
          NODE_ENV=production yarn --cwd packages/styles build
      - run: yarn build:docs
      # Newer versions of Ubuntu have increased security restrictions in which
      # puppeteer is unable to launch without additional configuration
      # See: https://chromium.googlesource.com/chromium/src/+/main/docs/security/apparmor-userns-restrictions.md
      - run: |
          export CHROME_DEVEL_SANDBOX=/opt/google/chrome/chrome-sandbox
          sudo chown root /opt/google/chrome/chrome-sandbox
          sudo chmod 4755 /opt/google/chrome/chrome-sandbox
          yarn test:a11y
